<!--<form (submit)="submit()" class="layout-container">-->
	<div
		*ngIf="eo"
		[ngBusy]="{ busy: [busy, saving], message: 'webclient.busy.message' | i18n }"
		class="layout-container"
	>
		<nuc-grid
			*ngIf="webLayout?.grid"
			class="first-grid"
			[webGrid]="webLayout?.grid"
			[eo]="eo"
		></nuc-grid>

		<nuc-web-table
			*ngIf="webLayout?.table"
			class="first-table"
			[webComponent]="webLayout?.table"
			[eo]="eo"
		></nuc-web-table>

		<nuc-web-grid-calculated
			*ngIf="webLayout?.calculated"
			[webGridCalculated]="webLayout?.calculated"
			[eo]="eo"
			style="display: flex"
		>
		</nuc-web-grid-calculated>
	</div>
<!--</form>-->
