html, body {
	height: 100%;
	min-height: 100%;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

header, footer {
	flex: 0 0 auto;
}

header {
	background: yellow;
}

footer {
	background: lime;
}

main {
	height: 100%;
	/*
    flex: 1 1 auto;
    */
	background: green;
	display: flex;
}

nav#sidebar {
	flex: 1;
	width: 200px;
	background-color: lightblue;
	display: flex;
	flex-direction: column;
}

#sidebar-list {
	flex: 20;
	background-color: orange;
}

#content {
	flex: 2;
	background-color: lightgray;
	display: flex;
	flex-direction: column;
}

#detail {
	flex: 1;
	background-color: orange;
	width: 100%;
}

#detail-data-list {
	flex: 20;
	background-color: gray;
	overflow: auto;
}



nav#menu {
	float: left;
}
.menuEntry {
	float: left;
	padding: 10px;
}
