<div
	#listContainer
	id="sidebar-list-container"
	infinite-scroll
	[scrollWindow]="false"
	[infiniteScrollDistance]="4"
	[infiniteScrollThrottle]="100"
	(scrolled)="onScroll()"
>
	<table
		class="sideview-list-resizable table-hover"
		resizable-columns
		*ngIf="sideviewmenuPreference"
	>
		<tr
			*ngFor="let eo of getEntityObjects()"
			(click)="selectEo(eo)"
			[ngClass]="tdClass(eo)"
			class="sideview-list-entry"
			[ngStyle]="{'background-color': eo.getRowColor()}"
		>
			<td class="icon-column">
				<img class="sideview-list-icon" *ngIf="eo.getLinks().stateIcon"
				     src="{{eo.getLinks().stateIcon.href}}">
			</td>
			<td
				class="dragable-column"
			>
				<div
					class="title-content cell-content ellipsis"
				>{{getTitle(eo) | async}}</div>
				<div
					class="info-content cell-content ellipsis"
				>{{getInfo(eo) | async}}</div>
			</td>
		</tr>
	</table>
</div>
