<div id="searchfilter" class="searchfilter">
	<input 
		placeholder="{{::'webclient.text.searchfilter' | i18n}}" 
		ng-model="master.svQuery" 
		class="form-control"
		ng-disabled="master.dirty" 
	 >
	<span class="searchfilter-overlay">
		<a class="open-reference" ng-click="searchByField(master)" title="{{::'webclient.text.searchfilterfield' | i18n}}">
			<span class="glyphicon glyphicon-zoom-in"></span>
		</a>
	</span>
	 
	<span 
		id="clear-searchfilter" 
		class="glyphicon glyphicon-remove-circle" 
		ng-show="master.svQuery" 
		ng-click="master.svQuery='';">
	</span>
</div>