	<div class="dialog">
	<div class="modal-header">
	    <h4>{{dialog.header}}</h4>
	    <div
		    isteven-multi-select
		    input-model="attributes"
		    output-model="selectedAttributes"
		    button-label="name"
		    item-label="name"
		    tick-property="ticked"
		    orientation="horizontal"
		    helper-elements="filter" 
		>
</div>

	<div class="modal-body">
		<table style="margin-left:24px;">
			<tr ng-repeat="attribute in attributes" ng-show="attribute.ticked">
				<td style="min-width:480px;">
				<ng-switch ng-if="attribute.sinput" on="attribute.sinput">
				
					<div ng-switch-when='input' style="margin-bottom: 6px;">
				    <label for '#{{attribute.boAttrId}}' style="float: left;"> {{attribute.name}}:&nbsp; </label>
					<input id='{{attribute.boAttrId}}' class="form-control" style="float: right; width: auto;"
						ng-model='attribute.search'
					/>
					</div>
					
					<div ng-switch-when='checkbox' style="margin-bottom: 6px;">
				    <label for '#c{{attribute.boAttrId}}' style="float: left;"> {{attribute.name}}:&nbsp; </label>
					<input id='c{{attribute.boAttrId}}' class="form-control" style="float: right; width: auto;"
						ng-model='attribute.search'
				        type='checkbox'
					/>
					</div>
					
					<div ng-switch-default isteven-multi-select style="float: left; margin-bottom: 6px;"
						input-model="attribute.valuelist"
					    output-model="attribute.selected"
						item-label="name"
						button-label="name"
						tick-property="ticked"
						orientation="horizontal"
						helper-elements="filter"
						on-open="fOpen(attribute)"
						on-search-change="fSearchChange(data, attribute)"
					    button-prefix="attribute.name"			
					>
								
				</ng-switch>
				
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" ng-click="search()"><i18n key="webclient.button.search" /></button>
	    <button class="btn btn-warning" ng-click="cancel()"><i18n key="webclient.button.cancel" /></button>
	</div>
</div>

