<ng-include src="'app/header/header.html'"></ng-include>
<div class="container-fluid">
	<div class="container">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label> <input type="checkbox" ng-model="logAngularRESTCalls" id="logAngularRESTCalls"> Log Angular REST calls to JavaScript console</label>
					</div>
				</div>
			</div>
			<div class="form-group">
					<label for="logAngularRESTCallsContainingResponseInput" class="col-sm-2 control-label">Log Angular REST response to JavaScript console</label>
					<div class="col-sm-10" style="float: left;">
						<input type="text" class="form-control" id="logAngularRESTCallsContainingResponseInput"
							placeholder="show debug information if Angular REST response contains this text" ng-model="logAngularRESTCallsContainingResponse"
							style="float: left; width: 80%;"> <span
							class="glyphicon glyphicon-remove-circle" ng-click="logAngularRESTCallsContainingResponse=null"
							style="float: left; font-size: 18px; margin-left: 10px;"></span>
					</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
						<label> <input type="checkbox" ng-model="logSQL" id="logSQL"> Log SQL Messages to server log</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="debugSQLInput" class="col-sm-2 control-label">Debug SQL</label>
				<div class="col-sm-10" style="float: left;">
					<input type="text" class="form-control" id="debugSQLInput"
						placeholder="show debug information for SQL statement in server log" ng-model="debugSQL"
						style="float: left; width: 80%;"> <span
						class="glyphicon glyphicon-remove-circle" ng-click="debugSQL=null"
						style="float: left; font-size: 18px; margin-left: 10px;"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="minExecTime" class="col-sm-2 control-label">Min Executation Time</label>
				<div class="col-sm-10" style="float: left;">
					<input type="number" class="form-control" id="minExecTime"
					       placeholder="show debug information for sql statments with minimum executation time in ms" ng-model="minExecTime"
					       style="float: left; width: 80%;"> <span
						class="glyphicon glyphicon-remove-circle" ng-click="minExecTime=null"
						style="float: left; font-size: 18px; margin-left: 10px;"></span>
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-sm-2"></div>
				<div class="col-sm-10">
					<a ng-click="deleteMyPreferences();" id="delete-preferences-button" class="btn btn-danger">Delete my preferences</a>
				</div>
			</div>
			
		</form>
	</div>
</div>