<ng-include src="'app/header/header.html'" ></ng-include>
<div class="content-block container-fluid">
    <div id="home-menu" class="well well2 col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <div class="scroll-pane">
            <table id="menu-table">
                <tr ng-repeat-start="menu in menues | orderBy:'path'"><td colspan="3" ng-click="toggleMenuItem(menu);" class="menu-item" ng-class="{'menu-hidden': menu.hidden}"><b>{{menu.path}}</b></td></tr>
                <tr ng-repeat="entry in menu.entries | orderBy:'name'" ng-hide="menu.hidden">
                    <td><img ng-src="{{entry.links.resourceicon.href}}" style="height:16px; width:16px;"/></td><td>&nbsp;</td>
                    <td>
                      <a ng-if="!entry.createNew && !entry.processMetaId" href="{{viewLink}}/{{entry.boMetaId}}/{{entry.searchFilterId}}">{{entry.name}}</a>
                      <a ng-if="entry.createNew && !entry.processMetaId" href="{{viewLink}}/{{entry.boMetaId}}/new">{{entry.name}}</a>
                      <a ng-if="!entry.createNew && entry.processMetaId" href="{{viewLink}}/{{entry.boMetaId}}/process/{{entry.processMetaId}}">{{entry.name}}</a>
                      <a ng-if="entry.createNew && entry.processMetaId" href="{{viewLink}}/{{entry.boMetaId}}/process/{{entry.processMetaId}}/new">{{entry.name}}</a>
                    </td>
                </tr>
                <tr ng-repeat-end=""></tr>
            </table>
        </div>
        <!--div style="text-align: right; font-size:3px; color: lightgrey;">
            <span>{{sessionID}}</span>
        </div-->

    </div>
</div>
