<div class="container">
	<div class="row mt-5">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<input id="generateAndRun" class="form-control form-control-sm btn btn-primary" style="width:100%"
			       type="button"
			       value="{{'webclient.businesstests.generate.and.run' | i18n}}"
			       (click)="generateAndRun()"
			       [disabled]="started"/>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-md-12">
			<nuc-progress-bar
				[progress]="progress"
				*ngIf="started"
			></nuc-progress-bar>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-md-12">
			<nuc-businesstest-overview></nuc-businesstest-overview>
		</div>
	</div>

	<div class="row mt-4">
		<div class="col-md-12">
			<textarea id="output" class="form-control" rows="20" readonly>{{executionResult}}</textarea>
		</div>
	</div>

	<div class="row mt-2">
		<a class="col-md-12 text-center"
		   [routerLink]="['/businesstests/advanced']">
			{{'webclient.businesstests.advanced' | i18n}}
		</a>
	</div>
</div>
