<div class="button-div">
	<!-- TODO: Avoid function isUserButtonDisabled() for performance -->
	<a
	  	ng-disabled="isUserButtonDisabled(button, master)"
	  	class="btn btn-inline btn-default action-button"
	  	ng-attr-style="height: {{::button.height}}px; width: {{::button.width}}px; margin-left: 0px;"
	  	ng-click="userPushButton(button, master)"
	   	tabindex="{{::button.tabindex}}"
	>
		<!-- TODO: Neither image nor text should expand the div -->
		<img ng-if='::button.icon' ng-src='{{::button.icon}}'>
		{{::button.text}}
	</a>
</div>
