<div class="modal-header">
	<h5 class="modal-title">{{ options.title }}</h5>
	<button type="button" class="close" (click)="close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<p [innerHTML]="options.message"></p>
</div>
<div class="modal-footer">
	<button
		id="button-ok"
		type="button"
		class="btn btn-primary"
		(click)="close()">
		{{ 'webclient.button.ok' | i18n }}
	</button>
</div>
