<div class="preference-item-icons">
	<a (click)="updatePreferenceShare(preferenceItem);" class="update-preference-share"
	   title="{{'webclient.preferences.publishSharedContent' | i18n}}"
	   *ngIf="preferenceItem.customized">
		<span class="fa fa-floppy-o"></span>
	</a>
	<a (click)="discardChanges(preferenceItem);"
	   class="delete-customized-preference-item"
	   title="{{'webclient.preferences.discardCustomizedPreferenceItem' | i18n}}"
	   *ngIf="preferenceItem.customized">
		<span class="fa fa-undo"></span>
	</a>
	<!--
	<a (click)="deletePreferenceItem(preferenceItem);" class="delete-preference-item"
	   title="{{'webclient.preferences.deletePreferenceItem' | i18n}}"
	   *ngIf="!preferenceItem.shared">
		<span class="fa fa-trash"></span>
	</a>
	-->
</div>
