<div *ngIf="visible">
	<div class="perspective-button-outer-container">
		<div class="perspective-button-inner-container">

			<nuc-perspective-button
				*ngFor="let perspectivePref of getModel().perspectives"
				[perspectivePref]="perspectivePref"
			>
			</nuc-perspective-button>

			<button
				id="newPerspective"
				*ngIf="isNewAllowed()"
				class="btn btn-success perspective-button perspective-button-new"
				(click)="openNew()"
				style="margin-top: 4px;"
			>
				+
			</button>
		</div>
	</div>
</div>
