.navigation-container {
	margin: auto;

	/* TODO height of header + height of textsearch input - header height should be flexible */
	/*padding-bottom: 92px;*/

	display: flex;
	flex-direction: column;
}

.list-group {
	flex: 10;
}

#navigation-textfilter .form-group {
	margin-bottom: 0px;
}

ul {
	overflow: auto;
}

ul li {
	overflow-x: hidden;
}
