<div>
	<!-- generation buttons -->
	<div style="margin-top:4px;">
		<span style="white-space: nowrap;">
		Generator: 
		<ui-select ng-model="generations.selected"
				theme="bootstrap"
				ng-change='generate(generations)'
				style="display:inline-block; vertical-align:middle; min-width:200px;"
				>
			<ui-select-match class="ui-select-match" placeholder="" id='generation-{{generation.id}}' >{{$select.selected.name}}</ui-select-match>
			<ui-select-choices class="ui-select-choices"  repeat="generation in availableGenerations | filter:{internal:'false'} track by $index">
				<div ng-bind-html="generation.name"></div>
			</ui-select-choices>
		</ui-select>
		</span>
         
	</div>
</div>