<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="vm.cancel()"><span aria-hidden="true">×</span><span class="sr-only">{{::'webclient.button.close' | i18n}}</span></button>
	<h4 class="modal-title">{{vm.header}}</h4>
</div>
<div class="modal-body">
	<div ng-bind-html="vm.message" style="margin-top:-16px;"></div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="vm.ok()" id="okButton"><i18n key="webclient.button.ok" /></button>
    <button ng-if="vm.showCancelButton != false" class="btn btn-warning" ng-click="vm.cancel()" id="cancelButton"><i18n key="webclient.button.cancel" /></button>
</div>
