<div class="error-dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" ng-click="ok()"><span aria-hidden="true">×</span><span class="sr-only">{{::'webclient.button.close' | i18n}}</span></button>
		<a id="errorWarningSign" class="btn btn-warn" ng-if="dialog.showWarningSign">
			<span class="fa fa-exclamation-circle" style="width: 24px; height: 30px;" ></span>
		</a>

		<h4 class="modal-title">{{dialog.header}}</h4>
	</div>
	<div class="modal-body">
		<div class="error-message">
			
			<div ng-bind-html="dialog.messageTitle">{{dialog.messageTitle}}</div>
			<br/>
			<a ng-if="dialog.allowStacktrace && dialog.stacktrace" ng-click="dialog.showStacktrace = !dialog.showStacktrace">Details</a>
			<div class="stacktrace" ng-show="dialog.showStacktrace" ng-bind-html="dialog.stacktrace"></div>
		</div>
	</div>
	<div class="modal-footer">
	    <button type="submit" class="btn btn-primary" ng-click="ok()" id="okButton"><i18n key="webclient.button.ok" /></button>
	</div>
</div>
