<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="vm.cancel()"><span aria-hidden="true">×</span><span class="sr-only">{{::'webclient.button.close' | i18n}}</span></button>
	<h4 class="modal-title">&nbsp;{{vm.header}}</h4>
</div>
<div class="modal-body" style="margin-top:-26px;">
	<img src="{{vm.message}}" width=100%/>
</div>
