.date-input-container {
	background-color: white;
	height: 24px;
	padding-right: 4px;
}

.date-input-container > input {
	width: 88px;
}

.datepicker-container {
	opacity: 0;
	height: 0px;
	position: relative;
	top: -14px;
}
