#change-state-gradient {
	height: 10px;
	width: 100%;
	border: 1px solid;
}

.modal-body {
	text-align: center;
}

.state-table {
	margin: 0 auto;
}

.state-arrow {
	width: 5rem;
}

img {
	max-height: 2em;
	object-fit: contain;
}
