<div id="change-state-dialog" class="dialog">
	<div class="modal-header">
		<div id="change-state-gradient" [ngStyle]="getGradientStyle()"></div>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="row">
				<table class="state-table mt-1">
					<tr>
						<td class="align-bottom">
							<img *ngIf="currentStateInfo?.buttonIconResourceURL"
							     [src]="currentStateInfo.buttonIconResourceURL"/>

							<h4 *ngIf="!currentStateInfo?.buttonIconResourceURL" class="mb-0">
								{{currentStateInfo?.numeral}}
							</h4>
						</td>
						<td rowspan="2">
							<span class="fa fa-arrow-right state-arrow"></span>
						</td>
						<td class="align-bottom">
							<img *ngIf="targetStateInfo?.buttonIconResourceURL"
							     [src]="targetStateInfo.buttonIconResourceURL"/>

							<h4 *ngIf="!targetStateInfo?.buttonIconResourceURL" class="mb-0">
								{{targetStateInfo?.numeral}}
							</h4>
						</td>
					</tr>
					<tr>
						<td>
							{{currentStateInfo?.statename}}
						</td>
						<td>
							{{targetStateInfo?.statename}}
						</td>
					</tr>
				</table>
			</div>
			<div *ngIf="targetStateInfo?.description" class="mt-4 text-center">
				{{targetStateInfo?.description}}
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" (click)="ok()" id="button-ok">
			{{'webclient.button.ok' | i18n}}
		</button>

		<button class="btn btn-warning" (click)="cancel()" id="button-cancel">
			{{'webclient.button.cancel' | i18n}}
		</button>
	</div>
</div>

