#sideviewmenu-selector, #sideviewmenu-name-input,
#searchtemplate-selector, #searchtemplate-name-input {
	height: 29px;
	width: 411px;
	max-width: 600px;
	margin-right: 8px;
}

.icons a {
	margin-right: 1px;
}

.card-block .form-group {
	margin-bottom: 10px;
}

.sideviewmenu-icon span,
.searchtemplate-icon span {
	color: #337ab7;
	cursor: pointer;
}

#delete-sideviewmenu span,
#delete-searchtemplate span {
	color: #d9534f;
}

#new-sideviewmenu span,
#new-searchtemplate span {
	color: #5cb85c;
}

#sideviewmenu-columns-config {
	width: 100%;
}

.row {
	width: 100%;
}

.btn-primary:not(.active) {
	background-color: white;
	color: gray;
}
