<div class="modal-header">
	<h5 class="modal-title">{{meta.getEntityName()}} </h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">

	<div id="accordion" role="tablist" aria-multiselectable="true">

		<div class="card" *ngIf="showViewTypeConfig()">
			<div class="card-header" role="tab" id="heading-viewtype-config">
				<h5 class="mb-0">
					<a id="viewtype-preferences-header" data-toggle="collapse" data-parent="#accordion" href="#collapse-viewtype-config" aria-expanded="true"
					   aria-controls="collapse-viewtype-config">
						{{'webclient.sidebar.viewtype' | i18n}}
					</a>
				</h5>
			</div>

			<div id="collapse-viewtype-config" class="collapse in show" role="tabpanel"
			     aria-labelledby="heading-viewtype-config">
				<div class="card-block">
					<form class="form-inline">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="btn-group" data-toggle="buttons">
										<label
											class="btn btn-primary active"
											[ngClass]="{active: viewtype === 'table'}"
											(click)="setViewtype('table')"
										>
											<input type="radio" name="options" id="table" autocomplete="off" > {{'webclient.sideview.columns' | i18n}}
										</label>
										<label
											class="btn btn-primary"
											[ngClass]="{active: viewtype === 'card'}"
											(click)="setViewtype('card')"
										>
											<input type="radio" name="options" id="card" autocomplete="off"> {{'webclient.sideview.titleinfo' | i18n}}
										</label>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div id="view-type-config" class="form-group">

								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header" role="tab" id="headingColumnConfig">
				<h5 class="mb-0">
					<a id="column-preferences-header" data-toggle="collapse" data-parent="#accordion" href="#collapseColumnConfig" aria-expanded="true"
					   aria-controls="collapseColumnConfig">
						{{'webclient.sideview.columns' | i18n}}
					</a>
				</h5>
			</div>

			<div id="collapseColumnConfig" class="collapse in show" role="tabpanel"
			     aria-labelledby="headingColumnConfig">
				<div class="card-block">

					<form class="form-inline">

						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<input
										id="sideviewmenu-name-input"
										*ngIf="selectedSideviewmenuPreference && editSideviewmenu"
										type="text"
										class="form-control form-control-sm"
										placeholder="{{'webclient.preferences.type.sideviewmenu' | i18n}}"
										name="prefName"
										[(ngModel)]="selectedSideviewmenuPreference.name"
										(ngModelChange)="handleNameChange(selectedSideviewmenuPreference)"
									>
									<select
										#sideviewmenuSelector
										id="sideviewmenu-selector"
										*ngIf="!editSideviewmenu"
										name="prefSelector"
										[(ngModel)]="selectedSideviewmenuPreference"
										(ngModelChange)="selectSideviewmenu(selectedSideviewmenuPreference)"
										class="form-control form-control-sm"
									>
										<option value="" disabled>{{'webclient.preferences.select' | i18n}}</option>
										<option *ngFor="let pref of sideviewmenuPreferences" [ngValue]="pref">
											{{ pref.name }}
											<span *ngIf="pref.shared && !pref.customized">({{'webclient.preferences.shared' | i18n}})</span>
											<span *ngIf="pref.customized">({{'webclient.preferences.customized' | i18n}})</span>
										</option>
									</select>
									<div class="icons" *ngIf="alowSidebarCustomization">
										<a
											id="edit-sideviewmenu"
											class="sideviewmenu-icon"
											(click)="editSideviewmenuPref()"
											*ngIf="selectedSideviewmenuPreference && !editSideviewmenu"
											title="{{'webclient.sideviewmenu.edit' | i18n}}"
										>
											<span class="fa fa-pencil"></span>
										</a>
										<a
											id="save-sideviewmenu"
											class="sideviewmenu-icon"
											(click)="editSideviewmenuPrefDone()"
											*ngIf="editSideviewmenu"
										>
											<span class="fa fa-check"></span>
										</a>
										<a
											id="delete-sideviewmenu"
											class="sideviewmenu-icon"
											(click)="deleteSideviewmenuPref()"
											*ngIf="showDeleteSideviewmenuPref()"
											title="{{'webclient.sideviewmenu.delete' | i18n}}"
										>
											<span class="fa fa-trash"></span>
										</a>
										<a
											id="discard-sideviewmenu"
											class="sideviewmenu-icon"
											(click)="discardSideviewmenuPref()"
											*ngIf="selectedSideviewmenuPreference && selectedSideviewmenuPreference.customized"
											title="{{'webclient.sideviewmenu.discard' | i18n}}"
										>
											<span class="fa fa-undo"></span>
										</a>
										<a
											id="new-sideviewmenu"
											*ngIf="!editSideviewmenu"
											class="sideviewmenu-icon"
											(click)="newSideviewmenuPref()"
											title="{{'webclient.sideviewmenu.new' | i18n}}"
										>
											<span class="fa fa-plus"></span>
										</a>
										<a
											id="reset-sorting"
											*ngIf="showResetSortingButton"
											class="sideviewmenu-icon"
											(click)="resetSorting()"
											title="{{'webclient.sideviewmenu.reset.sorting' | i18n}}"
										>
											<span class="fa fa-sort-amount-asc"></span>
										</a>
									</div>
								</div>

							</div>
							<div class="col-sm-12" *ngIf="alowSidebarCustomization">
								<div id="sideviewmenu-columns-config" class="form-group">
									<nuc-two-side-multi-select
										[(list)]="sideviewmenuColumns"
										(onChange)="sideviewmenuColumnsChanged(true)"
										[availableHeaderKey]="'viewPreferences.availableColumnsHeader'"
										[selectedHeaderKey]="'viewPreferences.selectedColumnsHeader'"
									>
									</nuc-two-side-multi-select>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="card" *ngIf="showSearchfilterConfig()">
			<div class="card-header" role="tab" id="headingSearchtemplateConfig">
				<h5 class="mb-0">
					<a id="searchtemplate-preferences-header" class="collapsed" data-toggle="collapse"
					   data-parent="#accordion" href="#collapseSearchtemplateConfig"
					   aria-expanded="false" aria-controls="collapseSearchtemplateConfig">
						{{'webclient.searchtemplate' | i18n}}
					</a>
				</h5>
			</div>
			<div id="collapseSearchtemplateConfig" class="collapse" role="tabpanel"
			     aria-labelledby="headingSearchtemplateConfig">
				<div class="card-block">
					<form class="form-inline">

						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<input
										id="searchtemplate-name-input"
										*ngIf="selectedSearchtemplatePreference && editSearchtemplate"
										type="text"
										class="form-control form-control-sm"
										placeholder="{{'webclient.preferences.type.searchtemplate' | i18n}}"
										name="prefName"
										[(ngModel)]="selectedSearchtemplatePreference.name"
										(ngModelChange)="handleNameChange(selectedSearchtemplatePreference)"
									>

									<select
										id="searchtemplate-selector"
										*ngIf="!editSearchtemplate"
										name="prefSelector"
										[(ngModel)]="selectedSearchtemplatePreference"
										(ngModelChange)="selectSearchtemplate(selectedSearchtemplatePreference)"
										class="form-control form-control-sm"
									>
										<option value="" disabled>{{'webclient.preferences.select' | i18n}}</option>
										<option *ngFor="let pref of searchtemplatePreferences" [ngValue]="pref">
											{{ pref.name }}
											<span *ngIf="pref.shared && !pref.customized">({{'webclient.preferences.shared' | i18n}})</span>
											<span *ngIf="pref.customized">({{'webclient.preferences.customized' | i18n}})</span>
										</option>
									</select>
									<div class="icons">
										<a
											id="edit-searchtemplate"
											class="searchtemplate-icon"
											(click)="editSearchtemplatePref()"
											*ngIf="selectedSearchtemplatePreference && !editSearchtemplate"
											title="{{'webclient.searchtemplate.searchtemplate.edit' | i18n}}"
										>
											<span class="fa fa-pencil"></span>
										</a>
										<a
											id="save-searchtemplate"
											class="searchtemplate-icon"
											(click)="editSearchtemplatePrefDone()"
											*ngIf="editSearchtemplate"
										>
											<span class="fa fa-check"></span>
										</a>
										<a
											id="delete-searchtemplate"
											class="searchtemplate-icon"
											(click)="deleteSearchtemplatePref()"
											*ngIf="showDeleteSearchtemplatePref()"
											title="{{'webclient.searchtemplate.searchtemplate.delete' | i18n}}"
										>
											<span class="fa fa-trash"></span>
										</a>
										<a
											id="new-searchtemplate"
											*ngIf="!editSearchtemplate"
											class="searchtemplate-icon"
											(click)="newSearchtemplatePref()"
											title="{{'webclient.searchtemplate.searchtemplate.new' | i18n}}"
										>
											<span class="fa fa-plus"></span>

										</a>
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<div id="searchtemplate-columns-config" class="form-group">
									<nuc-two-side-multi-select
										[(list)]="searchtemplateColumns"
										(onChange)="searchtemplateColumnsChanged(true)"
										[availableHeaderKey]="'viewPreferences.availableColumnsHeader'"
										[selectedHeaderKey]="'viewPreferences.selectedColumnsHeader'"
									>
									</nuc-two-side-multi-select>
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>


</div>
<div class="modal-footer">
	<button id="button-ok" type="button" class="btn btn-primary" (click)="save()">{{ 'webclient.button.ok' | i18n }}
	</button>
</div>
