<div id="restservice-detail" class="card" *ngIf="restService">
	<div class="card-header">
			<span
				class="badge http-method method-{{restService.method | lowercase}}"
				[class.active]="restService == selectedRestService"
			>
				{{restService.method}}
				<span
					class="fa fa-lock"
					*ngIf="restService.finalized"
				    [title]="'webclient.restExplorer.restService.finalized' | i18n"
				></span>
				<span
					class="fa fa-sign-in"
					*ngIf="restService.validateSession"
				    [title]="'webclient.restExplorer.restService.validateSession' | i18n"
				></span>
			</span>
		<i class="fa fa-arrow-right" aria-hidden="true"></i>
		<span title="Return Type">{{restService.returnType}}</span>
	</div>
	<div class="card-block">
		<form class="form-inline">
			<div class="form-group">
					<span *ngFor="let pathElement of pathElements" class="pathElement">
						<span *ngIf="!pathElement.param">
							<span
								class="form-control, path-input"
								[ngClass]="{separator: pathElement.isSeparator}"
							>
								{{pathElement.name}}
							</span>
						</span>
						<span *ngIf="pathElement.param">
							<input
								type="text"
								class="form-control, path-input"
								[(ngModel)]="pathElement.param.value"
								[ngModelOptions]="{standalone: true}"
								title="{{pathElement.param.name}}"
								placeholder="{{pathElement.placeholder}}"
							>
						</span>
					</span>

			</div>
			<div class="form-group">
					<textarea
						[(ngModel)]="postData"
						[ngModelOptions]="{standalone: true}"
						class="form-control"
						*ngIf="restService.method === 'PUT' || restService.method === 'POST'"
					></textarea>
			</div>
			<button type="submit" (click)="executeRestService()" class="btn btn-primary">Execute</button>
		</form>
		<div class="description" *ngIf="restService.description"><h4>Description</h4>
			<p>
				{{restService.description}}
			</p>
		</div>

		<div *ngIf="error" class="alert alert-danger" role="alert">
			<span class="fa fa-exclamation-circle" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			{{error}}
		</div>
	</div>
</div>
<div *ngIf="response" class="restservice-response-container card scrollable">
	<div class="card-header">
		Response
	</div>
	<div class="card-block">
		<pre id="restservice-response" [innerHtml]="response | prettyjson:3 | urlpipe"></pre>
	</div>
</div>
<div *ngIf="error" class="restservice-response-container card scrollable">
	<div class="card-header">
		Error
	</div>
	<div class="card-block">
		<div class="alert alert-danger" role="alert">
			<pre id="restservice-error" [innerHtml]="error | prettyjson:3"></pre>
		</div>
	</div>
</div>
