<div class="content">
	<nuc-server-log-options
		[(autoScroll)]="autoScroll"
		[(logLevel)]="logLevel"
		[(textFilter)]="textFilter"
		class="content-row"
	></nuc-server-log-options>

	<div class="output-container">
		<div class="output-wrapper">
			<div class="output">
				<div
					class="log-line"
					*ngFor="let message of messages | serverLogFilter: { message: textFilter, level: logLevel === 'ALL' ? '' : logLevel }; let last = last"
					[ngClass]="'log-level-' + message.level"
					title="{{message.loggerName}}"
				>
					<div class="log-cell log-number">#{{message.counter}}</div>
					<div class="log-cell log-date">{{message.formattedDate}}</div>
					<div class="log-cell log-level">{{message.level}}</div>
					<div class="log-cell log-level"></div>
					<div class="log-cell log-message {{message.loggerName}}"
					     [innerHTML]="message.message | highlight: textFilter"></div>
					<nuc-is-last [isLast]="last" (onLastDone)="scrollOutput($event)"></nuc-is-last>
				</div>
				<div style="display: table-row; height: 100%"></div>
			</div>
		</div>
	</div>

	<div class="content-row">
		<div class="output-options form-inline">
			<div style="display: table-row; width: 100%">
				<div class="clear-output">
					<button
						(click)="messages = []"
						title="{{'webclient.serverInfo.log.clear.tooltip' | i18n}}"
						class="btn">
						{{'webclient.serverInfo.log.clear' | i18n}}
					</button>
				</div>
				<div class="limit-output">
					<label for="line-limit">{{'webclient.serverInfo.log.messageLimit' | i18n}}</label>
					<input
						id="line-limit"
						type="text"
						[(ngModel)]="messageLimit"
						class="form-control"
						title="{{'webclient.serverInfo.log.messageLimit.tooltip' | i18n}}"
					/>
				</div>
			</div>
		</div>
	</div>

	<div class="content-row">
		<a [href]="getDownloadLink()" class="download">
			{{'webclient.serverInfo.log.download' | i18n}}
		</a>
	</div>
</div>
