<div class="modal-header">
	<h5 class="modal-title">{{ options.title }}</h5>
	<button type="button" class="close" (click)="no()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<p [innerHTML]="options.message | replaceLinebreaks"></p>
</div>
<div class="modal-footer">
	<button id="button-ok" type="button" class="btn btn-primary" (click)="yes()">
		{{ 'webclient.button.yes' | i18n }}
	</button>
	<button id="button-cancel" type="button" class="btn btn-warning" (click)="no()">
		{{ 'webclient.button.no' | i18n }}
	</button>
</div>
