<ng-include src="'app/header/header.html'"></ng-include>
<div class="container-fluid">

	<div class="row" style="margin-top: 20px; float: left; white-space: nowrap">
		<div class="col-sm-2">
			<a href="#businesstests/advanced">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				{{::'webclient.businesstests.link.backToOverview' | i18n}}
			</a>
		</div>
	</div>

	<div class="container">
		<div class="row" style="margin-top: 20px; margin-bottom: 20px">
			<div class="col-sm-2">
				<input id="saveButton" class="btn btn-primary col-sm-12" type="button"
				       value="{{::'webclient.businesstests.save' | i18n}}"
				       data-ng-click="ctrl.save()"
				       data-ng-disabled="ctrl.started"/>
			</div>
			<div class="col-sm-2">
				<input id="executeButton" class="btn btn-success col-sm-12" type="button"
				       value="{{::'webclient.businesstests.execute' | i18n}}"
				       data-ng-click="ctrl.run()"
				       data-ng-disabled="ctrl.new || ctrl.started"/>
			</div>
			<div class="col-sm-7"></div>
			<a href="#" id="deleteLink" class="col-sm-1"
			   data-ng-click="ctrl.delete()"
			   data-ng-disabled="ctrl.new || ctrl.started">
				{{::'webclient.businesstests.delete' | i18n}}
			</a>
		</div>

		<span id="testUID" style="display: none">{{ctrl.test.id.uid}}</span>

		<div class="row">
			<div class="form-group col-sm-4">
				<label for="testName">{{::'webclient.businesstests.label.test' | i18n}}</label>
				<input id="testName" class="form-control" type="text"
				       data-ng-model="ctrl.test.name"/>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-sm-12">
				<label for="testSource">{{::'webclient.businesstests.label.script' | i18n}}: </label>
				<div id="testSource" class="form-control" data-ng-model="ctrl.test.source" ui-ace="{
					useWrapMode : true,
					theme:'eclipse',
					mode: 'groovy',
					onLoad: aceLoaded,
					require: ['ace/ext/language_tools'],
					advanced: {
						enableSnippets: true,
						enableBasicAutocompletion: true,
						enableLiveAutocompletion: true
					}
				}"></div>
			</div>
		</div>

		<div class="row">
			<label class="col-sm-2">{{::'webclient.businesstests.label.state' | i18n}}: </label>
			<div id="testState" class="col-sm-5" ng-switch on="ctrl.test.state">
				<div style="color: green; font-weight: bold" ng-switch-when="GREEN">OK</div>
				<div style="color: orange; font-weight: bold" ng-switch-when="YELLOW">WARNING</div>
				<div style="color: red; font-weight: bold" ng-switch-when="RED">ERROR</div>
			</div>

			<label class="col-sm-2">{{::'webclient.businesstests.label.start' | i18n}}: </label>
			<div id="testStartDate" class="col-sm-3">
				{{ctrl.test.startdate.time | date:'dd.MM.yyyy HH:mm:ss.sss'}}
			</div>
		</div>
		<div class="row">


			<label class="col-sm-2">{{::'webclient.businesstests.label.warningCount' | i18n}}: </label>
			<div id="testWarningCount" class="col-sm-5">
				{{ctrl.test.warningCount}}
			</div>

			<label class="col-sm-2">{{::'webclient.businesstests.label.end' | i18n}}: </label>
			<div id="testEndDate" class="col-sm-3">
				{{ctrl.test.enddate.time | date:'dd.MM.yyyy HH:mm:ss.sss'}}
			</div>

		</div>

		<div class="row">
			<label class="col-sm-2">{{::'webclient.businesstests.label.errorCount' | i18n}}: </label>
			<div id="testErrorCount" class="col-sm-5">
				{{ctrl.test.errorCount}}
			</div>


			<label class="col-sm-2">{{::'webclient.businesstests.label.duration' | i18n}} (ms): </label>
			<div id="testDuration" class="col-sm-3">
				{{ctrl.test.duration}}
			</div>
		</div>

		<div class="row">
			<label class="col-sm-2">{{::'webclient.businesstests.label.result' | i18n}}: </label>
			<div id="testResult" class="col-sm-5" style="white-space: pre">{{ctrl.test.result}}</div>
			<label class="col-sm-2">{{::'webclient.businesstests.label.entity' | i18n}}: </label>
			<div id="testEntity" class="col-sm-3">
				{{ctrl.test.entity}}
			</div>
		</div>

		<div class="row">
			<div class="form-group col-sm-12">
				<label for="testLog">{{::'webclient.businesstests.label.log' | i18n}}: </label>
				<textarea id="testLog" class="form-control" rows="20" readonly>{{ctrl.log}}</textarea>
			</div>
		</div>
	</div>
</div>