<ng-include src="'app/header/header.html'"></ng-include>
<div class="container-fluid">
	<div class="container">
		<div class="row" style="margin-top:40px">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<input id="generateAndRun" class="btn btn-primary" style="width:100%" type="button"
				       value="{{::'webclient.businesstests.generate.and.run' | i18n}}"
				       data-ng-click="ctrl.generateAndRun()"
				       data-ng-disabled="ctrl.started"/>
			</div>
			<div class="col-sm-4">
			</div>
		</div>

		<div class="row" style="margin-top:40px; margin-bottom:0px" data-ng-hide="!ctrl.started">
			<div class="col-sm-12">
				<div class="progress" style="width:100%; margin-bottom:0px">
					<div class="progress-bar progress-bar-striped active" role="progressbar"
					     aria-valuenow="{{ctrl.progress}}" aria-valuemin="0" aria-valuemax="100"
					     data-ng-style="{'width':(ctrl.progress + '%')}">
						{{ctrl.progress}} %
					</div>
				</div>
			</div>
		</div>

		<div data-ng-include="'app/devutils/businesstest/component/overview.html'" style="margin-top: 40px"></div>

		<div class="row" style="margin-top:40px; margin-bottom:50px">
			<div class="col-sm-12">
				<textarea id="output" class="form-control" rows="20" readonly>{{ctrl.executionResult}}</textarea>
			</div>
		</div>

		<div class="text-center" style="margin-top:40px">
			<a href="#/businesstests/advanced">{{::'webclient.businesstests.advanced' | i18n}}</a>
		</div>
	</div>
</div>