<ng-include src="'app/header/header.html'"></ng-include>
<div class="container-fluid">
	<div class="row" style="margin-top: 20px; float: left; white-space: nowrap">
		<div class="col-sm-2">
			<a href="#businesstests">
				<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				{{::'webclient.businesstests.link.backToOverview' | i18n}}
			</a>
		</div>
	</div>

	<div class="container">
		<div class="row" style="margin-top:20px">
			<div class="col-sm-2">
				<input id="generateAllTests" class="btn btn-primary" style="width:100%" type="button"
				       value="{{::'webclient.businesstests.generate' | i18n}}" data-ng-click="ctrl.generateAllTests()"
				       data-ng-disabled="ctrl.started"/>
				</div>
			<div class="col-sm-2">
				<input id="executeAllTests" class="btn btn-success" style="width:100%" type="button"
				       value="{{::'webclient.businesstests.execute.all' | i18n}}" data-ng-click="ctrl.runAllTests()" data-ng-disabled="ctrl.started"/>
			</div>
			<div class="col-sm-6"></div>
			<div class="col-sm-2">
				<a id="createNewTest" class="btn" href="#/businesstests/new" data-ng-disabled="ctrl.started">{{::'webclient.businesstests.create.manually' | i18n}}</a>
			</div>
		</div>

		<div class="row" style="margin-top:20px; margin-bottom:0px" data-ng-hide="!ctrl.started">
			<div class="col-sm-12">
				<div class="progress" style="width:100%; margin-bottom:0px">
					<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ctrl.progress}}" aria-valuemin="0" aria-valuemax="100" data-ng-style="{'width':(ctrl.progress + '%')}">
						{{ctrl.progress}} %
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="margin-top:20px; margin-bottom:50px">
			<div class="col-sm-12">
				<textarea id="output" class="form-control" rows="10" readonly>{{ctrl.executionResult}}</textarea>
			</div>
		</div>

		<div data-ng-include="'app/devutils/businesstest/component/overview.html'" style="margin-top: 40px"></div>

		<br/>

		<h4>{{::'webclient.businesstests.details' | i18n}}</h4>
		<table class="table">
			<tr>
				<th>{{::'webclient.businesstests.label.test' | i18n}}</th>
				<th>{{::'webclient.businesstests.label.start' | i18n}}</th>
				<th>{{::'webclient.businesstests.label.end' | i18n}}</th>
				<th>{{::'webclient.businesstests.label.duration' | i18n}}</th>
				<th>{{::'webclient.businesstests.label.message' | i18n}}</th>
				<th>{{::'webclient.businesstests.label.warningCount' | i18n}}</th>
				<th>{{::'webclient.businesstests.label.errorCount' | i18n}}</th>
				<th>{{::'webclient.businesstests.label.state' | i18n}}</th>
				<th>
					<a id="deleteAllTests" data-ng-click="ctrl.deleteAllTests()">
						<span class="glyphicon glyphicon-trash" title="{{::'webclient.businesstests.delete.all' | i18n}}"></span>
					</a>
				</th>
			</tr>
			<tr ng-repeat="test in ctrl.tests" id="test_{{test.id.string}}">
				<td><a href="#/businesstests/{{test.id.string}}">{{test.name}}</a></td>
				<td>{{test.startdate.time | date:'dd.MM.yyyy HH:mm:ss.sss'}}</td>
				<td>{{test.enddate.time | date:'dd.MM.yyyy HH:mm:ss.sss'}}</td>
				<td>{{test.duration}}</td>
				<td>{{test.result}}</td>
				<td>{{test.warningCount}}</td>
				<td>{{test.errorCount}}</td>
				<td ng-switch on="test.state">
					<span style="color: green; font-weight: bold" ng-switch-when="GREEN">OK</span>
					<span style="color: orange; font-weight: bold" ng-switch-when="YELLOW">WARNING</span>
					<span style="color: red; font-weight: bold" ng-switch-when="RED">ERROR</span>
				</td>
				<td>
					<a id="delete_test_{{test.id.string}}" data-ng-click="ctrl.deleteTest(test.id.string)">
						<span class="glyphicon glyphicon-trash" title="{{::'webclient.businesstests.delete' | i18n}}"></span>
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>