<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="card mt-5" id="registration-container">
				<div class="card-header">
					<h4 align=middle>{{'webclient.account.create' | i18n}}</h4>
				</div>
				<div class="card-block">
					<div
						[ngBusy]="{ busy: isBusy(), message: 'webclient.busy.message' | i18n }"
					>

						<div *ngIf="hasMessage()" class="row">
							<div class="col-md-12 text-center">
								<div [class]="'alert alert-' + messageType">
									<b>{{messageTitle}}</b><br/>
									{{messageText}}
								</div>
							</div>
						</div>

						<div *ngIf="showForm" class="container-fluid">
							<form name="register" (ngSubmit)="onSubmit()">
								<div class="form-group row">
									<label for="username" class="col-md-5 pl-0">
										{{'webclient.account.username' | i18n}}
									</label>
									<input
										id="username"
										class="form-control form-control-sm col-md-7"
										name="username"
										type="text"
										placeholder="{{'webclient.account.username' | i18n}}"
										[(ngModel)]="account.name"/>
								</div>

								<div class="form-group row">
									<label for="password" class="col-md-5 pl-0">
										{{'webclient.account.password' | i18n}}
									</label>
									<input id="password"
										class="form-control form-control-sm col-md-7"
										type="password"
										name="password"
										[(ngModel)]="account.newPassword"
									/>
								</div>

								<div class="form-group row">
									<label for="firstname" class="col-md-5 pl-0">
										{{'webclient.account.firstname' | i18n}}
									</label>
									<input
										id="firstname"
										class="form-control form-control-sm col-md-7"
										name="firstname"
										type="text"
										placeholder="{{'webclient.account.firstname' | i18n}}"
										[(ngModel)]="account.firstname"
									/>
								</div>

								<div class="form-group row">
									<label for="lastname" class="col-md-5 pl-0">
										{{'webclient.account.lastname' | i18n}}
									</label>
									<input
										id="lastname"
										class="form-control form-control-sm col-md-7"
										name="lastname"
										type="text"
										placeholder="{{'webclient.account.lastname' | i18n}}"
										[(ngModel)]="account.lastname"
									/>
								</div>

								<div class="form-group row">
									<label for="email" class="col-md-5 pl-0">
										{{'webclient.account.email' | i18n}}
									</label>
									<input
										id="email"
										class="form-control form-control-sm col-md-7"
										name="email"
										type="email"
										placeholder="{{'webclient.account.email' | i18n}}"
										[(ngModel)]="account.email"
									/>
								</div>

								<div class="form-group row">
									<label for="email2" class="col-md-5 pl-0">
										{{'webclient.account.confirmemail' | i18n}}
									</label>
									<input id="email2"
										class="form-control form-control-sm col-md-7"
										name="email2"
										type="email"
										placeholder="{{'webclient.account.email' | i18n}}"
										[(ngModel)]="account.email2"
									/>
								</div>

								<div *ngIf="hasDisclaimer()" class="form-group row">
									<div class="form-check form-check-inline align-middle col-md-12 pl-0">
										<label class="form-check-label align-middle">
											<input
												id="privacyconsent"
												class="form-check-input mr-2"
												name="privacyconsent"
												type="checkbox"
												[(ngModel)]="account.privacyconsent"
											/>
											<span class="ml-2 p-0 align-middle">{{'webclient.account.privacyconsent1' | i18n}}</span>
											<span (click)="showDisclaimer()" class="btn btn-link p-0 align-middle"
												style="cursor: pointer">
									{{'webclient.account.privacyconsent2' | i18n}}
									</span>
										</label>
									</div>
								</div>

								<div class="form-group row">
									<button class="btn btn-primary from-control col-md-12" type="submit"
										style="width: 100%">
										{{'webclient.account.register' | i18n}}
									</button>
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
