<div id="sidetree">
	<!--Label: {{tree.label}}<br>
	BoMetaId: {{tree.boMetaId}}<br>
	BoId: {{tree.boId}}<br>
	-->
	<ag-grid-angular
		#agGrid
		class="ag-fresh nucgrid"
		[singleClickEdit]="true"
		[gridOptions]="gridOptions"
		(gridReady)="gridReady()"

		nucGrid
	>
	</ag-grid-angular>
</div>
