:host, :host .form-control {
	font-size: 0.75rem;
}

#text-search-container, #search-template-buttons, .explorertrees-item {
	float: left;
}

#explorertrees {
	float: left;
	width: 100%;
}

.explorerbutton {
	margin-top: 4px;
	margin-right: 5px;
	margin-left: -4px;
	height: 21px;
}

