<div id="rest-explorer" [ngStyle]="wrapperStyle">
	<div id="navigation" [ngStyle]="navigationStyle">
		<nuc-rest-explorer-navigation
			[restServicesCombined]="restServicesCombined"
			(widthChanged)="widthChanged($event)"
		></nuc-rest-explorer-navigation>
	</div>
	<div id="content-wrapper">
		<div id="content">
			<nuc-rest-explorer-detail
				[restService]="selectedRestService"
				[previewUrl]="previewUrl"
			></nuc-rest-explorer-detail>
		</div>
	</div>
</div>
