#content {
	display: flex;
	flex-flow: column;
}

#content-wrapper {
	display: flex;
	flex-flow: column;
}

#content-wrapper > * {
	flex: 1;
}

#rest-explorer {
	padding-left: 300px;
	height: 100%;
	display: flex;
	flex-flow: column;
}

#center.toggled {
	padding-left: 250px;
}

#navigation {
	position: fixed;
	left: 250px;
	margin-left: -250px;
	display: flex;
	flex-direction: column;
}

#center.toggled #navigation {
	width: 250px;
}

/*
#content-wrapper {
	height: 100%;
	width: 100%;
	position: absolute;
	padding: 15px;
}
*/

#center.toggled #content-wrapper {
	margin-right: -250px;
}

@media (min-width: 768px) {
	#center {
		padding-left: 250px;
	}

	#center.toggled {
		padding-left: 0;
	}

	#navigation {
		width: 250px;
	}

	#content-wrapper {
		/*padding: 20px;*/
		position: relative;
	}

	#center.toggled #content-wrapper {
		position: relative;
		margin-right: 0;
	}
}

nuc-rest-explorer-detail {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.restservice-response-container {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.restservice-response-container {
	height: calc(100vh - 345px);
}

.restservice-response-container .card-block {
	flex: 1;
	overflow: auto;
	font-size: x-small;
}

.restservice-methods {
	width: 100%;
	height: 25px;
}

.restservice-methods .http-method {
	margin-right: 3px;
	cursor: pointer;
	float: left;
}

:host >>> .http-method span {
}
:host >>> .http-method {
	font-size: 10px;
	color: white;
}

.restservice-path {
	cursor: pointer;
}

.method-get {
	background-color: green;
}

.method-post {
	background-color: mediumblue;
}

.method-put {
	background-color: orange;
}

.method-delete {
	background-color: red;
}

.restservice-methods .tag.active {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-group-item {
	flex: none;
}

.list-group-item.active a {
	color: lightblue;
}

.list-group-item div a:nth-last-child(1) {
	display: block;
	width: 100%;
	height: 50px;
}

#navigation, nuc-rest-explorer-navigation, .navigation-container {
	height: 100%;
}


:host >>> .string {
	color: green;
}

:host >>> .number {
	color: darkorange;
}

:host >>> .boolean {
	color: blue;
}

:host >>> .null {
	color: magenta;
}

:host >>> .key {
	color: red;
}
