<nuc-view-preferences-config
	class="btn btn-small btn-info"
	[meta]="meta"
	[hiddenColumns]="subform.hiddenColumns"
	[selectedSideviewmenuPref$]="selectedSideviewmenuPref$"
	[selectedSearchtemplatePref$]="selectedSearchtemplatePref$"
>
</nuc-view-preferences-config>

<div
	title="{{'webclient.subform.button.newRow' | i18n}}"
	*ngIf="subform.isNewVisible()"
>
	<button
		class="btn btn-small btn-success new-subbo"
		(click)="subform.newEntry()"
		[disabled]="!subform.isNewEnabled()"
	>
		<i class="fa fa-plus"></i>
	</button>
</div>
<div
	title="{{'webclient.subform.button.deleteSelectedRows' | i18n}}"
	*ngIf="subform.isDeleteVisible()"
>
	<button
		class="btn btn-small btn-danger delete-selected-subbos"
		(click)="subform.deleteSelected()"
		[disabled]="!subform.isDeleteEnabled()"
	>
		<i class="fa fa-trash"></i>
	</button>
</div>
<div
	title="{{'webclient.subform.button.cloneSelectedRows' | i18n}}"
	*ngIf="subform.isCloneVisible()"
>
	<button
		class="btn btn-small btn-info clone-selected-subbos"
		(click)="subform.cloneSelected()"
		[disabled]="!subform.isCloneEnabled()"
	>
		<i class="fa icon-half fa-copy"></i>
	</button>
</div>
<div id="export-bo-list"
	title="{{'webclient.sideview.listexport.title' | i18n}}">
	<button
		class="btn btn-small btn-info"
		*ngIf="subform.showPrintSearchResultListButton"
		(click)="subform.openExportBoListModal()"
		[disabled]="subform.isEmpty()"
	>
		<span class="fa fa-download" aria-hidden="true"></span>
	</button>
</div>
