:host {
	flex: 0 0 24px;
	overflow: hidden;
	min-width: 24px;

	/* workaround to make subform buttonbar visible in safari */
	height: 150px;
}

.btn {
	padding: 0px;
	width: 24px;
	height: 25px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

. new-subbo i {
	margin-top: 4px;
}
