<div class="card mt-3" id="error-container">
	<div class="card-header">
		<h4 align="middle">{{'webclient.error.title' | i18n}} {{statusCode}}: {{errorTitle}}</h4>
	</div>
	<div class="card-block text-sm-center">
		{{errorText}}
	</div>
</div>
