
#chart-modal {
  width: 100%;
  height: 100%;
}

#chart-modal label {
  font-weight: normal;
}

#chart-selection {
  margin-left: 0px;
  background-color: #eee;
  border-radius: 5px;
}

#chart-selection li.dirty a {
  color: orange;
}


.chart-type-selector {
  width: 48px;
  height: 48px;
  background-size: 100% auto;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid white;
}

.chart-type-selector.active {
  border: 1px solid lightcoral;
}
 
 .chart-container {
  padding: 0px 30px 70px 30px;
  height: 95%;
 }

 
.chart-container .chart-column {
  height: 100%;
}


.chart-container .row {
  height: 100%;
}
#chart-modal .optionpanel {
  border: 1px solid lightgray;
  padding: 5px;
}
#chart-modal .nav {
  margin-left: 0px;
}


#chart-modal .nav-tabs>li:hover a {
	background-color: #f4f4f4;
}


#chart-modal .optionpanel .optionpanel-charttype {
  width: 100%;
  display: inline-block;
  margin-top: 5px;
}
#chart-modal .optionpanel .optionpanel-charttype div {
  float: left; 
}

#chart-modal .close {
  margin-top: 5px;
  margin-right: 6px;
}

.showchartoptions.activated {
  opacity: 0.4;
}


#chartoptions-save {
  float: right;
}

#chartoptions-save > span {
  top: -3px;
  position: relative;
}

#chart-modal .warning {
  color: red;
  padding: 50px;
}

#chart-modal #toolbar {
  padding: 5px 30px 0px 30px;
}


#chart-modal #chart-buttons {
  float: right;
}



#chart-modal #chart-searchfilter {
  margin-bottom: 10px;
}

#chart-modal #chart-searchfilter label {
  margin-left: 10px;
}


#chart-searchfilter .form-group, #chart-searchfilter input {
  width: 150px; 
}

#chart-searchfilter input.date {
  width: 94px;
}

/* searchfilter dropdown */
#chart-searchfilter .ui-select-toggle {
  width: 100%;
}
#chart-searchfilter .ui-select-container .ui-select-toggle, #chart-searchfilter .ui-select-container, #chart-searchfilter .ui-select-choices-row {
  height: 28px;
}
#chart-searchfilter .ui-select-match {
	padding-left: 1px;
}
#chart-searchfilter .ui-select-match-text {
  padding: inherit;
}


