

.ui-grid-row-selected > [ui-grid-row] > .grid-row-dirty {
	background-color: #FFC200 !important;
}

.ui-grid-row .grid-row-dirty {
	background-color: #FFFFAA !important;
}


.ui-grid-row-selected > [ui-grid-row] > .grid-row-new {
	background-color: #84c783 !important;
}

.ui-grid-row .grid-row-new {
	background-color: #B1F5B1 !important;
}


.ui-grid-row-selected > [ui-grid-row] > .grid-row-deleted {
	background-color: #F5B1B1 !important;
}

.ui-grid-row .grid-row-deleted {
	background-color: #FFBBBB !important;
}

.ui-grid-row input {
	background-color: inherit !important;
}



.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 100%;
/*    max-height: 100%;*/
	border-radius: 5px;
	margin-top: -8px;
}


#tableview-grid {
	margin-left: 0px;
/*	overflow: scroll;
	-webkit-overflow-scrolling: touch;*/ /* needed for ios vertical scrolling */
}



.tableview-menu-group {
	float: left;
	vertical-align: middle;
}


/* ng-grid table row height
.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
}
.ngRow {
  display : table-row;
  height: auto !important;
  position: static;
}
.ngCellText {
  height: auto !important;
  white-space: normal;
  overflow:visible;
}
*/



.gridStyle .ngHeaderText {
	padding: 3px;

}
.gridStyle .cell {
	padding: 3px;
}

.gridStyle .cellNumber {
	text-align:right;
}

.gridStyle .cellBoolean {
	text-align:center;
	padding-top: 8px;
}.gridStyle .ngCanvas {
	position: relative;
	border-bottom: 1px solid #d4d4d4;
/*	overflow: inherit;*/
}





.tablegrid .ui-widget-content {
	border-top-left-radius: 0px;
	height: 100%;
	overflow: hidden;
	/*border-top-right-radius: 0px;*/
}


/* hide multiselect checkboxes (first column of tablegrid) */
.tablegrid th:nth-child(1), .tablegrid td:nth-child(1){
  display: none;
}


#tableview {
	margin-left: -4px;
	padding-top: 5px;
}

#tableview-menu {
	margin-top: 0px;
	margin-bottom: 3px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
}
#tableview-menu-right {
	float: right;
}
.tableview-menu-group {
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#tableview-menu-right .tableview-menu-group {
	margin-right: 0px;
}

.tableview-menu-group .btn-group {
	display: inline-flex;
	padding-bottom: 1.5px;
}
.tableview-menu-group form {
}


/***************************
 * fullwidth/fullsize detail dialog *
 ***************************/

 .fullwidth-modal-window .modal-dialog {
  	width: 95%;
 	margin-bottom: 0px;
 	padding-top: 19px;
 	margin-top: 0px;
 	padding-bottom: 20px;
}
.fullwidth-modal-window .modal-dialog .modal-content { height: 100%; }
.fullwidth-modal-window .modal-dialog #detailblockModal { height: 100%; }
.fullwidth-modal-window .modal-dialog #detailblockModal #detailblock { width: 100%; }
.fullwidth-modal-window .modal-dialog #detailblockModal #detailblock .form-group { height: 100%; padding-left: 0px; }

.halfwidth-modal-window .modal-dialog {
	width: 50%;
 	margin-bottom: 0px;
 	padding-top: 19px;
 	margin-top: 0px;
 	padding-bottom: 20px;
}

.halfwidth-modal-window .modal-dialog .modal-content { height: 100%; }
.halfwidth-modal-window .modal-dialog #detailblockModal { height: 100%; }
.halfwidth-modal-window .modal-dialog #detailblockModal #detailblock { width: 100%; }
.halfwidth-modal-window .modal-dialog #detailblockModal #detailblock .form-group { height: 100%; padding-left: 0px; }

.fullsize-modal-window .modal-dialog {
 	height: 100%;
  	width: 95%;
 	margin-bottom: 0px;
 	padding-top: 19px;
 	margin-top: 0px;
 	padding-bottom: 20px;
}
.fullsize-modal-window .modal-dialog .modal-content { height: 100%; }
.fullsize-modal-window .modal-dialog #detailblockModal { height: 100%; }
.fullsize-modal-window .modal-dialog #detailblockModal #detailblock { width: 100%; }
.fullsize-modal-window .modal-dialog #detailblockModal #detailblock .form-group { height: 100%; padding-left: 0px; }


/* ui-grid */
.grid {
	/*width: 100%;*/
	font-size: 11px;
	/* border: 0px; */
	border-left: 1px solid lightgray;
}

/* hide column menu
.grid div.ui-grid-column-menu-button {
  display:none;
}
*/

.grid div.ui-grid-cell {
	overflow: initial; /* show LOV inside grid */
}

.grid div.ui-grid-cell input {
	height: 22px;
}

.grid div.ui-grid-cell input[type="checkbox"] {
	margin: 0px 0 0 0px;
}

.grid .ui-select-choices {
  margin-top: -1px;
}
.grid .ui-grid-cell-contents {
	padding: 0px;
	padding-left: 2px;
	padding-right: 2px;
}

/* make text-overflow of small headers work correct */
.grid .ui-grid-header .ui-grid-cell-contents {
    padding-right: 15px;
}

/* no extra space for menuicon in last column */
.grid .ui-grid-header .ui-grid-column-menu-button-last-col {
  margin-right: 0px;
}

.ui-grid-canvas .ui-grid-cell-contents {
	padding-top: 3px;
}

.grid .ui-grid-viewport .ui-grid-cell-contents input {
    margin-top: -3px;
}

.ui-grid-container {
	border: 1px solid lightgray;
}

.number-edit-cell input {
	text-align: right;
}

.number-edit-cell {
	text-align: right;
}

.number-cell {
	text-align: right;
}

.ui-grid-container .buttonbar {
	float:left;
	width: 20px;
	margin-top: 0px;
	overflow: hidden;
}


.ui-grid-container .buttonbar .btn {
	border-radius: 0px;
	height: 24px;
}


.ui-grid-container .buttonbar span.glyphicon {
	left: -1px;
}

.ui-grid-container .buttonbar span.glyphicon-trash {
	top: 2px;
}
.ui-grid-container .buttonbar span.glyphicon-arrow-down {
	left: 0px;
}


.ui-grid-container .divgrid {
	margin-left: 20px;
}






.ui-grid-row .ui-grid-cell {
   overflow:visible;
}

/*
.ui-grid-pinned-container-left .ui-grid-header-cell{
	min-width: 20px !important;
	max-width: 20px !important;
}

.ui-grid-pinned-container-left, .ui-grid-render-container-left {
	width: 20px !important;
	overflow: hidden;
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell {
	min-width: 20px !important;
	max-width: 20px !important;
}


.ui-grid-render-container-left .ui-grid-viewport {
	width: 20px !important;
}

.ui-grid-render-container-left .ui-grid-header-viewport {
	width: 20px !important;
}

*/
nc-ui-grid #sideview-details .ui-grid-render-container-body {
	margin-left: 20px !important;	/* make row selection column smaller */
}
nc-ui-grid #tableview-grid .ui-grid-render-container-body {
	margin-left: 0px !important;	/* make row selection column smaller */
}
nc-ui-grid .ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-viewport, .ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-cell:first-child , .ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-header-cell:first-child {
	overflow-x:hidden !important;
}


/* grid menu */
nc-ui-grid .ui-grid-menu-button {
	height: 18px;
}
nc-ui-grid .ui-grid-menu-button .ui-grid-icon-container {
    margin-top: 1px;
    margin-left: -1px;
    width: 14px;
}
nc-ui-grid .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
	overflow: inherit; /* remove padding around menu item */
}



/* fill striped background, if all columns together are smaller than the table */
.ui-grid-canvas {
	min-width: 100%;
}
.ui-grid-row:nth-child(even)  {
	background-color: #f3f3f3;
}
.ui-grid-row:nth-child(odd)  {
	background-color: #fdfdfd;
}
.ui-grid-row.ui-grid-row-selected  {
	background-color: #c9dde1;
}

.grid-row-dirty  {
	background-color: #FFFFAA !important;
}
.ui-grid-row-selected.grid-row-dirty  {
	background-color: #FFC200 !important;
}

.grid-row-new  {
	background-color: #B1F5B1 !important
}
.ui-grid-row-selected.grid-row-new  {
	background-color: #84c783 !important
}


.grid-row-deleted {
  background-color: #FFBBBB !important;
}
.ui-grid-row-selected.grid-row-deleted {
  background-color: #F5B1B1 !important;
}

.ui-grid-pinned-container-left .ui-grid-cell.grid-row-new {
	background-color: initial!important;
}

.ui-grid-viewport {
	/* fix right column */							/* TODO hat negativen Einfluss auf scrollbar */
	/* width: auto !important; */					/* Scrollbar wird nicht mehr angezeigt */
/*	width: 100% !important;*/

}

.ui-grid .ui-grid-viewport {
	overflow-x: auto !important;
}

.ui-grid-render-container-body .ui-grid-viewport {
	width: auto !important;
}

.ui-grid-pinned-container-right .ui-grid-viewport {
	overflow-y: auto !important;
}

.ui-grid-cell:last-child {
	/* missing column separator */
	border-right: 1px solid;
	border-color: #d4d4d4;
}


.ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-cell:first-child , .ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-header-cell:first-child {
	border-left-color: #d4d4d4; /* same left border color for pinned columns as for normal columns */
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
    border-bottom: none; /* remove bottom border for rowselection checkboxes on the left */
}


#tableview-grid .grid {
	border-left: 0px;
}
.grid {
	border-top: 0px;
	border-right: 0px;
}

/* remove unwanted right border */
.ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-cell:first-child,
.ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-header-cell:first-child {
	border-right: 0px;
}
.ui-grid-pinned-container-right .ui-grid-column-resizer {
	display: none;
}




/* tableview grid height */
.ui-grid-container, .divgrid, .ui-grid {
	height: 100% !important;
	min-height:62px;
}


.ui-grid-render-container-left .ui-grid-header-viewport {
	border-right: 1px solid lightgray; /* missing right border for row selection column */
}

.ui-grid-render-container-left .ui-grid-cell {
  border-right: 1px solid lightgray !important; /* lighter border color for row selection column*/
}


/* make row selection column smaller */
.ui-grid-pinned-container-left,
.ui-grid-pinned-container-left .ui-grid-header-viewport,
.ui-grid-pinned-container-left .ui-grid-viewport {
    max-width: 18px!important;
}
.ui-grid-pinned-container-left .ui-grid-viewport {overflow-x: hidden!important;}

.ui-grid-render-container-body {
    margin-left: 18px!important;
}

#tableview-grid .ui-grid-render-container-body {
    margin-left: 0px!important;
}


/* remove blue shadow on focused grid */
.grid .ui-grid-focuser {
    box-shadow: none!important;
}

.grid .ui-grid-cell  {
    outline: none;

}

nc-ui-grid-readonly {
	background-color: #f3f3f3;
	font-size: 11px;
}

nc-ui-grid-readonly .row .cell {
	border: 1px solid #c9dde1;
	background-color: white;
	padding: 2px;
}

.subform, .matrix {
	background-size: contain; 
	margin-left: -4px; 
	padding-left: 2px; 	
}

.subform > div,
.subform > div > div {
	height: 100%;
}

nc-ui-grid-readonly .ui-grid-container {
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
}

nc-ui-grid-readonly table th, nc-ui-grid-readonly table td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fixed-headers {
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed-headers th, .fixed-headers td {
	padding: 3px;
}
.fixed-headers th:not(:last-child), .fixed-headers td:not(:last-child) {
	border-right: 1px solid;
	border-color: #d4d4d4;
}

.fixed-headers thead tr {
  display: block;
  position: relative;
}

.fixed-headers tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: 90%;
}
.fixed-headers tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}

nc-ui-grid-readonly table td:last-child, nc-ui-grid-readonly table th:last-child {
	width: 100%;
	text-align: right;
}


nc-ui-grid-readonly table thead, nc-ui-grid-readonly #edit-subform {
	position: relative;
	overflow: hidden;
	font-weight: bold;
	background: #f3f3f3;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
	background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
	background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
	background: -o-linear-gradient(#ffffff, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
	-webkit-border-top-right-radius: -1px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-top-left-radius: -1px;
	-moz-border-radius-topright: -1px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-topleft: -1px;
	border-top-right-radius: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: -1px;
	-moz-background-clip: padding-box;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

nc-ui-grid-readonly #edit-subform {
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: white;
    z-index: 1;
    padding: 2px;
}
