@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('Asap'), local('Asap-Regular'), url(../../lib/fonts/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(../../lib/fonts/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../../lib/fonts/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(../../lib/fonts/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../../lib/fonts/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(../../lib/fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../../lib/fonts/MTP_ySUJH_bn48VBG8sNSugdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(../../lib/fonts/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

.btn {
    padding: 4px 8px;
}

.btn-small {
	padding-right: 2px;
	padding-left: 3px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.btn-inline {
    padding: 2px 4px;
    width: 100%;
}

.button-div {
	height: 100%;
}

.action-button {
	vertical-align: middle;
	margin-left: 3px;
}

.form-control {
    height: 28px;
    padding: 4px 8px;
}

.btn-currentstate {
  color: #000000;
  background-color: #b2ffdb;
  border-color: #aeaeae;
}

/* use full height of screen, scroll sideview and tableview */
body, html {
  margin: 0;
/*  overflow: hidden;*/
  height:100%;
/*  padding-top: 25px;*/
  font-family: 'Open Sans', sans-serif;
  font-weight: regular;
}

@media (min-width: 480px){  
  #detailblock {
    overflow: hidden;
  }

  #detailblock #detailblock-content {
    height: 100%;
    margin-left: -4px;
  }

  #detailblock #detailblock-content #detailblock-form {
    overflow-y: auto;
  }
}

#detailblock {
  height:100%;
}

#detailblock #detailblock-content #detailblock-form {
	height:100%;
	margin-bottom: 0px;
}

fieldset.border {
    margin:1px;
    background:#EEEEEE;
    border-width:1px;
    border-radius:3px;
    border-style:solid;
    border-color:#CCCCCC;
}

fieldset.titled, fieldset.line {
    border-radius:5px;
}

fieldset.etchedlowered {
    border-style:ridge;
}

fieldset.etchedraised {
    border-style:groove;
}

fieldset.bevellowered {
    border-style:inset;
}

fieldset.bevelraised {
    border-style:outset;
}

fieldset.fieldsetpanel {
    margin:1px;
    background:#F5F5F5;
    border-width:0px;
}

legend.legendpanel {
    color:#6e788b;
    font-weight:bold;
    font-size:11px;
    border: none;
    width: auto;
    padding-left: 2px;
    padding-right: 3px;
    margin: 0;
    margin-left: 6px;
}

.panel-nuclos {
	border-color:GREY;
}

.panel-nuclos .panel-heading-nuclos {
	border-color:GREY; 
	background-color:GREY;
}

[class*="col-"] {
  padding-right: 0;    
}

.content-block {
	height: 100%;
}

body {
    /* disable  safari iOS touch bouncing */
    position: fixed;
}

#main {
	height: 100%;
/*    overflow: hidden;*/
}

.navbar{
	height: 35px;
}

/*
.scroll-pane {
    height: 100%;
    overflow: auto;
}
*/

.tdSelectClass {
    background:#D0D0D0;
}

.trSelectClass td, .tdSelectClass:hover {
    background:#C0C0C0 !important;
}


.trDirtyClass td, .tdDirtyClass {
    background:#FFFFAA !important;
}

.trDirtyClass:hover td, .tdDirtyClass:hover {
    background:#F5F5A0 !important;
}


.trNewClass td, .tdNewClass {
    background:#BBFFBB !important;
}

.trNewClass:hover td, .tdNewClass:hover {
    background:#B1F5B1 !important;
}

.chart-partly {
    height:523px;
    width:100%;    
}

.chart-fully {
    height:553px;
    width:100%;
}

.label {
    margin-bottom: 4px;
}

h1 {
    font-size: 22px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Asap', sans-serif;
    font-weight: 400;
    line-height: 1.1;
}
/* Anpassung Farbe Navigation */
.navbar-inverse .navbar-nav > li > a {
    color: #AAAAAA;
    padding: 14px 8px;
}
.navbar-inverse .navbar-brand {
    color: #AAAAAA;
}
/* Highlight Background Flaeche Nav 
.active {
	background-color:#797979;
	}
	*/
.navbar-inverse .navbar-nav > .dropdown {
    border-bottom-color: #979797; 
    border-top-color: #979797;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #5B5B5B;
    color: #FFFFFF;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #979797;
}
.dropdown-header {
    color: #979797;
    display: block;
    font-size: 12px;
    line-height: 1.42857;
    padding: 3px 20px;
    font-face:200;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #5B5B5B;
    color: #FFFFFF;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 12px;
    list-style: none outside none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
}
.navbar-inverse .navbar-toggle {
    border-color: #979797;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #777777;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #979797;
}

@media (max-width: 768px) {
	.navbar-collapse  {
		background-image: -webkit-linear-gradient(bottom, #5E5E5E, #828282 );
	}
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #999999;
}

.navbar-inverse {
background-image: linear-gradient(bottom, #5E5E5E, #828282 );
background-image: -o-linear-gradient(bottom, #5E5E5E, #828282 );
background-image: -moz-linear-gradient(bottom, #5E5E5E, #828282 );
background-image: -webkit-linear-gradient(bottom, #5E5E5E, #828282 );
background-image: -ms-linear-gradient(bottom, #5E5E5E, #828282 );

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop( #5E5E5E),
	color-stop( #828282)
);
}

.navbar-inverse {
/*    background: url(images/navbar-back.png);*/
}

header .navbar-nav > li > .dropdown-menu {
    margin-top: 1px;
}

header .navbar-nav .selected-menu > a {
  cursor: default;
}

header #loading-image {
    background-image: linear-gradient(bottom, #636363, #7C7C7C );
    background-image: -o-linear-gradient(bottom, #636363, #7C7C7C );
    background-image: -moz-linear-gradient(bottom, #636363, #7C7C7C );
    background-image: -webkit-linear-gradient(bottom, #636363, #7C7C7C );
    background-image: -ms-linear-gradient(bottom, #636363, #7C7C7C );
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop( #636363), color-stop( #7C7C7C) );	
}    

.div-center {
    left: 50%;
    top: 50%;
    position:absolute;
    margin:-100px 0px 0px -200px;
    border: 1px solid #797979;
    border-radius: 4px 4px 4px 4px;			
    -moz-border-radius: 4px;    
    -webkit-border-radius: 4px;
    padding:20px 40px 20px 40px;
    background-color: #eeeeee;
}

.letter-spacing  {
  letter-spacing: 0.06em;
}
.letter-spacing2  {
  letter-spacing: 0.15em;
}
 
/* JQUERY-UI OVERRIDE SECTION */

.ui-widget {
  font-family: 'Open Sans', sans-serif;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #d2d2d2;
	background: #f5f5f5 /*url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x*/;
	font-weight: bold;
	color: black;
	background-color: white;
}  /*Farbige Hintergrundbilder wieder eingesetzt*/

.ui-widget-header {
    border: 1px solid #4297d7;          /*keine Linien im blauen Header*/
	background: #0088cc /*url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x*/;
	color: #ffffff;
	font-weight: bold;
}

/* BOOTSTRAP OVERRIDE SECTION */

.table.dataTable tr.even td.sorting_1  {
background-color:#fff;
}
.table.dataTable tr.odd  {
    background-color: #FDFDFD;
}
.table.dataTable tr.odd td.sorting_1 {
    background-color: #FDFDFD;                  
    }
    
.whiteback {
    margin-left: -14px;
    margin-right: 10px;
}

.well {
  padding:10px;
  min-height: 20px;
  margin-bottom: 0px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.label {
  display: inline;
  padding: .25em .6em;
  font-size: 75%;
  font-weight: 500;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #999999;
  /*border-radius: .25em;*/
}

.control-group {
  margin-bottom: 10px;
}

.nav li a {
    padding: 4px 8px;
}

select,
input[type="number"],
input[type="text"],
input[type="email"],
input[type="date"],
input[type="file"],
input[type="select"],
input[type="password"] {
  display: block;
  width: 100%;
  height: 28px;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 1.428571429;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


/*************************
 *        LOV            *
*************************/
.ui-select-container, .ui-select-choices-row {
	height: 22px;
}
.ui-select-bootstrap > .ui-select-choices {
	margin-top: 2px;
}
.ui-select-choices-row-inner {
	min-height: 22px;
}

.ui-select-container .ui-select-toggle,
select.layoutraster,
input.layoutraster,
.layoutraster {
    height: 21px;
    font-size: 11px;
    padding: 2px 5px;
    white-space: nowrap;
}

textarea.nuclosmemo {
	white-space: wrap;
	display: block;
	padding: 2px 5px;
	font-size: 12px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea[required] {background-color: #F4F884;}
textarea.inputunique {background-color: #FFE4E1;}
input[disabled], select[disabled], textarea[disabled] {
	color: black;
	opacity: 1.0;
	background-color: #EDEDED;
}

.titled-separator {
    width: 100%;
    border-bottom: 1px solid #A0A0A0;
    text-align: left;
    padding-left: 20px;
    height: 18px;
    margin-bottom: 15px;
}
.titled-separator span {
    line-height: 15px;
    font-size: 13px;
    padding: 0 10px;
    background: #f4f4f4; /* Color of the element below */
    display: inline-block;
    margin-top: 10px;
    color: #707070;
}

/* remove left space on opened LOV */
.ui-select-bootstrap .ui-select-choices-row>a {
  padding-left: 2px;
}

.button-div .btn {
  font-size: 12px;
}

/* hide input number spin-button in chrome/safari */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	display: none;
}

/* LOV component, select component*/
.ui-select-container[required] .ui-select-toggle, input:required, select:required {
	border-color: #E1E900;
}

input.ng-invalid-required:not(.ng-not-empty), 
nc-select .ui-select-container.ng-invalid-required:not(.ng-not-empty) .btn,
textarea.ng-invalid-required:not(.ng-not-empty)
{
	background-color: rgba(255, 0, 0, 0.2);
}

input.ng-invalid {
	background-color: rgba(255, 0, 0, 0.2);
}

.ui-grid-canvas .ui-grid-cell-contents {
	margin-top: 0px;
	padding-top: 3px;
}

div.ui-grid-cell input.ng-valid {
  border: none;
}

.error { color: red; }
.ui-helper-hidden { display: none;}

.container-fluid {
  padding-right: 10px;  /*20*/
  padding-left: 10px;   /*20*/
  *zoom: 1;
}

.container {
    max-width: 2200px;
    height: 100%;
}

.navbar .container {
    margin-left: initial;
}

.container-fluid:before,
.container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.container-fluid:after {
  clear: both;
}


.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-fluid:after {
  clear: both;
}

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.127659574468085%;
  *margin-left: 2.074468085106383%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}

.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.127659574468085%;
}

.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%;
}

.row-fluid .span11 {
  width: 91.48936170212765%;
  *width: 91.43617021276594%;
}

.row-fluid .span10 {
  width: 82.97872340425532%;
  *width: 82.92553191489361%;
}

.row-fluid .span9 {
  width: 74.46808510638297%;
  *width: 74.41489361702126%;
}

.row-fluid .span8 {
  width: 65.95744680851064%;
  *width: 65.90425531914893%;
}

.row-fluid .span7 {
  width: 57.44680851063829%;
  *width: 57.39361702127659%;
}

.row-fluid .span6 {
  width: 48.93617021276595%;
  *width: 48.88297872340425%;
}

.row-fluid .span5 {
  width: 40.42553191489362%;
  *width: 40.37234042553192%;
}

.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
}

.row-fluid .span3 {
  width: 23.404255319148934%;
  *width: 23.351063829787233%;
}

.row-fluid .span2 {
  width: 14.893617021276595%;
  *width: 14.840425531914894%;
}

.row-fluid .span1 {
  width: 6.382978723404255%;
  *width: 6.329787234042553%;
}

.row-fluid .offset12 {
  margin-left: 104.25531914893617%;
  *margin-left: 104.14893617021275%;
}

.row-fluid .offset12:first-child {
  margin-left: 102.12765957446808%;
  *margin-left: 102.02127659574467%;
}

.row-fluid .offset11 {
  margin-left: 95.74468085106382%;
  *margin-left: 95.6382978723404%;
}

.row-fluid .offset11:first-child {
  margin-left: 93.61702127659574%;
  *margin-left: 93.51063829787232%;
}

.row-fluid .offset10 {
  margin-left: 87.23404255319149%;
  *margin-left: 87.12765957446807%;
}

.row-fluid .offset10:first-child {
  margin-left: 85.1063829787234%;
  *margin-left: 84.99999999999999%;
}

.row-fluid .offset9 {
  margin-left: 78.72340425531914%;
  *margin-left: 78.61702127659572%;
}

.row-fluid .offset9:first-child {
  margin-left: 76.59574468085106%;
  *margin-left: 76.48936170212764%;
}

.row-fluid .offset8 {
  margin-left: 70.2127659574468%;
  *margin-left: 70.10638297872339%;
}

.row-fluid .offset8:first-child {
  margin-left: 68.08510638297872%;
  *margin-left: 67.9787234042553%;
}

.row-fluid .offset7 {
  margin-left: 61.70212765957446%;
  *margin-left: 61.59574468085106%;
}

.row-fluid .offset7:first-child {
  margin-left: 59.574468085106375%;
  *margin-left: 59.46808510638297%;
}

.row-fluid .offset6 {
  margin-left: 53.191489361702125%;
  *margin-left: 53.085106382978715%;
}

.row-fluid .offset6:first-child {
  margin-left: 51.063829787234035%;
  *margin-left: 50.95744680851063%;
}

.row-fluid .offset5 {
  margin-left: 44.68085106382979%;
  *margin-left: 44.57446808510638%;
}

.row-fluid .offset5:first-child {
  margin-left: 42.5531914893617%;
  *margin-left: 42.4468085106383%;
}

.row-fluid .offset4 {
  margin-left: 36.170212765957444%;
  *margin-left: 36.06382978723405%;
}

.row-fluid .offset4:first-child {
  margin-left: 34.04255319148936%;
  *margin-left: 33.93617021276596%;
}

.row-fluid .offset3 {
  margin-left: 27.659574468085104%;
  *margin-left: 27.5531914893617%;
}

.row-fluid .offset3:first-child {
  margin-left: 25.53191489361702%;
  *margin-left: 25.425531914893618%;
}

.row-fluid .offset2 {
  margin-left: 19.148936170212764%;
  *margin-left: 19.04255319148936%;
}

.row-fluid .offset2:first-child {
  margin-left: 17.02127659574468%;
  *margin-left: 16.914893617021278%;
}

.row-fluid .offset1 {
  margin-left: 10.638297872340425%;
  *margin-left: 10.53191489361702%;
}

.row-fluid .offset1:first-child {
  margin-left: 8.51063829787234%;
  *margin-left: 8.404255319148938%;
}


#sideviewmenu .nav-tabs {
  	padding-left: 1px;
}

.nav {
	margin-left: -1px;
}

.tabpane-container .nav {
	margin-left: -2px;
}

  
.nav-tabs>li>a {
	background-color: #eee;
}


/* disable text selection (e.g. after double click) and show pointer cursor on selection elements */
.nav-tabs, .scroll-pane table, .tablegrid, .restservicelist, .matrix, .buttonbar, header, 
.dropdown-menu li a, 
/*table.sideview-list-resizable th */
.sideview-list
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* bootstrap form-control without width/height */
.form-control-fixed {
	display: block;
/*	width: 100%;*/
/*	height: 34px;*/
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.modal-dialog .view-selector, .modal-dialog #morefunctions {
	display: none; /* don't show view selection buttons in modal */
}

.modal-dialog #newSubboInGrid {
	display: none; /* don't show new sub row button in modal */
}


/* disable scroll bouncing */
.no-touch html, body {
    width:      100%;
    height:     100%;
    overflow:   hidden;
}

/* Removed because of NUCLOS-3400/
/*.no-touch body > div {
    height:     100%;
    overflow:   scroll;
}*/

.no-touch .content-block{margin-top: 5px;}


.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight {
	border: 1px solid #AAA;
	background: #CCC;
}


.ui-widget-content .ui-state-hover {
	border: 0px solid #AAA;
	background: #EEE;
	font-weight: bold;
	color: black;
}

.ui-widget-content .ui-state-hover.ui-state-highlight {
	background: #AAA;
}


.ui-widget-content {
	border: 1px solid #ddd;
	border-radius: 4px;
/*	overflow: hidden;*/
	background: #ffffff url("app/images/ui-bg_flat_75_ffffff_40x100.png") 50% 50% repeat-x;
	background-color: white;
	color: #222222;
}


.searchfilter input {
	display: inline-flex;
	min-height: 30px;
}
.searchfilter div {
	font-size: x-small;
	text-align: center;
}
.searchfilter img {
	height: 54px;
	width: 80px;
}



.search-input input {
    border: none;
    background-color: white;
    height: 21px;
}

.search-input #clear-searchfilter {
	top: -21px;
	margin-bottom: -21px;
	right: 6px;
	float: right;
	cursor: pointer;
}


/* verkleinert */
.searchfilter img {height: 36px;width: 66px;}


.ui-dialog-buttonset {width:100%}
.ui-dialog-buttonset .ui-button:last-child {float:right !important;}

.dialog table {
	display: inline-block;
	margin-bottom: 20px;
}
.dialog table td .glyphicon {
	padding: 10px;
}

.dialog #change-state-gradient {
	height: 10px;
	border: 1px solid;
	margin-left: -1px;
	margin-right: -1px;
}


#change-state-dialog .modal-body td {
	vertical-align: bottom;
}

#change-state-dialog .modal-header {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
    
.dialog {
	text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: regular;
}

.modal-header {
	border-bottom: none;
}

.modal-footer {
	text-align: left;
	border-top: none;
}


.error-dialog .error-message .stacktrace {
	border: 1px solid lightgray;
	padding: 3px;
	width: 100%;
	overflow: auto;
	font-size: smaller;
}

.showOnMouseOver { display: none; }
.showOnMouseOverParent:hover .showOnMouseOver { display: block; }


a {
	cursor: pointer;
}


/* larger menu for touch devices */
.touch #menu-table tr {
	height: 35px;
}


/* hide view type buttons in modal */
.modal-dialog #viewButtonGroup {
	display: none;
}


/* hide cancel buttons in modal */
.modal-dialog #dataEditorCancel {
	display: none;
}


#sideview #detailblock .form-group #sideview-details {
	height: 100%;
	
	/* padding for #buttonarea height + 10px - needed to make #sideview-details-content use 100% of remaining height */
	padding-top: 40px;
    border: none;
}

#sideview #detailblock .form-group #sideview-details #sideview-details-content { 
	height: 100%;
}

#sideview #detailblock .form-group #sideview-details #sideview-details-content .default-text {
	display: inline-block;
	width: 0px;
}


#sideview #detailblock #buttonarea {
    position: relative;
	text-align: left;
	height: 30px;
	width: 100%;
    z-index: 100;
	margin-top: -30px;
	padding-left: 0px;
	padding-bottom: 2px;
}
#buttonarea-right {
	float: right;
}
#buttonarea-left {
	float: left;
}
.modal #buttonarea-left {
	display: none;
}

#buttonarea-states {
	margin-left: 13px;
	float: left;
}

#buttonarea-generations {
	margin-left: 20px;
	float: left;
}

#detailblock .subform #buttonarea {
	padding-left: 20px;
} 

#buttonarea #dropdown-morefunctions {
    left: -126px;
}

#buttonarea #dropdown-morefunctions li {
  border: none;
  float:left;
  text-align: left;
  width: 100%;
}

#buttonarea #bo-locking #lock-info {
    position: relative;
    top: 1px;
}

#buttonarea #bo-locking #lock-info-icon {
    color: #d9534f;
}

#buttonarea #bo-locking label {
    margin-bottom: 0px;
    margin-right: 4px;
}

.modal #detailblock #buttonarea .close {
	line-height: initial;
}


/* remove scrollbar in modal */
.modal-dialog {
    padding-bottom: 34px !important;
}

.modal-dialog .form-group {
	margin-bottom: 0px;
}


#buttonarea-modal-window-state {
	display: none;
}

.modal-dialog #buttonarea-modal-window-state {
	display: initial;
}

.modal-dialog #buttonarea-modal-window-state button.close {
	overflow: hidden; /* remove modal x close button scroll border in Firefox */
}

/* open jquery ui dialog on top of bootstrap modal */
.ui-front {
	z-index: 2000;
}

.navbar .container {width: 100%;}  /* Suchfilter oben rechts */

#detailblock textarea.memo {
	width: 100%;
	height: 100%;
	resize: none;
	padding-top: 0px;
	padding-bottom: 0px;
	display: inline;
}

#detailblock input.hyperlink {
	color: #0645AD;
	text-decoration: underline;
}

#detailblock input.email {
	color: #EF1493;
	text-decoration: underline;
}

.document,
#detailblock input.document {
	color: #000000;
}

.matrix  {
	overflow: hidden;
	height: 100%;
}

.matrix table {
	border:1px solid gray;
}
.matrix table td, .matrix table th {
	border:1px solid gray;
	text-align: center;
	padding: 2px;
	min-width: 100px;
}

/* style first column like th */
.matrix td:first-child {
	font-weight: bold;
	text-align: left;
	width:10px;
	white-space: nowrap;
}


.matrix .glyphicon-plus-sign {
	color: green;
}

.matrix .glyphicon-minus-sign {
	color: red;
}

.matrix td,th {
	cursor: initial;
}

.matrix .matrixCell {
	cursor: pointer;
	padding: 5px;
}

.matrix select {
	width: 100%;
	display: initial;
}

.matrix img {
	max-width: 100px;
	max-height: 100px;
}

.matrix .matrixCellCheckIcon, .matrixCellCheckIcon span {
	width: 100%;
	height: 30px;
	text-align: center;
	font-size: initial;
}

.matrix .grid {
    border: 1px solid rgb(212,212,212);
}

.matrix .ui-grid-pinned-container .ui-grid-viewport {
	overflow: hidden!important;
}

.matrix .ui-grid-pinned-container .ui-grid-header-cell-wrapper {
	border-right: 2px solid #aeaeae; /* missing right border header of fixed column */ 	
}


.subform #subformButtons, .modal #tableviewFormButtons {
	margin-left: 12px;
	vertical-align: bottom;
	position: fixed;
	bottom: 0;
	margin-bottom: 44px;
} 


/* hide buttonarea in subformmodal 
.subform #buttonarea {
	display: none;
} */

/*.sideview-list-icon {
	padding-bottom:4px; 
	margin-left:-1px; 
	margin-right:2px;
}*/

/*
.modal.fade,.modal{opacity:0.5}
*/


/* ng-flow file drag&drop */

.drop {
	width: 100%;
	display: inline-block;
}

.drop .dropfileinfo {
	padding:10px; 
	margin-left: 20px;
}

.drop.drag-over {
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 20px;
	margin-bottom: -4px;
	
	background: #5CB85C;
    color: #fff;
}


#detailblock #detailstab .cell {
	vertical-align: top;
}


.popover {
	max-width: inherit;
}


#buttonarea-left .popover {
	top: 8px!important;
}
#buttonarea-left .popover-title {
	background-color: white;
}
#buttonarea-left .popover.right>.arrow {
	top: 17px;
}

/* smaller toggle button*/
#buttonarea-left #new-btn-group.btn-group > .btn+.dropdown-toggle {
    padding-right: 5px;
    padding-left: 5px;
}

.angular-ui-tree-handle {
/*    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;*/
    padding: 2px 2px;
    font-weight: inherit;
    white-space: nowrap;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
    cursor: pointer;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


.tree-node {
    border: 1px solid #dae2ea;
    background: #f8faff;
    color: #7c9eb2;
}
.tree-node-content {
    margin: 10px;
}
.tree-handle {
    padding: 10px;
    background: #428bca;
    color: #FFF;
    margin-right: 10px;
}

.angular-ui-tree-handle:hover {
	color: #438eb9;
	background: white;
	border-color: white;
}

.angular-ui-tree-placeholder {
	background: #f0f9ff;
	border: 2px dashed #bed2db;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.angular-ui-tree-handle .btn-success {
	color: #0A2771;
	background-color: white;
	border-color: white;
}

.angular-ui-tree-handle:hover .btn-success, .angular-ui-tree-handle .btn-success:hover {
	color: #438eb9;
	background-color: white;
	border-color: white;
}

.btn-warn {
	color:black;
	background-color:#efdf00;
	font-size:20px;
	padding-top:2px;
	padding-bottom:0px;
	padding-left:6px;
	padding-right:6px;
}

.button-invisible {
	color: white;
}


.modal.fade {
  opacity: 1;
}

.modal.fade .modal-dialog, .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.tabpane-container {width: 100%; height: 90%;}
/* TODO wurde deaktiviert, da Firefox ansonsten textareas kleiner als gewuenscht anzeigt 
*/
.tab-content-innerform-div {width: 100%;}

.tab-content .tab-content-table .tab-content-innerform-div  {
/* das fuehrt unter Anderem dazu, dass sich beim Klick auf Subform-Tab die Tabellen-Zellengroessen aendern:
display: inline-block;
*/
    width: inherit;
}

/* firefox: tableview inside detailblock */
.tab-content .cell { vertical-align: top; }


.tab-content {width: 100%; 
/*height: 100%;*/
}
.tab-content .tab-pane {width: 100%; height: 100%;}
.tab-content .tab-pane .tab.active {width: 100%; height: 100%;}

.tab-content .tab-pane .tab.active .activetab {width: 100%; height: 100%; 
    border-width:1px;
    border-radius:5px;
    border-style:solid;
    border-color:#DDDDDD; }

.tab-content .tab-pane .tab.active>div {width: 100%; height: 100%;}
.tab-content .tab-pane .tab.active>div>div {width: 100%; height: 100%;}
.tab-content .tab-pane .tab.active>div>div>div {width: 100%; height: 100%;}
.tab-content .tab-pane .tab.active>div>div>div>div {width: 100%; height: 100%;}


/*.tab-content .tab-content-table {width: 100%; height: 100%;}*/
/* height = 100% is wrong here. it does not represent the rendering of the layout correctly */
.tab-content .tab-content-table {width: 100%; height: 100%;}

#main {width: 100%; height: 100%;}
#main .container-fluid {
	width: 100%; 
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: auto;
}
#main  #sideview {
    height: 100%;
}
#main  #tableview-menu {
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: 1;
}
#main  #tableview-grid {
    width: 100%;
    height: 100%;
    padding-top: 41px;
    position: relative;
}

#main #tableview {
	height: 100%;
    width: 100%;
}

/*
#main #sideview[show-sideview-navigation="true"] #content-block {
    padding-bottom: 32px;
}
*/

.tablegrid {
	width: 100%; 
	height: 100%;
	background-color: white;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-left: -1px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* no horizontal line below tab buttons - the table component has already one */
.tabpane-container .nav-tabs {
	border-bottom: none;
	margin-left: 0px;
}

/***** drag & drop to subform ****/

/*
Problem mit drag outside overflow:hidden-div
#sideview-navigation, #sideview-list-div

hier scheint es zu funktionieren:
http://stackoverflow.com/questions/19578130/angularjs-directives-with-html5-drag-and-drop-issue-with-scope-object?answertab=active#tab-top
*/

*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#sideview-navigation #sideview-list-tree [ng-drag] {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#sideview-navigation #sideview-list-tree [ng-drag] {
    text-align: center;
    display: inline-block;
    cursor: move;
}
#sideview-navigation #sideview-list-tree ul.draggable-objects:after {
    display: block;
    content:"";
    clear:both;
}
#sideview-navigation #sideview-list-tree .draggable-objects li {
    float:left;
    display: block;
    width: 120px;
    height:100px;
}
#sideview-navigation #sideview-list-tree [ng-drag].drag-over {
    border:solid 1px red;
}
#sideview-navigation #sideview-list-tree [ng-drag].dragging {
    opacity: 0.5;
}
#sideview-navigation #sideview-list-tree [ng-drop] {
    width: 600px;
    height: 200px;
    display: block;
    position: relative;
}
/*[ng-drop].drag-enter {
    border: 2px solid green;
}*/
[ng-drop] span.title {
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    width: 200px;
    height: 20px;
    margin-left: -100px;
    margin-top: -10px;
}

/* TODO negative sideeffects to ui-grid header
[ng-drop] div {
    position: relative;
    z-index: 2;
}
*/

.tabpane-container .accept-draggable {
	border: 2px solid green;
	opacity: 1.0;
}

.tabpane-container .reject-draggable {
	border: 2px solid red;
}

#printouts-modal #printouts {
	min-height: 300px;
}

#printouts-modal label {
	font-weight: normal;
}

#printouts-modal .parameter input, select {
	height: 22px;
	font-size: 12px;
	padding: 2px 5px;
	white-space: nowrap;
}


div.lov {
    position: relative;
}

div.lov .lov-overlay {
    display: none;
    float: left;
    position: absolute;
    top: 3px;
    left: -59px;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 4px;
    background-color: transparent;
}

div.lov:hover .lov-overlay {
    display: inline; 
}

.subform-lov-overlay {
    position: relative;
    left: -61px;
    width: 58px;
    top: 3px;
}

.lov-overlay {
    float: right;
    width: 60px;
}

.subform-lov-overlay>*, .lov-overlay>* {
    float: right;
    margin-left: 3px;
}

.subform-lov-overlay .shadow {
    position: absolute; 
    left: 5px;
    border-radius: 5px; 
    border: solid #f5f5f5; 
    border-width: 10px 20px 5px 34px; 
    opacity: 0.9; 
    box-shadow: 0px 2px 10px 5px #f5f5f5; 
}

div.lov .ui-select-match .btn {
    /* cut dropdown text before caret icon */
    padding-right: 21px;
}

div.lov .ui-select-match-text {
    width: inherit;
    overflow: hidden;
}

div.hyperlink {position: relative;}
div.hyperlink .hyperlink-overlay {display:none; position:absolute; left:-21px; padding-right:2px;}
div.hyperlink:hover .hyperlink-overlay {display:inline; position:absolute; margin-left:-0px; padding-left:5px; top: 3px; background-color: transparent;}

div.email {position: relative;}
div.email .email-overlay {display:none; position:absolute; left:-21px; padding-right:2px;}
div.email:hover .email-overlay {display:inline; position:absolute; margin-left:-0px; padding-left:5px; top: 3px; background-color: transparent;}

span.dropfilearea {
	color: gray;
}

.grid .ui-grid-header .ui-grid-cell-contents {
   padding-right: 2px;
}

.grid .ui-grid-row .readonlycellodd {
	background-color:#E0E0E0;
}

.grid .ui-grid-row .readonlycelleven {
	background-color:#E8E8E8;
}

.grid .ui-grid-row .readwritecellodd {
	background-color:#F3F3F3;
}

.grid .ui-grid-row .readwritecelleven {
	background-color:#FDFDFD;
}

/*
removed - will break table layout with lots of columns
.ui-grid-canvas {
	padding-top: 0px;
	padding-left: 0px;
}

.ui-grid-row {
	padding-left: 1px;
}
*/

div.document {
	position: relative;
	border: 1px dashed gray;
	height: 20px;
	padding-left: 4px;
	font-size: 12px;
	border-radius: 2px;
}
/* cut off to long filenames */
div.document .document-filename {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.subform div.document, #tableview div.document {
	border: none;
	font-size: 11px;
	padding-left: 0px;
	padding-top: 0px;
}
.subform div.document div {
	padding-top: 1px;
}

.glyphicon-none:before {
   width: 1em;
   content: '\A0';
}

div.document, div.document input {cursor: pointer;}
div.document .document-overlay {display:none; position:absolute; left:-21px; padding-right:2px;}
div.document:hover .document-overlay {display:inline; position:absolute; margin-left:-0px; padding-left:5px; top: 3px; background-color: transparent;}

div.document .subdocument-overlay {display:none; position:absolute; left:-45px; padding-right:2px;}
div.document:hover .subdocument-overlay {display:inline; position:absolute; margin-left:1px; padding-left: 3px; top: 3px; background-color: transparent;}

/* if overlay should be shown in first column, it would be cut off by the grid - so position it right over the cell instead of the left side */
div[ui-grid-row] .ui-grid-cell:first-child 
div.document:hover .subdocument-overlay {display:inline; position:absolute; margin-left:0px; padding-left:45px; top: 3px; background-color: transparent;}
div.document .subdocument-overlay span {color: #337ab7;}

div.searchfilter {position: relative;}
div.searchfilter .searchfilter-overlay {display:none; position:absolute; left:-12px; padding-right:2px;}
div.searchfilter:hover .searchfilter-overlay{display:inline; position:absolute; margin-left:-0px; padding-left:5px; top: 5px; background-color: transparent;}


.subform-edit-row {
	height: 100%;
	overflow: hidden;
	width: 42px;
}

.subform-edit-row div {
	text-align: center; 
	background-color: initial;
	margin-left: 3px;
	margin-top: 3px;
	float: left;
}

.subform-edit-row div.subform-edit-row-in-new-tab {
	margin-left: 5px;
	margin-right: 10px;
}

/* don't highlight edit button cell on focus*/
.subform-edit-row div.subform-edit-row,.ui-grid-cell-focus {
	background-color: initial;
}

.multiSelect > button {
    min-height : 28px !important;
}



.ui-select-match {
	overflow: hidden; /* hide overlapping part of to long lov in subform grid */
}


.dropdown-menu-top {
  -webkit-box-shadow: 0 -6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 -6px 12px rgba(0, 0, 0, .175);
}

.subbo-count {
    min-width: 16px;
    display: inline-block;
}



/* font awesome icons */

.fa {
    font-size: larger;
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px;
}

.nuclos-number {
    text-align: right;
}

.number-edit-cell {
    padding-right: 2px;
}


#bo-navbar {
	width: 100%;
    left: 57px;
    position: absolute;
    padding-right: 65px;
}

#logout-navbar li {
/*    background: url(images/navbar-back.png);*/
}



#chart-print-area {
	display: none;
}



.navbar {
  margin-bottom: 0px;
}


#main {
  padding-top: 0px;
}



/*
html, 
body {min-height:100%; padding:0; margin:0;}

#wrapper {padding:50px 0; position:absolute; top:0; bottom:0; left:0; right:0;}
#content {min-height:100%; background-color:green;}
header {margin-top:-50px; height:50px; background-color:red;}
footer {margin-bottom:-50px; height:50px; background-color:red;}
p {margin:0; padding:0 0 1em 0;}
*/

/*
html, 
body {min-height:100%; padding:0; margin:0;}
*/

#main {
  padding-top: 50px;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
#main #content-block {
  min-height:100%;
}
header {
  margin-top:-50px;
  height:50px;
}



#main .navbar {
  border-radius: 0px;
  border: none;
}


#main #home-menu {
    padding-right: 3px;
    padding-left: 16px;
    background-color: white;
    border: none;
}



#sideview-details {
  /*
      background-color: #f5f5f5;
      */
    background-color: white;
    padding-left: 0px;
}


fieldset.withborder {
  /*
  background: #EEEEEE;
  */
  background-color: #f5f5f5;
}


#detailblock-form {
  padding-left: 0px;
}


.sideview-list {
  border: none;
}
.sideview-list td {
  border: none;
}
.sideview-list-entry {
  /* margin-left: 5px; */
}


#searchfilter {
    margin-left: 15px;
    margin-right: 11px;
}


#content-block {
  float:left;
}

#searchtemplate {
    float: left;
    border-radius: 0px 15px 0px 0px;
}


/* collapsible panel */

#sideview-details-content td {
    /*height: initial!important;*/
    min-height: initial!important;
}

.panel {
    min-height: 25px;
}

.panel.collapsible .fieldset-content-collapsible {
    position: relative;
}

.panel .resize-panel-button {
    position: relative;
    height: 0px;
    cursor: pointer;
    opacity: 0;    
    float: right;
    right: 1px;
    z-index: 1;
    
    /* not IE */
    top: -7px;
}

/* IE 10 and up */
_:-ms-lang(x), .panel .resize-panel-button { 
    top: 7px;
}

.panel .resize-panel-button::before {
    font-size: 12px;
}
.panel:hover .resize-panel-button {
    opacity: 1;
    color: gray;
}
.panel.collapsed .panel:hover .resize-panel-button {
    color: black;
}

.panel.collapsed {
    opacity: 0.5;
}

.ace_editor { height: 300px; }

.ace_warning {
    background-color: #F5F5A0;
    position: absolute;
}

.ace_error {
    background-color: #FFBBBB;
    position: absolute;
}

.perspective-button-outer-container {
    height: 100%;
    /*line-height: 32px;   !* TODO: Dynamic line height *!*/
    display: table-cell;
    vertical-align: top;
    white-space: nowrap;
    background-color: #eee;
}
.perspective-button-inner-container {
    display: block;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    background-color: #5E5E5E;
    /*vertical-align: middle;*/
    padding-left: 11px;
    padding-right: 11px;
    border-radius: 0px 0px 0px 15px;
}

.glyphicon-perspective-edit {
    width: 13px;
    height: 10px;
}

.glyphicon-perspective-delete {
    width: 10px;
    height: 10px;
}

.perspective-button {
    display: inline-block;
    height: 60%;
    font-size: 0.75em;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 3px;
    margin-bottom: 8px;
    position:relative;
    /*vertical-align: middle;*/
}

#chooseMandatorButton {
    margin-left: 5px;
}


#mandatorSelection > * {
    float: left;
    margin-right: 10px;
}

#mandatorSelection #chooseMandatorCancel {
    margin-right: 30px;
}


#mandator-dropdown a:after {
    content: initial;
}

#mandator-dropdown li.selected {
    background-color: #d0d0d0;
}

.dropdown-submenu>.dropdown-menu.mandator-dropdown-items {
    right: 100%;
    left: -200px;
}


#user-dropdown .fa {
    font-size: 13px;
    top: 0px;
}

.view-selector {
    display: none;
}
