#chart-print-area {
	display: initial;
	width: 100%;
	height: 100%;
}


.print-chart .modal {
	display: none !important;
}


.modal-open #main, /* hide main if model is open */ 
#new-chart, .close, #chart-buttons, #chart-searchfilter,
#toolbar,
#chart-selection
{
	display: none;
}

