body {
	margin-left: 0px;
	margin-top: 55px;
	margin-right: 0px;
	margin-bottom: 0px;
}

body,td,th {
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
}

a:active {
	text-decoration: none;
}

a:link, a:visited {
	color: #0A5CA5;
	text-decoration: none;
}

.headerrund {
	 width:600px;
	 margin:0px auto;
	 overflow:hidden;
	-moz-border-radius:6px 6px 6px 6px; /* Runde Ecken -- Firefox */
	-webkit-border-radius:6px 6pxx 6px 6px; /* Chrome, Safari */
	-khtml-border-radius:6px 6px 6px 6px; /* Konqueror */
	border-radius:6px; /* CSS3 */
	behavior:url(border-radius.htc); /* Internet Explorer */
}

.reiterleiste {
	position:relative; 
	left: 0px; 
	width: 600px; 
	border-left:1px solid #555; 
	border-right:1px solid #555; 
	top:-26px;
}

.grauverlauf {
	position:relative;
	top:-26px;
	height: 330px;
	overflow:hidden;
	background-image: url('pictures/verlauf-top.png');
	background-repeat: repeat-x;
	background-color: #eeeeee;
	/* Runde Ecken -- Firefox */
	-moz-border-radius:0px 0px 6px 6px; 
	-webkit-border-radius:0px 0px 6px 6px; 
	-khtml-border-radius:0px 0px 6px 6px; 
	border-radius:0px 0px 6px 6px;  
	behavior:url(border-radius.htc); /* Internet Explorer */
}

.reiter, .reiter:hover, .homebutton {
   display: block;
   -webkit-border-top-left-radius: 3px;
   -webkit-border-top-right-radius: 3px;
   -moz-border-radius-topleft: 3px;
   -moz-border-radius-topright: 3px;
   border-top-left-radius: 3px;
   border-top-right-radius: 3px;
   behavior:url(border-radius.htc); /* Internet Explorer */
   letter-spacing:2px; 
   margin-left:2px;
   margin-right:2px;
   float:left;
   vertical-align:middle; 
   padding-top:6px; 
   background-color:#00a5ff; 
   color:#0c4d70; 
   text-decoration:none;
   width:106px; 
   height:20px;
}

.reiter:hover {
   background-color:#eeeeee; 
}

.homebutton {
   width:7%; height:20px; 
   letter-spacing:3px; 
   background-color:#eeeeee;
}

.label {
	position:absolute; 
	top:57px; 
	left:220px; 
	width:140px; 
	background-repeat:no-repeat;
	padding-top:30px;
	background-position: left 25px bottom 168px;
	background-position-x: 25px; /* Internet Explorer */
}

.desktop {
	background-image:url('pictures/DesktopClient.png');	
}

.webclient {
	background-image:url('pictures/WebClient.png');
}

.left{
	left: 115px;
}

.right {
	left: 350px;
}
