<div
	class="lov-container"
	[style.width]="getWidth()"
	[style.height]="getHeight()"
	[attr.for-id]="getId()"
	[attr.name]="getNameForHtml()"
	[ngClass]="getValidationCssClasses()"

	nucClickOutside
	(clickOutside)="outsideClick($event)"
>
	<p-autoComplete

		#autoComplete

		[attr.for-id]="getId()"
		[inputId]="getId()"
		[ngModel]="getValue()"
		(ngModelChange)="setValueImmediatelyIfNoReference($event)"
		(onBlur)="blur()"

		[suggestions]="lovEntries"

		(completeMethod)="autocomplete($event.query)"

		dropdown="true"
		(onDropdownClick)="showAllEntries()"
		(click)="openLovPanel($event)"

		(onSelect)="selectDropdownOption($event)"

		(keyup)="keyup()"

		field="name"
		[disabled]="!isEnabled()"

		appendTo="body"
	>
		<ng-template let-lovItem pTemplate="item">
			<div [ngClass]="{'selected': lovItem.selected}">
				{{lovItem.name}}
			</div>
		</ng-template>
	</p-autoComplete>

	<!-- needed because the disabled dropdown button is not clickable in firefox -->
	<div
		class="disabled-dropdownbutton-overlay"
		(click)="dropdownClick($event)"
		disabled="disabled"
	></div>

	<div class="lov-overlay">
		<nuc-search-reference-target
			*ngIf="isEnabled()"
			[eo]="getEntityObject()"
			[attributeMeta]="getAttributeMeta()"
		    [popupParameter]="getAdvancedProperty('popupparameter')"
			(click)="searchReferenceClick()"
		></nuc-search-reference-target>

		<nuc-edit-reference-target
			[eo]="getEntityObject()"
			[attributeMeta]="getAttributeMeta()"
			[attribute]="getValue()"
		    [popupParameter]="getAdvancedProperty('popupparameter')"
		></nuc-edit-reference-target>

		<nuc-add-reference-target
			*ngIf="isEnabled()"
			[eo]="getEntityObject()"
			[attributeMeta]="getAttributeMeta()"
		    [popupParameter]="getAdvancedProperty('popupparameter')"
			(click)="addReferenceClick()"
		></nuc-add-reference-target>
	</div>
</div>
