:host {
	position: relative;
	width: 100%;
}

.lov-container {
	position: relative;
	height: 100%;
}

button {
	height: 100%;
	background: lightgray;
	border-color: lightgray;
}


@import "lov-overlay.scss";

.lov-overlay {
	z-index: -1;
}

:host:hover .lov-overlay {
	z-index: 0;
	animation: showtooltip 1s linear alternate;
}

@keyframes showtooltip {
	from { z-index: -1; }
	to { z-index: 0; }
}

.lov-overlay:hover i {
	font-weight: bolder;
}


a {
	cursor: pointer;
}

p-autocomplete {
	height: 100%;
	margin-right: auto;
	border: 0px;
}

:host /deep/ span {
	height: 100%;
}

:host /deep/ input {
	height: 100%;
}

:host /deep/ input:disabled {
	opacity: 1;
	background-color: #eceeef;
	cursor: not-allowed !important;
}

/* firefox fix for fix */
.disabled-dropdownbutton-overlay {
	tab-index: -1;
	position: absolute;
	width: 16px;
	height: 100%;
	z-index: 100;
	top: 0px;
	opacity: 0;
	right: 0;
}

@import "lov-highlight.scss";


:host /deep/ p-autoComplete .ui-autocomplete-panel {
	width: initial!important;
	min-width: 100%;
	max-width: 500px;
}

:host /deep/ p-autoComplete .ui-autocomplete-panel ul li div {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
