<div id="content">
	<div id="detail-container">
		<nuc-detail
			[meta]="getMeta()"
			[eo]="getSelectedEo()"
			[canCreateBo]="false"
			[triggerUnsavedChangesPopover]="triggerUnsavedChangesPopover"
		></nuc-detail>
	</div>
</div>
