<div id="toolbar" class="bg-faded">
	<nuc-explorertrees
		[selected]="getExplorerTree()"
		(onSelect)="selectExplorerTree($event)"
	>
	</nuc-explorertrees>

	<nuc-view-preferences-config
		[meta]="getMeta()"
		[selectedSideviewmenuPref$]="getSideviewmenuPrefSubject()"
		[selectedSearchtemplatePref$]="getSearchtemplatePrefSubject()"
	>
	</nuc-view-preferences-config>

	<nuc-searchtemplate
		[meta]="getMeta()"
		(onSearch)="reloadResults()"
	>
	</nuc-searchtemplate>

	<nuc-perspective
	></nuc-perspective>
</div>
<div id="content">
	<div id="sidebar-container" class="navigation-container">
		<nuc-sidebar
			#sidebar
			*ngIf="getExplorerTree() === undefined"
			[meta]="getMeta()"
			[sideviewmenuPreference]="getSideviewmenuPref()"
			(loadMoreData)="loadMoreResults($event)"
			(onSort)="reloadResults()"
			(onColumnChange)="reloadResults()"
		></nuc-sidebar>
		<nuc-sidetree
			*ngIf="getExplorerTree() !== undefined"
		    [tree]="getExplorerTree()"
		    (selectedNode)="selectedTreeNode($event)"
		>
		</nuc-sidetree>
	</div>

	<div id="detail-container">
		<nuc-detail
			[meta]="getMeta()"
			[eo]="getSelectedEo()"
			[canCreateBo]="canCreateBo()"
			[triggerUnsavedChangesPopover]="triggerUnsavedChangesPopover"
		></nuc-detail>
	</div>

</div>
