:host {
	display: flex;
	flex-flow: column;
	height: initial;
}

#toolbar {
	padding-left: 10px;
}

#content {
	flex: 1;
	display: flex;
	flex-direction: row;
	overflow: auto;
}

#content > #detail-container {
	flex: 1;
	padding-left: 0px;

	display: flex;
	flex-direction: column;
	height: initial;
}

[mwlResizable] {
	position: relative;
	border: 1px solid lightgray;
}

nuc-explorertrees, nuc-view-preferences-config, nuc-searchtemplate {
	float: left;
}
nuc-view-preferences-config {
	margin-top: 3px
}

.navigation-container {
	display: flex;
	height: initial !important;
}
