
<a id="select-entry-in-other-window" class="btn btn-success" ng-if="vm.showSelectButton" ng-click="vm.selectThisEntryInOtherWindow()">
	<span title="{{::'webclient.button.selectEntryInOtherWindow' | i18n}}" class="glyphicon glyphicon-ok"></span>
</a>

<div id="buttonarea" ng-if="!vm.master.meta.readonly && !vm.showSelectButton">
	<div id="buttonarea-left" style="{{vm.showSideviewnavigation ? '' : 'margin-left:12px;'}}">

	        <div id="mandatorSelection" ng-if="vm.showMandatorSelection">
		        <a id="chooseMandatorCancel" class="btn btn-warning" ng-click="vm.showMandatorSelection = false">
			        <span title="{{::'webclient.button.cancel' | i18n}}" class="glyphicon glyphicon-remove"></span>
		        </a>
		        <span>{{vm.master.meta.attributes.nuclosMandator.name}}:</span>
		        <div id="mandators">
			        <div ng-repeat="mandator in vm.mandators">
				        <a ng-click="vm.selectMandator(mandator.mandatorId)">
					        <i class="fa fa-caret-right" aria-hidden="true"></i><span class="mandator-label">{{mandator.path}}</span>
				        </a>
			        </div>
		        </div>
	        </div>

	        <div ng-if="!vm.showMandatorSelection">
				<a id="dataEditorNew" class="btn btn-success" ng-click="vm.newBoInstance()" ng-if="vm.doShowNewButton() && !vm.searchtemplateModel.newBoInstanceTemplates.length > 0 && !vm.searchtemplateModel.selectedSearchtemplatePreference.prefId">
					<span title="{{::'webclient.button.new' | i18n}}" class="glyphicon glyphicon-plus "></span>
				</a>
				<div class="btn-group" id="new-btn-group" ng-if="vm.doShowNewButton() && (vm.searchtemplateModel.newBoInstanceTemplates.length > 0 || vm.searchtemplateModel.selectedSearchtemplatePreference.prefId)">
					<a id="dataEditorNew" class="btn btn-success" ng-click="vm.newBoInstance()">
						<span title="{{::'webclient.button.new' | i18n}}" class="glyphicon glyphicon-plus "></span>
					</a>
					<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a ng-click="vm.newBoInstance(vm.searchtemplateModel.selectedSearchtemplatePreference)">
								{{::'webclient.button.newFromCurrentSearchtemplate' | i18n}}
							</a>
						</li>
						<li ng-repeat="newTemplate in vm.searchtemplateModel.newBoInstanceTemplates">
							<a ng-click="vm.newBoInstance(newTemplate)">
								{{::'webclient.button.newFromSearchtemplate' | i18n}} <b>{{newTemplate.name}}</b>
							</a>
						</li>
					</ul>
				</div>

				<!-- TODO: ng-click entfernen, beim submit wird die Form validiert, dass funktioniert in einigen Faellen noch nicht richtig -->

				<div class="btn-group" id="save-btn-group" ng-if="vm.showCloseOnSaveButton && vm.master.dirty">
					<a id="dataEditorSave"
						ng-click="vm.save()"
						class="btn btn-primary" type="submit" ng-if="vm.master.dirty" >
						<span title="{{::'webclient.button.save' | i18n}}" class="glyphicon glyphicon-save"></span>
					</a>
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li>
							<a id="close-window-on-save-option"class="small" href="" onclick="event.stopPropagation();" ng-click="vm.toggleCloseWindowOnSave()">
								<span ng-if="vm.closeWindowOnSave" class="glyphicon glyphicon-check"></span>
								<span ng-if="!vm.closeWindowOnSave" class="glyphicon glyphicon-unchecked"></span>
								{{::'webclient.button.closeWindowOnSave' | i18n}} &nbsp;
							</a>

						</li>
					</ul>
				</div>
				<a id="dataEditorSave"
					ng-click="vm.save()"
					class="btn btn-primary" type="submit" ng-if="!vm.showCloseOnSaveButton && vm.master.dirty" >
					<span title="{{::'webclient.button.save' | i18n}}" class="glyphicon glyphicon-save"></span>
				</a>
				<a id="dataEditorCancel" class="btn btn-warning" type="submit" ng-if="vm.master.dirty" ng-click="vm.cancel()" >
					<span title="{{::'webclient.button.cancel' | i18n}}" class="glyphicon glyphicon-remove"></span>
				</a>
				<a id="dataEditorDelete" class="btn btn-danger" ng-if="vm.doShowDelButton()" ng-click="vm.deleteCallback()">
					<span title="{{::'webclient.button.delete' | i18n}}" class="glyphicon glyphicon-trash"></span>
				</a>
				<a id="printouts-button" class="btn btn-primary btn-disabled" ng-if="vm.master.selectedBo.links.printouts" ng-disabled="vm.master.dirty" ng-click="vm.openPrintouts()">
					<span title="{{::'webclient.button.printouts' | i18n}}" class="glyphicon glyphicon-print"></span>
				</a>
	        </div>

		<a ng-if='vm.showChartButton && vm.master.selectedBo.subBos' class="btn btn-default" id="open-charts-button" ng-click="vm.openCharts()">
			<i class="fa fa-pie-chart"></i>
		</a>
	</div>
	<div id="buttonarea-states" ng-if="vm.master.selectedBo">
		<states 
			bos="[vm.master.selectedBo]"
			show-current-state="true" 
			available-states="vm.master.selectedBo.nextStates" 
			current-state="vm.master.selectedBo.attributes.nuclosState.id"
		/>
	</div>
	<div id="buttonarea-generations" ng-if="vm.master.selectedBo.showGenerationDropdown">
		<generations 
			master="vm.master"
			available-generations="vm.master.selectedBo.generations"
		/>
	</div>
	<div id="buttonarea-right">
		<span id="bo-locking">
			<span id="lock-info" ng-if="vm.master.selectedBo.attributes.nuclosOwner.id">
				<span id="lock-info-icon" class="glyphicon glyphicon-lock"></span>
				{{::'webclient.button.lockedby' | i18n}}<label>{{vm.master.selectedBo.attributes.nuclosOwner.name}}</label>
			</span>
			<a id="unlock-button" class="btn btn-default" ng-if="vm.master.selectedBo.links.lock" ng-disabled="vm.master.dirty" ng-click="vm.unlockCallback()">
				{{::'webclient.button.unlock' | i18n}}
			</a>
		</span>

		<div ng-if="vm.master.selectedBo.subBos && vm.authentication.allowedActions.ConfigureCharts" class="btn-group" id="morefunctions" >
			<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" title="{{::'webclient.menu.morefunctions' | i18n}}" >
				<span class="glyphicon glyphicon-option-horizontal"></span>
			</button>
			<ul class="dropdown-menu" id="dropdown-morefunctions">
				<li ng-if='vm.master.selectedBo.subBos' class="btn btn-default" id="open-charts-button" ng-click="vm.openCharts()">
					<i class="fa fa-pie-chart"></i> &nbsp; {{::'webclient.charts' | i18n}}
				</li>
			</ul>
		</div>
		<div class="btn-group view-selector" >
		    <button class="btn btn-default" disabled="disabled" id="vm.openSideviewButton">
			    <span class="glyphicon glyphicon-th-list"></span>
		    </button>
		    <a ng-href="#/tableview/{{vm.master.boMetaId}}/{{vm.master.selectedBo.boId}}" class="btn btn-default" id="openTableviewButton">
			    <span class="glyphicon glyphicon-th"></span>
		    </a>
		</div>
	</div>

	<span id="buttonarea-modal-window-state">
	    <a data-dismiss="modal" ng-click="vm.dismiss();" class="close">×</a>
	</span>

</div>
