#detailblock #select-entry-in-other-window {
    margin-left: 9px;
}


#detailblock #save-btn-group .dropdown-menu li a {
    display: inline;
    padding-right: 0px;
    padding-left: 5px;
}


.mandator-stripe {
    width: 120%;
    height: 4px;
    position: fixed;
    margin-left: -10px;
}

input {
	position: relative;
}
