<div id="detailblock" class="detailblock">
	<div
		ng-if="vm.master.selectedBo.attributes.nuclosMandator"
		class="mandator-stripe"
		style="background-color: {{ vm.getMandatorColor(vm.master.selectedBo.attributes.nuclosMandator.id) }}"
	></div>
	<div id="detailblock-content" flow-prevent-drop flow-drag-enter="dropClass='drag-over'; showDropNewFile=true;" flow-drag-leave="dropClass=''; showDropNewFile=false;">
		<!--  ng-class="showSearchList ? 'col-lg-9 col-md-9 col-sm-9 col-sx-12' : ''" ng-class="showSearchList ? 'col-lg-12' : ''" -->
		<form id="detailblock-form" class="form-group ng-pristine" name="vm.dataEditor" novalidate ng-submit="vm.save(vm.master, vm.dataEditor.$valid)";>
			<!-- Standard View Section-->
			<div id="sideview-details" ng-class="'well well2'">

				<detail-buttons
					save-callback="vm.save(vm.master, true, true)"
					save-and-refresh-other-browser-instances-callback="vm.save(vm.master, true, true)"
					cancel-callback="vm.cancel()"
					delete-callback="vm.delete()"
					open-printouts-callback="vm.openPrintouts(vm.master.selectedBo.links.printouts.href)"
					open-charts-callback="vm.openCharts()"
					unlock-callback="vm.unlock(vm.master.selectedBo.links.lock.href)"
				></detail-buttons>				
		
				<div id="sideview-details-content" class="tab-content" ng-if="vm.master.table && vm.master.selectedBo">
					<root-layout master="vm.master"></root-layout> 
				</div>
		
				<div id="subformButtons" ng-if="vm.showSubformButtons">
					<a class="btn btn-primary" ng-click="vm.subformOkButton()" id="subOkButton">{{::'webclient.button.ok' | i18n}}</a>
					<a class="btn btn-danger" ng-if="vm.master.selectedBo.boId" ng-click="vm.deleteSubrow(vm.master.selectedBo.boId)" id="subDeleteButton">{{::'webclient.button.delete' | i18n}}</a>
					<a class="btn btn-default" ng-if="vm.showCancelButton" data-dismiss="modal" ng-click="$dismiss();">{{::'webclient.button.cancel' | i18n}}</a>
				</div>
				
			</div>
			
		</form>

	</div>
	<div class="sideview-statusbar">
		<div class="sideview-statusbar-content">
			<div ng-if="vm.master.selectedBo.attributes.nuclosMandator && vm.master.meta.attributes.nuclosMandator">
				{{vm.master.meta.attributes.nuclosMandator.name}}: {{vm.master.selectedBo.attributes.nuclosMandator.name}}
			</div>
			<div ng-if="vm.master.selectedBo.attributes.changedBy">
				{{::'webclient.sideview.detail.changed' | i18n}}: {{vm.master.selectedBo.attributes.changedBy}} [{{vm.master.selectedBo.attributes.changedAt | date:'dd.MM.yyyy HH:mm:ss'}}]
			</div>
		</div>
		<div class="sideview-statusbar-buttons">
		</div>
	</div>
</div>