<div id="detailblockModal" class="subform" style="padding-left:4px;">
	<detailblock master='master' boMetaId='{{master.boMetaId}}' boId='{{master.selectedBo.boId}}' subformboid='{{subformboid}}' reffield='{{reffield}}' />

	<div id="tableviewFormButtons" ng-if="showTableviewFormButtons">	
		<a class="btn btn-primary" ng-click="saveBo(master.selectedBo, $dismiss);" id="okButton">{{::'webclient.button.ok' | i18n}}</a>
		<a class="btn btn-danger" ng-if="showDeleteButton" ng-click="deleteBo(master.selectedBo, $dismiss);" id="deleteButton">{{::'webclient.button.delete' | i18n}}</a>
	    <a class="btn btn-default" data-dismiss="modal" ng-click="$dismiss();">{{::'webclient.button.cancel' | i18n}}</a>
	</div>
		
</div>
