<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">×</span><span class="sr-only">{{::'webclient.button.close' | i18n}}</span></button>
	<h4 class="modal-title">{{dialog.header}}</h4>
</div>
<div class="modal-body">

	<div ng-bind-html="dialog.message"></div>
	
	<div ng-if="inputrequiredType == 'input_value'">
		<input type="text" ng-model="userinput.inputValue" />
	</div>

	<div ng-if="inputrequiredType == 'input_option'">
		<select
			ng-options="val as val for val in inputrequired.specification.options"
			ng-model="userinput.inputValue"
			ng-selected="inputrequired.specification.defaultoption == val"
			>
		</select>
	</div>
	
</div>
<div class="modal-footer">
	<div ng-if="inputrequiredType == 'input_value'">
	    <button type="submit" class="btn btn-primary" ng-click="userResponse(userinput.inputValue)" id="okButton"><i18n key="webclient.button.ok" /></button>
	    <button class="btn btn-warning" ng-click="cancel();" id="cancelButton"><i18n key="webclient.button.cancel" /></button>
	</div>
	<div ng-if="inputrequiredType == 'input_option'">
	    <button type="submit" class="btn btn-primary" ng-click="userResponse(userinput.inputValue)" id="okButton"><i18n key="webclient.button.ok" /></button>
	    <button class="btn btn-warning" ng-click="cancel();" id="cancelButton"><i18n key="webclient.button.cancel" /></button>
	</div>
	<div ng-if="inputrequiredType == 'confirm_yes_no'">
	    <button type="submit" class="btn btn-primary" ng-click="userResponse(1);" id="okButton"><i18n key="webclient.button.yes" /></button>
	    <button class="btn btn-warning" ng-click="userResponse(2);" id="cancelButton"><i18n key="webclient.button.no" /></button>
	</div>
	<div ng-if="inputrequiredType == 'confirm_ok_cancel'">
	    <button type="submit" class="btn btn-primary" ng-click="userResponse(0);" id="okButton"><i18n key="webclient.button.ok" /></button>
	    <button class="btn btn-warning" ng-click="cancel();" id="cancelButton"><i18n key="webclient.button.cancel" /></button>
	</div>
</div>
