<div id="printouts-modal">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss();">
				<span aria-hidden="true">&times;</span>
			</button>
			<h3 class="modal-title">{{::'webclient.modal.printouts.title' | i18n}}</h3>
		</div>
		<div class="modal-body">
			<div id="printouts">
			<form class="form-horizontal">
				<div ng-repeat="printout in printouts">
					<h4>{{printout.name}}</h4>
					<div ng-repeat="outputFormat in printout.outputFormats">
						<div ng-if="!printoutExecuted">
							<input type="checkbox" ng-model="outputFormat.selected" id="{{outputFormat.outputFormatId}}" class="output-format-checkbox" > 
							<label for="{{outputFormat.outputFormatId}}">{{outputFormat.name}}</label>
							
							<div ng-repeat="param in outputFormat.parameters | orderBy:'parameter'" ng-show="outputFormat.selected" >
						        <ng-switch on='param.type'>
									<div class="form-group">
										<label for="{{param.parameter}}" class="col-sm-4 layoutraster control-label">{{param.name}}</label>
										<div class="col-sm-4 layoutraster parameter">
										
											<div ng-if="!param.vlp">
								            	<input 
								            		ng-switch-when='String' 
								            		type="text" 
								            		ng-model="param.value"
								            		ng-required='!param.nullable' 
								            		class="form-control" 
								            		name='{{param.parameter}}' 
								            		id='{{param.parameter}}' >
											            		
								            	<input 
								            		ng-switch-when='Boolean' 
								            		type="checkbox" 
								            		ng-model="param.value"
								            		class="form-control" 
								            		name='{{param.parameter}}' 
								            		id='{{param.parameter}}' >
								            		
								            	<input 
								            		ng-if="param.type=='Number' || param.type=='Decimal'" 
								            		type="text" 
								            		ng-model="param.value"
								            		ng-required='!param.nullable' 
								            		class="form-control" 
								            		name='{{param.parameter}}' 
								            		id='{{param.parameter}}' 
								            		number-input
								            		>
											            		
												<input 
													ng-switch-when='Date'
													type="text" 
								            		ng-model="param.value"
								            		ng-required='!param.nullable' 
								            		class="form-control" 
								            		name='{{param.parameter}}' 
								            		id='{{param.parameter}}'
													uib-datepicker-popup="{{dateFormat}}"
													date-type="string"
													is-open="param.opened"
													datepicker-options="datePickerOptions" 
													close-text="{{::'webclient.button.close' | i18n}}" 
													clear-text="{{::'webclient.button.clear' | i18n}}" 
													current-text="{{::'webclient.button.today' | i18n}}" 
													ng-click="param.opened=true;"
													date-input
												>
												
											</div>
											<div ng-if="param.vlp">
												<div class="lov">
													<ui-select ng-model="param.value"
															theme="bootstrap"
															reset-search-input="false"
															ng-required='!param.nullable'
															>
														<ui-select-match class="ui-select-match">{{$select.selected.name}}</ui-select-match>
														<ui-select-choices class="ui-select-choices" repeat="item in param.dropdownoptions track by $index"
																refresh="loadLovDropDownOptionsPrintout({select: {vlp: param.vlp}}, param, $select.search, param.dropdownoptions)"
																refresh-delay="0"
																refresh-on-active="true"
																>
															<div ng-bind-html="item.name | highlight: $select.search"></div>
														</ui-select-choices>
													</ui-select>
												</div>
											</div>
							            		
										</div>
									</div>
					            </ng-switch>
							</div>							
							
						</div>
						<div ng-if="printoutExecuted && outputFormat.fileName">
							<span class="glyphicon glyphicon-file"></span> 
							<a href="{{outputFormat.links.file.href}}" class="printout-downoload-link">
								{{outputFormat.fileName}}
							</a>
						</div>
					</div>
				</div>
			</form>
			</div>
			<div class="modal-footer">
				<button ng-show="!printoutExecuted" id="execute-printout-button" class="btn btn-primary" ng-disabled="!executeButtonEnabled(printouts)" ng-click="executePrintout(printouts)">{{::'webclient.button.printouts.execute' | i18n}}</button>
				<button ng-show="printoutExecuted" type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">{{::'webclient.button.close' | i18n}}</button>
			</div>
		</div>
	</div>
</div>