
<ng-switch ng-if="::td.field.input" on="td.field.input">

	<!-- IMPORTANT: Each kind of component, referenced by "ng-switch-when" should be of the following syntax -->
	<!-- <tag ng-switch-when='type' ...> -->
	<!-- ....... -->
	<!-- </tag> -->
	
	<!-- AND ng-switch-default must be the last switch statement -->
	<!-- AND write for comments the comments tags in each line, because those lines are skipped in static-layout-directive -->
	
    <input ng-switch-when='input'
		id='field-{{::td.field.name}}'
		name="innerFormItem"
		class='layoutraster'
		ng-model="master.selectedBo.attributes[td.field.name]"
		ng-change="editorChange(td.field.name, master)"
		ng-disabled='::td.field.readonly || !master.selectedBo.canWrite'
		ng-required='::td.field.required'
		nc-type='{{::td.field.type}}'
		number-input
		scale='{{::td.field.scale}}'
		precision='{{::td.field.precision}}'
		type='{{::td.field.itype}}'
		tabindex="{{::td.field.tabindex}}"
		maxlength="{{::td.field.maxlength}}"
		ng-attr-style="{{td.field.style}}"
	>
    </input>

	<datechooser ng-switch-when='date' date='td.field' model="master.selectedBo.attributes[td.field.name]" 
				readonly='td.field.readonly || !master.selectedBo.canWrite' changecallback="editorChange(td.field.name, master)"/>
	
	<actiontext ng-switch-when='hyperlink' field='td.field' model="master.selectedBo.attributes[td.field.name]"						
				readonly='td.field.readonly || !master.selectedBo.canWrite' changecallback="editorChange(td.field.name, master)" 
				actioncallback="openLink(master.selectedBo.attributes[td.field.name])" glyph='new-window'/>
	
	<actiontext ng-switch-when='email' field='td.field' model="master.selectedBo.attributes[td.field.name]"						
				readonly='td.field.readonly || !master.selectedBo.canWrite' changecallback="editorChange(td.field.name, master)" 
				actioncallback="openLink(master.selectedBo.attributes[td.field.name])" glyph='envelope'/>
	
    <user-button ng-switch-when='button' button='td.field' master='master'></user-button>

   	<nc-checkbox ng-switch-when='checkbox' checkbox='td.field' model="master.selectedBo.attributes[td.field.name]" 
				readonly='td.field.readonly || !master.selectedBo.canWrite' changecallback="editorChange(td.field.name, master)"></nc-checkbox>
  	    
	<nc-memo ng-switch-when='memo' memo='td.field' model="master.selectedBo.attributes[td.field.name]" 
				readonly='td.field.readonly || !master.selectedBo.canWrite' changecallback="editorChange(td.field.name, master)" style='{{::td.style}}'></nc-memo>
  	       
	<tabbed-pane ng-switch-when='tabbedpane' tabs="td.field.tabs" master='master' ng-if="::td.field.tabs"></tabbed-pane>

	<subform ng-switch-when='subform' subform='td.field.subform' master='master'/>
   
	<div ng-switch-when='select' class="lov" ng-dblclick="openReference(td.field.name, master)">
		<style type="text/css">#field-{{::td.field.name}} .ui-select-toggle { {{td.field.style}} }</style>
	
		<nc-select
			model="master.selectedBo.attributes[td.field.name]"
			bo-id="::master.selectedBo.boId"
			disabled='::td.field.readonly || !master.selectedBo.canWrite'
			required='::td.field.required'
			quicksearch="quicksearch"
			load-options-callback="loadLovDropDownOptions(td.field.name, master.selectedBo, quicksearch, master.selectedBo.attributes[td.field.name].id)"
			value-changed-callback="editorChange(td.field.name, master)"
			id="field-{{::td.field.name}}"
		></nc-select>
		<span ng-if="::!td.field.nojump" class="lov-overlay" >
			<search-reference-target
			 	ng-if="::!td.field.readonly && master.selectedBo.canWrite"
			    bo-meta-id="::master.boMetaId"
			    bo-instance="master.selectedBo"
			    bo-attribute-name="td.field.name"
				popup-parameter="td.field.properties.popupparameter"
			></search-reference-target>
			<edit-reference-target
			 	ng-if="master.selectedBo.attributes[td.field.name].id"
			    bo-meta-id="::master.boMetaId"
				bo-id="master.selectedBo.attributes[td.field.name].id"
			    bo-instance="master.selectedBo"
			    bo-attribute-name="td.field.name"
				popup-parameter="td.field.properties.popupparameter"
			></edit-reference-target>
			<add-reference-target
			 	ng-if="::!td.field.readonly && master.selectedBo.canWrite"
			    bo-meta-id="::master.boMetaId"
			    bo-instance="master.selectedBo"
			    bo-attribute-name="td.field.name"
				popup-parameter="td.field.properties.popupparameter"
			></add-reference-target>
		</span>
	</div>

    <div ng-switch-when='document'>
        <nc-fileupload
			id='field-{{::td.field.name}}'
         	bo='master.selectedBo'
         	field="td.field"
         	filename="master.selectedBo.attributes[td.field.name].name"
         	changecallback='editorChange'
         	css='{{td.field.style}}'
         	readonly='td.field.readonly || !master.selectedBo.canWrite'
        />
    </div>

	<div ng-switch-when='image'>
        <nc-fileupload
   			id='field-{{::td.field.name}}'
           	bo='master.selectedBo'
           	field="td.field"
           	filename="master.selectedBo.attrImages.links[td.field.name].href"
           	changecallback='editorChange'
           	is-image='true'
           	css="width: {{::td.width}}px; height: {{::td.height}}px; background:url('{{master.selectedBo.attrImages.links[td.field.name].href}}') no-repeat; background-size: contain;"
           	readonly='td.field.readonly || !master.selectedBo.canWrite'
        />
	</div>

    <div ng-switch-when='titled-separator' class="titled-separator">
        <span>{{::td.text}}</span>
    </div>

	<fieldset ng-switch-when='panel'
		id="panel-{{::td.key}}"
		class="panel {{::td.class}} {{::td.showCollapsiblePanelButton ? 'collapsible' : ''}}"
		ng-attr-style="{{td.field.style}}"
	>
       <span
           ng-if="::td.showCollapsiblePanelButton"
           class="resize-panel-button glyphicon glyphicon-resize-small"
           ng-click="togglePanel(td.key, tr.depth)"
           title="{{::'webclient.detail.panel.toggle' | i18n}}"
       ></span>
       <legend
           ng-if="::td.text" class="legendpanel"
           ng-click="togglePanel(td.key, tr.depth)">{{::td.text}}</legend>
       <div
        class="fieldset-content {{::td.showCollapsiblePanelButton ? 'fieldset-content-collapsible' : ''}}"
        ng-show="hiddenpanels[td.key] != true"
        ng-attr-style="{{::td.style}}"
        id="fieldset-{{::td.key}}-content"
        tr-flex-init-height="{{::td.height}}" tr-depth="{{::tr.depth}}"
        static-layout table="td.field.table" master="master">
       </div>
	</fieldset>

    <div ng-switch-when='matrix' class="matrix" ng-attr-style="height: {{::td.height > 0 ? td.height + 'px' : '100%'}}">
		<matrix
			config="td.field.matrix"
			bo="master.selectedBo"
			data="tab.data"
			gridOptions="{}"
			tabindex="::$index"
			width="{{::td.width}}"
			height="{{::td.height-10}}"
		/>
    </div>

	<div ng-switch-when='stateicon' class='stateicon' style="width:{{::td.width}}px; height: {{::td.height}}px">
		<img ng-src='{{::master.selectedBo.links.stateIcon.href}}'/>
	</div>

    <div ng-switch-default
        style="display:table;"
        ng-attr-tr-flex-init-height="{{::td.height}}" tr-depth="{{::tr.depth}}"
    >
       <span
           class="layoutraster default-text"
           ng-attr-style="{{::td.style}};display:table-cell;"
           ng-bind-html="td.text">
       </span>
    </div>

</ng-switch>

<span class="help-inline" ng-if="master.inValidFormSubmitted && innerForm.innerFormItem.$error.required"><i18n key="webclient.field.error.required"/></span>
<span class="help-inline" ng-if="master.inValidFormSubmitted && innerForm.innerFormItem.$error.date"><i18n key="webclient.field.error.date"/></span>
<span class="help-inline" ng-if="master.inValidFormSubmitted && innerForm.innerFormItem.$error.number"><i18n key="webclient.field.error.number"/></span>
				