<div class="subform"
	ng-init="subform.doEdit = !subform.initialreadonly;"
	ng-attr-style="width: {{::subform.width > 0 ? subform.width + 'px' : '100%'}}; height: {{::subform.height > 0 ? subform.height + 'px' : '100%'}}"
    tr-flex-init-height="{{::subform.height}}" tr-depth="{{::subform.depth}}"
           >
	<div ng-if="subform.doEdit">
		<nc-ui-grid
			nc-ui-grid-autonumber
			nc-ui-grid-column-layout
			master="master"
			subform="subform"
			bometaid="{{::subform.boMetaId}}"
			newbutton="{{::subform.newbutton}}"
			clonebutton="{{::subform.clonebutton}}"
			deletebutton="{{::subform.deletebutton}}"
			editenabled="{{::subform.editenabled}}"
			reffield="{{::subform.reffield}}"
			width="{{::subform.width}}"
			height="{{::subform.height}}"
		/>
	</div>
	<div ng-if="!subform.doEdit">
		<div ng-dblclick="subform.doEdit = true">
			<nc-ui-grid-readonly
				bometaid="{{::subform.boMetaId}}"
				master="master"
				subform="subform"
				reffield="{{::subform.reffield}}"
				width="{{::subform.width}}"
				height="{{::subform.height}}"
				on-edit-click="subform.doEdit = true"
			/>
		</div>
	</div>
</div>