<div class="tabpane-container">
	<ul class="nav nav-tabs" >
	    <li ng-repeat="tab in ::tabs" ng-class="{active: tab.isActive}" ng-click="clickOnTab(tab, tabs)" id="tab_{{::tab.reffield ? tab.reffield : tab.title}}">
	        <a id="tab_{{tab.title}}">{{tab.title}}
	        <span ng-if="tab.reffield" class="subbo-count">
		        <span class="subformcountfade" ng-show="!master.selectedBo.subBos[tab.reffield].bosLoaded"> ({{master.selectedBo.subBos[tab.reffield].bosSize}})</span> 
		        <span class="subformcountfade" ng-show="master.selectedBo.subBos[tab.reffield].bosLoaded == 'partly'"> ({{master.selectedBo.subBos[tab.reffield].bos.length}}/{{master.selectedBo.subBos[tab.reffield].bosSize}})</span>
		        <span class="subformcountfade" ng-show="master.selectedBo.subBos[tab.reffield].bosLoaded == 'all'"> ({{master.selectedBo.subBos[tab.reffield].bos.length}})</span>
	        </span>
	        </a> 
	    </li>
	</ul>
	
	<div class="tab-content">
	    <div class="tab-pane active">
	        <div ng-repeat="tab in ::tabs" ng-class="{active: tab.isActive}" class="tab">
	            <div ng-if="tab.isActive" style='position: relative;' id="tab-content-{{::tab.title}}" ng-class="{'activetab' : tab.isActive}"
	             ng-class="{'accept-draggable' : tab.acceptDraggable==true, 'reject-draggable' : tab.acceptDraggable==false}" ng-drop="true" ng-drop-success="onDropComplete($data,$event)"
	            >
	        	    <div static-layout table="tab.table" master="master"></div> 
	            </div>
	        </div>
	    </div>
	</div>	
</div>
