<ng-include src="'app/header/header.html'" ></ng-include>

<div class="container-fluid">   
 
	<style>
		.http-method {
			display: inline-block;
			font-size: xx-small;
		}
		.http-method-GET {
			color: green;
		}
		.http-method-POST {
			color: blue;
		}
		.http-method-PUT {
			color: brown;
		}
		.http-method-DELETE {
			color: red;
		}
		
		.restexplorer {
			margin-left: 0px;
			width: 100%;
		}
		
		.restexplorer .serviceSelector {
			white-space: nowrap;
		}
	        
	    .restexplorer .pathParams input {
            width: 150px;
		}
		
		.restexplorer .path-input {
			/* reset nuclos.css definistions */
			width: initial;
			display: initial;
			height: initial;
			padding: initial;
			font-size: initial;
			line-height: initial;
			color: initial;
			vertical-align: initial;
			background-color: initial;
			border: initial;
			border-radius: initial;
			-webkit-box-shadow: initial;
			        box-shadow: initial;
			-webkit-transition: initial;
			        transition: initial;
		
			font-size: 10px;
			padding-top:3px;
			padding-bottom:3px;
			margin-right: -4px;
			border: 0px solid #ccc;
			font-family: monospace;
			text-align: center;
		}
		.restexplorer textarea {
			font-family: monospace;
			font-size: 11px;
			margin-top: 8px;
		}
				
		.restexplorer .btn-group {
			margin-left: 10px;
			margin-top: 2px;
		}
		
		.restexplorer .btn-group .btn+.btn {
			margin-left: -3px;
		}
		
		/* HTTP response */ 
		.restexplorer pre code {
			font-size: 8px;
		}
		
		.restexplorer .path {
			border: 1px solid #ccc;
			padding-bottom: 5px;
			border-radius: 4px;
			padding-top: 1px;
			background-color: white;
			white-space: nowrap;
		}
		
		.restexplorer label {
			font-size: 11px;
		}
		
		
		.restexplorer > div {
			height: 100%;
		}
		
		.restexplorer .restservicelist {
			height: 100%;
		}
		
		.restexplorer .restservicelist {
			overflow-x: hidden;
			overflow-y: scroll;
			float: left;
			height: 100%;
		}
/*		
		#selectedRestService {
			width: 530px;
		}
		*/
		
		.serviceSelectorSelected {
			background-color: gold;
		}
		
		.callIndicator {
			padding-top: 5px;
			padding-bottom: 5px;
		}
                
        .restServiceResponse {
            overflow-x: hidden;
            overflow-y: auto;
            height: 100%;
        }
        
		.restexplorer .disableIcon {
			opacity: 0.5;
			cursor: pointer;
		}
		
		.panel-group {
			min-width: 350px;
		}
		
		.restexplorer .searchfilter {
			margin: 5px 5px 5px 0px;
		}

		.restexplorer .search-input input {
			border: 1px solid lightgray;
		}
		
	</style>
	<div class="container restexplorer" style="height:100%">
	    <div class="row clearfix" style="height:100%">
	        <div class="col-md-4 column restservicelist">
			      <div>
			      	<div>
				    	<div class="showOnMouseOverParent">
			    			REST Services
			    		</div>
						
						<div class="search-input searchfilter">
							<input 
								placeholder="{{::'webclient.text.searchfilter' | i18n}}" 
								ng-model="restserviceFilter" 
								class="form-control"
							>
							<span 
								id="clear-searchfilter" 
								class="glyphicon glyphicon-remove-circle" 
								ng-show="restserviceFilter" 
								ng-click="restserviceFilter='';">
							</span>
						</div>						
													
			            <ul ng-repeat="restservice in restservices track by $index" class="nav nav-pills nav-stacked serviceSelector">
			                <li ng-if="!restserviceFilter || restservice.path.indexOf(restserviceFilter) != -1" >
			                    <a class="serviceSelector" ng-class="restservice == selectedRestService ? 'serviceSelectorSelected' : ''" 
			                    ng-click="selectRestServiceClickHandler($index)"
								   >
			                           <span class="http-method http-method-{{restservice.method}}" style="width: 34px;">{{restservice.method}}</span>
										<span class="glyphicon glyphicon-lock" ng-if="restservice.isFinalized"></span>
			                           	{{restservice.path}}
			                           <br>
				                    <span ng-if="restservice.description" style="margin-left: 35px;font-size: 9px; color: gray;">{{restservice.description}}</span>
			                    </a>
			                </li>
			            </ul>
			      	</div>
			    </div>
	        </div>
	        <div class="col-md-8 column" ng-if="selectedRestService" style="height:100%;" >
	            <div class="form-group" id="selectedRestService">
		            <form role="form">
						<div class="well">
			            	<span class="http-method http-method-{{selectedRestService.method}}">{{selectedRestService.method}}</span>
			            	<span class="glyphicon glyphicon-arrow-right" style="font-size: 10px;"></span>
			            	<span class="http-method" title="Return Type">{{selectedRestService.returnType}}</span>
							<div class="form-horizontal">
								<span class="path">
									<span ng-repeat="pathElement in pathElements track by $index" class="pathElement">
										<span ng-hide="pathElement.name!=null">
											<input type="text" value="{{pathElement}}" disabled="disabled" class="path-input">
										</span>
										<span ng-hide="pathElement.value==null">
											<input type="text" style="min-width:80px;" ng-model="pathElement.value" title="{{pathElement.name}}" placeholder="{{pathElement.placeholder}}" class="path-input">
										</span>
									</span>
								</span>
								<div class="btn-group open">
								  <button ng-disabled="!selectedRestService" ng-click="executeRestService()" class="btn btn-primary btn-xs">Execute</button>
								  <button type="button" class="btn btn-primary dropdown-toggle btn-xs" data-toggle="dropdown">
								    <span class="caret"></span>
								    <span class="sr-only">
								    Toggle Dropdown</span>
								  </button>
								  <ul class="dropdown-menu" role="menu" ng-hide="selectedRestService.method != 'GET'">
								    <li>
								    	<a ng-click="executeAutomatically = !executeAutomatically; prepareRestServiceExecution(selectedRestService);" >
									        <input ng-if="executeAutomatically" checked="checked" type="checkbox">
									        <input ng-hide="executeAutomatically" type="checkbox"> Execute GET calls on selection
								    	</a>
								    </li>
								    <li>
								    	<a ng-click="executeRestServiceInNewTab()">Execute in new tab</a>
								    </li>
								  </ul>
								</div>								
							</div>
			                <textarea class="form-control" placeholder="post data" ng-hide="selectedRestService.method!='POST' && selectedRestService.method!='PUT'" ng-model="selectedRestService.postData"></textarea>
			                <textarea id="requestParams" json-text class="form-control" placeholder="request parameter" ng-if="selectedRestService.method=='GET'" ng-model="selectedRestService.requestParams"></textarea>
						</div>            
		            </form>
				</div>            
	            <div class="form-group" style="height:85%">
	                <div ng-if="restServiceResponse" class="restServiceResponse">
	                    <div hljs source="restServiceResponse" id="restServiceResponse"">
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>