@import "../../../styles";

:host {
	height: 100%;
}

.ag-fresh {
	font-size: 0.6875rem;
	font-family: unset;
}

:host /deep/ .ag-fresh .ag-root {
	border: none;
}

/* remove header color gradient */
:host /deep/ .ag-fresh .ag-header .ag-pinned-left-header,
:host /deep/ .ag-fresh .ag-header .ag-pinned-right-header,
:host /deep/ .ag-fresh .ag-header-viewport {
	background-color: #efefef;
}

.container-fluid {
	padding: 0px
}

.subform-container {
	/* Negative margin to cancel out the padding of web-component */
	margin-right: -1px;
	margin-bottom: -1px;
	height: calc(100% + 1px); /* Add 1 extra pixel for the negative margin */

	display: flex;
	flex-direction: row;
}

.subform {
	height: 100%;
	flex: 1;
	max-width: calc(100%);
}

// Leave some extra space if there are buttons.
// We have to do this manually or the ag-grid will not resize correctly.
.with-buttons {
	max-width: calc(100% - 24px);
}

a i {
	font-size: 0.813em;
}

/*
overflow is set to visible when editing datepicker cells
 */
:host /deep/ .subform-date-cell.ag-cell-inline-editing {
	overflow: visible;
}

:host /deep/ .ag-header-icon i {
	float: right;
	font-size: 0.64em;
	position: relative;
	top: 0.75em;
	margin-left: 0.5em;
}

:host /deep/ .ag-fresh .ag-row-even {
	background-color: #f4f4f4;
}
:host /deep/ .ag-fresh .ag-row-odd {
	background-color: #ebebeb;
}

:host /deep/ .ag-fresh .ag-row-selected {
	background-color: $row-selected-background-color;
}

:host /deep/ .ag-fresh .ag-row-selected .row-new {
	background-color: $row-new-selected-background-color;
}

:host /deep/ .ag-fresh .row-modified {
	background-color: $row-modified-background-color;
}

:host /deep/ .ag-fresh .ag-row-selected.row-modified,
:host /deep/ .ag-fresh .ag-row-selected .row-modified {
	background-color: $row-modified-selected-background-color;
}

:host /deep/ .ag-fresh .row-new {
	background-color: $row-new-background-color;
}

:host /deep/ .ag-fresh .ag-row-selected.row-new,
:host /deep/ .ag-fresh .ag-row-selected .row-new {
	background-color: $row-new-selected-background-color;
}

:host /deep/ .ag-fresh .row-deleted {
	background-color: $row-deleted-background-color;
}

:host /deep/ .ag-fresh .ag-row-selected.row-deleted,
:host /deep/ .ag-fresh .ag-row-selected .row-deleted {
	background-color: $row-deleted-selected-background-color;
}


:host /deep/ .buttonbar .view-preferences-icon {
	margin-top: 4px;
}
