<div id="change-state-dialog" class="dialog">
	<div class="modal-header">
	    <h3>{{dialog.header}}</h3>
		<div id="change-state-gradient" class="change-state-gradient" />
	</div>
	<div class="modal-body">
		<table>
			<tr>
				<td>
					<div>
						<div ng-switch on="dialog.currentStateInfo.buttonIconResourceURL !=null ">
							<div ng-switch-when="true">
								<img ng-if="dialog.currentStateInfo.buttonIconResourceURL" ng-src="{{dialog.currentStateInfo.buttonIconResourceURL}}" title="{{dialog.currentStateInfo.statename}}" >
							</div>
							<div ng-switch-default style="font-size: x-large;">
								{{dialog.currentStateInfo.numeral}}
							</div>
						</div>
						{{dialog.currentStateInfo.statename}}
					</div>
				</td>
				<td>
					<span class="glyphicon glyphicon-arrow-right"></span>
				</td>
				<td>
					<div>
						<div ng-switch on="dialog.newStateInfo.buttonIconResourceURL !=null ">
							<div ng-switch-when="true">
								<img ng-if="dialog.newStateInfo.buttonIconResourceURL" ng-src="{{dialog.newStateInfo.buttonIconResourceURL}}" title="{{dialog.newStateInfo.statename}}" >
							</div>
							<div ng-switch-default style="font-size: x-large;">
								{{dialog.newStateInfo.numeral}}
							</div>
						</div>
						{{dialog.newStateInfo.statename}}
					</div>
				</td>
			</tr>
		</table>
		<br/>
		<table ng-if="dialog.message.trim()!=''">
			<tr>
				<td colspan="3" style="padding-top: 20px; text-align: left;">
					{{dialog.message}}
				</td>
			</tr>
		</table>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary" ng-click="ok()" id="okButton"><i18n key="webclient.button.ok" /></button>
	    <button class="btn btn-warning" ng-click="cancel()"><i18n key="webclient.button.cancel" /></button>
	</div>
</div>

