<div>
	<!-- change state buttons -->
	<div class="btn-group" ng-if="availableStates || bos[0].attributes.nuclosState && bos[0].attributes.nuclosState.id">
		<span>
		    <a
				id="{{bos[0].attributes.nuclosState.id}}"
				state-number="{{bos[0].attributes.nuclosStateNumber}}"
	            ng-if="bos[0].attributes.nuclosState && showCurrentState && bos[0].attributes.nuclosState.id"
	    		type="submit" 
	    		class="btn btn-default disabled"
	            title="{{::'webclient.button.current.state' | i18n}}"
	            >
		        <img ng-if="bos[0].links.stateIcon.href" ng-src="{{bos[0].links.stateIcon.href}}"/>&nbsp;{{bos[0].attributes.nuclosState.name}}
		    </a>
			&thinsp;
		</span>
		<span ng-repeat="state in availableStates">
		    <a 
	    		id="{{::state.nuclosStateId}}"
			    state-number="{{::state.number}}"
	            ng-if="::!state.current"
	    		type="submit" 
	    		class="btn btn-default"
	            ng-click="changeState(state)"
	            title="{{::'webclient.button.change.state.to' | i18n}} '{{::state.name}}'."
	            >
		        <img ng-if="::state.links.stateIcon.href" ng-src="{{::state.links.stateIcon.href}}"/>&nbsp;{{::state.buttonLabel ? state.buttonLabel : state.name}}
		    </a>
			&thinsp;
	    </span>
	</div>
</div>