<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
	        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
	        aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<button
		id="logo"
		class="navbar-nav navbar-brand btn-link"
		[routerLink]="['/dashboard']"
		[disabled]="!loggedIn"
	>
		<nuc-loading-indicator
			[thresholdInMilliseconds]="1000"
		></nuc-loading-indicator>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">

		<ul *ngIf="loggedIn" class="navbar-nav mr-auto">
			<li *ngIf="isDevMode" class="nav-item dropdown">
				<a
					class="nav-link dropdown-toggle"
					href=""
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>{{'webclient.devUtils.name' | i18n}}</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" [routerLink]="['/restexplorer']">{{'webclient.restExplorer.name' |
						i18n}}</a>
					<a class="dropdown-item" [routerLink]="['/businesstests']">{{'webclient.businesstests.menu' |
						i18n}}</a>
					<a class="dropdown-item" [routerLink]="['/cache']">{{'webclient.cache.overview' | i18n}}</a>
				</div>
			</li>
			<nuc-menu-item
				[entries]="menuStructure.entries"
				[level]="0"
				*ngIf="menuStructure && menuStructure.entries">
			</nuc-menu-item>
		</ul>

		<div class="navbar-toggler-right pr-3">
			<div class="row">

				<nuc-full-text-search class="navbar-text mr-2"></nuc-full-text-search>

				<nuc-locale></nuc-locale>

				<nuc-disclaimer-menu></nuc-disclaimer-menu>

				<nuc-admin-menu
					[superUser]="isSuperUser()"
				></nuc-admin-menu>

				<nuc-user-menu
					[loggedIn]="loggedIn"
					[username]="username"
					[anonymous]="isAnonymous()"
				></nuc-user-menu>

			</div>
		</div>
	</div>
</nav>
