<div class="ui-grid-container">
	<table class="fixed-headers">
		<thead>
			<tr>
				<th
					ng-repeat="column in ::vm.layout.columns"
					ng-attr-style="min-width: {{::column.width}}px; max-width: {{::column.width}}px;"
					title="{{::column.displayName}}"
					>
					{{::column.displayName}}
				</th>
				<th>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="bo in vm.data.bos" ng-style="{'background-color': bo.rowcolor}" >
				<td
					ng-repeat="column in vm.layout.columns"
					ng-attr-style="min-width: {{::column.width}}px; max-width: {{::column.width}}px;"
					ng-class="::{'nuclos-number': column.isNumber}"
					title="{{::vm.master.selectedBo.submetas[vm.bometaid].attributes[column.fieldName].type === 'String' ? bo.attributes[column.fieldName] : ''}}"
				>
					<span ng-bind-html="::bo.attributes[column.fieldName]" ></span>
				</td>
				<td>
					<span title="{{::'webclient.edit' | i18n}}" ng-if="::vm.showEditRowInOverlay">
						<a class="edit-row" ng-click="vm.editRow(bo)">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</a>
					</span>
					<span title="{{::'webclient.edit.newtab' | i18n}}" class="subform-edit-row-in-new-tab" ng-if="::vm.showEditRowInNewTabOrPopup && !vm.showEditRowInPopup && bo.boId" >
						<a ng-click="vm.editRowInNewTab(bo)">
							<span class="glyphicon glyphicon-share" aria-hidden="true"></span>
						</a>
					</span>
					<span title="{{::'webclient.edit.popup' | i18n}}" class="subform-edit-row-in-new-tab" ng-if="::vm.showEditRowInNewTabOrPopup && vm.showEditRowInPopup" >
						<a ng-click="vm.editRowInPopup(bo, $event)" ng-href="{{::vm.editRowInPopupUrl(bo)}}">
							<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
						</a>
					</span>
				</td>
			</tr>
		</tbody>
	</table>
	<span ng-if="!vm.subformReadonly && vm.master.selectedBo.canWrite" id="edit-subform">
		<a ng-click="vm.enterEditMode()" title="{{::'webclient.subform.button.edit' | i18n}}">
			<span class="glyphicon glyphicon-pencil"></span>
		</a>
	</span>
</div>
