<div class="ui-grid-container">
    <div class="buttonbar">
	    <div id="newSubboInGridDiv" ng-show="newbutton == 'true' && !isSubformReadonly" title="{{::'webclient.subform.button.newRow' | i18n}}" >
	        <a id="newSubboInGrid" class="btn btn-small btn-info" ng-click="newSubboInGrid(subform)" >
	            <span class="glyphicon glyphicon-plus-sign"></span>
	        </a>
	    </div>
		<div id="deleteSelectedBosInGridDiv" ng-show="showDeleteButton && !isSubformReadonly" title="{{::'webclient.subform.button.deleteSelectedRows' | i18n}}">
			<a id="deleteSelectedBosInGrid" class="btn btn-small btn-danger" ng-click="deleteSelectedBosInGrid(gridApi, subform)"  ng-disabled="gridApi.selection.getSelectedGridRows().length < 1">
				<span class="glyphicon glyphicon-trash"></span>
			</a>
		</div>
		<div id="cloneSelectedBosInGridDiv" ng-show="showCloneButton && !isSubformReadonly" title="{{::'webclient.subform.button.cloneSelectedRows' | i18n}}">
			<a id="cloneSelectedBosInGrid" class="btn btn-small btn-success" ng-click="cloneSelectedBosInGrid(gridApi, subform)"  ng-disabled="gridApi.selection.getSelectedGridRows().length < 1">
				<span class="glyphicon glyphicon-copy"></span>
			</a>
		</div>
	    <div title="{{::'webclient.subform.button.moveSelectedRowsUp' | i18n}}">
	        <a id="subform-rows-up-button" class="btn btn-small" ng-click="gridContext.subformRowsUp(gridApi, reffield)" ng-show="gridContext.showAutonumberNavigationButtons">
	            <span class="glyphicon glyphicon-arrow-up"></span>
	        </a>
	    </div>
	    <div title="{{::'webclient.subform.button.moveSelectedRowsDown' | i18n}}">
	        <a id="subform-rows-down-button" class="btn btn-small" ng-click="gridContext.subformRowsDown(gridApi, reffield)" ng-show="gridContext.showAutonumberNavigationButtons">
	            <span class="glyphicon glyphicon-arrow-down"></span>
	        </a>
	    </div>
	    <div title="{{::'webclient.sideview.listexport.title' | i18n}}">
	        <a id="subform-export-button" class="btn btn-small btn-info" ng-click="exportSubform(subform, reffield)" ng-if="authentication.allowedActions.PrintSearchResultList">
	            <span class="glyphicon glyphicon-export"></span>
	        </a>
	    </div>
    </div>
    <div class="divgrid" ng-style="{'margin-left': (newbutton == 'true' && '20px' || '0px')};"  ng-attr-style='{{height>0 ? "height: "+height+"px;" : ""}}; overflow:hidden;' >
        <div id="grid" ng-if="enableCellNav" ui-grid='gridOptions'  external-scopes='myExternalScope' ng-attr-style='{{height>0 ? "height: "+height+"px;" : ""}}' ui-grid-pinning ui-grid-resize-columns ui-grid-edit ui-grid-auto-resize ui-grid-cellnav ui-grid-selection ui-grid-infinite-scroll ui-grid-save-state ui-grid-move-columns class='grid'></div>
        <div id="grid" ng-if="!enableCellNav" ui-grid='gridOptions'  external-scopes='myExternalScope' ng-attr-style='{{height>0 ? "height: "+height+"px;" : ""}}' ui-grid-pinning ui-grid-resize-columns ui-grid-edit ui-grid-auto-resize ui-grid-selection ui-grid-infinite-scroll ui-grid-save-state ui-grid-move-columns class='grid'></div>
    </div>
</div>
