.fileupload-container {
	height: 100%;
	background-size: contain !important;
}

.fileupload-container.file-over {
	border-color: green;
	background: lightgreen;
}

.icons {
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
}

.icons {
	display: none;
}

.icons .reset-document {
	color: red;
}

:host:hover .icons {
	display: inherit;
}

.upload-file-select-text {
	color: #bdbdbd;
}

.upload-file-select {
	width: 100%;
	height: 100%;
	display: inline-block;
}

.upload-file-select .upload-file-select-text {
	cursor: pointer;
	height: 100%;
	display: inline-block;
}

