<div class="fileupload-container"
     ngFileDrop
     [options]="options"
     (onUpload)="handleUpload($event)"
     (onFileOver)="fileOver($event)"
     [ngClass]="{
		'file-over': hasDropZoneOver,
		'uploaded': isUploaded
	}"
     [ngStyle]="{'background': isImage && getImageUrl() ? 'url(' + getImageUrl() + ') no-repeat' : ''}"
     (click)="clickOnFile()"
>
	<div
		*ngIf="fileName"
		class="document-filename ellipsis"
		title="{{fileName}}"
	>
		<img *ngIf="fileIconUrl" src="{{fileIconUrl}}">
		<span *ngIf="!isImage">
			{{fileName}}
		</span>
	</div>
	<label *ngIf="!documentIsSelected" class="upload-file-select">
		<input type="file"
		       class="hidden"
		       style="display:none"
		       ngFileSelect
		       [options]="options"
		       (onUpload)="handleUpload($event)">
		<span
			*ngIf='showUploadLabel'
			class="upload-file-select-text"
			title="{{'webclient.fileupload.upload.selectOrDropFile' | i18n}}"
		>
			{{'webclient.fileupload.upload.selectOrDropFile' | i18n}}
		</span>
	</label>
</div>
<span class="icons">
	<a
		*ngIf="hasDocument()"
		class="download-file"
		(click)="openDocument(event)"
		title="{{'webclient.button.download' | i18n}}"
	>
		<span class="fa fa-download"></span>
	</a>
	<a
		*ngIf="isEditable && hasDocument()"
		class="reset-document"
		(click)="removeDocument()"
		title="{{'webclient.button.removeDocument' | i18n}}"
	>
		<span class="fa fa-trash"></span>
	</a>
</span>
