<div id="detail-modal-dialog" class="dialog">
	<div class="modal-body">

		<nuc-layout
			[eo]="eo"
		></nuc-layout>

	</div>

	<div class="modal-footer">
		<button id="button-ok" type="button" class="btn btn-primary" (click)="close()">
			{{ 'webclient.button.ok' | i18n }}
		</button>
	</div>
</div>

