<div id="password-home">
    <ng-include src="'app/header/header.html'" ></ng-include>
	 <div id="changepassword" class="container" style="width:340px; margin-top:20px; padding-left:14px; padding-bottom:15px;" >
                   
          <div class="panel panel-primary panel-nuclos"> 
              <div class="panel-heading panel-heading-nuclos"> 
                  <h3 class="panel-title">{{::'webclient.user.changepassword' | i18n}}</h3>
              </div> 
              <div class="panel-body">
                <form ng-submit="vm.changePassword(vm.passwordItem);">      
                  <table>
                      <tr ng-if="vm.msg">                       
                      <td style="color:{{vm.color}};" colspan=3>{{vm.msg | i18n}}</td>
                      </tr>
                      <tr ng-if="vm.msg" style="height:10px;"><td></td></tr>                                           
                      <tr>
                      <td>{{::'webclient.nosession.txtfield.username' | i18n}}</td>
                      <td>&nbsp;&nbsp;</td>
                      <td>{{vm.passwordItem.userName}}</td>
                      </tr>
                      <tr style="height:10px;"><td></td></tr>                                           
                      <tr>
                      <td>{{::'webclient.user.changepassword.old' | i18n}}</td>
                      <td>&nbsp;&nbsp;</td>
                      <td><input type='password' ng-model='vm.passwordItem.oldPassword'/></td>
                      </tr>                          
                      <tr style="height:10px;"><td></td></tr>                                           
                      <tr>
                      <td>{{::'webclient.user.changepassword.new' | i18n}}</td>
                      <td>&nbsp;&nbsp;</td>
                      <td><input type='password' ng-model='vm.passwordItem.newPassword'/></td>
                      </tr> 
                      <tr style="height:4px;"><td></td></tr>                                           
                      <tr>
                      <td><div style="width:116px;">{{::'webclient.user.changepassword.confirmnew' | i18n}}</div></td>
                      <td>&nbsp;&nbsp;</td>
                      <td><input type='password' ng-model='vm.passwordItem.confirmNewPassword'/></td>
                      </tr> 
                      <tr style="height:5px;"><td></td></tr>                                           
                      <tr>                       
                      <td></td>
                      <td>&nbsp;&nbsp;</td>
                      <td>
                      <input class="btn btn-primary" type='submit' class='btn' style="width: 100%;" value="{{::'webclient.user.changepassword.submit' | i18n}}"/>
                      </td>
                      </tr> 
                  </table>  
				</form>
              </div>
          </div>
                                        
    </div>
</div>
