#changepassword {
    padding: 10px;
    padding-right: 25px;
}

#changepassword .password-item:hover {
    background-color: azure; 
}
#changepassword .password-item.selected {
    background-color: lightblue; 
}

#changepassword .password-item {
    cursor: pointer;
}

#changepassword .password-item-icons {
    float: right;
}

#changepassword .update-password-share {
    color: green;
}

#changepassword .discard-password-item {
    color: red;
}