<div 
	id="searchtemplate" 
	class="searchtemplate prevent-popover-close" 
	ng-if="vm.showSideviewNavigation"
>
	<div 
        id="text-search-container" 
        class="search-input whiteback well"
        ng-click="vm.searchtemplateModel.attributePopoverOpen=false;"
    >
        <input 
            id="text-search-input"
            placeholder="{{::'webclient.text.searchfilter' | i18n}}" 
			ng-model="vm.textSearch"
			ng-change="vm.doTextSearch()"
            class="form-control"
            ng-disabled="master.dirty" 
        >
        <span 
            id="clear-searchfilter" 
            class="glyphicon glyphicon-remove-circle" 
            ng-show="vm.textSearch" 
            ng-click="vm.textSearch=''; vm.doTextSearch();">
        </span>
	</div>
    
    
	<!-- select attributes -->
	<div 
		id="searchfilter-attributelist-popover" 
		class="searchfilter-popover panel panel-default" 
		ng-show="vm.searchtemplateModel.attributePopoverOpen"
		nc-click-outside="vm.searchtemplateModel.attributePopoverOpen = false" 
		>
		<div class="panel-body">
			<!-- select search template -->
			<div id="searchtemplate-selection">
				<div id="searchtemplate-selection-first-row">
					<ui-select 
						ng-show="!vm.searchtemplateModel.editSearchtemplate"
						ng-model="vm.searchtemplateModel.selectedSearchtemplatePreference"
						theme="bootstrap"
						ng-change="vm.selectSearchtemplate($select.selected)"
						ng-disabled="vm.searchtemplateModel.searchtemplatePreferences.length === 0"
						>
						<ui-select-match class="ui-select-match" id='searchtemplatePref-{{searchtemplatePref.id}}' >{{$select.selected.name}}</ui-select-match>
						<ui-select-choices class="ui-select-choices" repeat="searchtemplatePref in vm.searchtemplateModel.searchtemplatePreferences track by $index">
							<div ng-bind-html="searchtemplatePref.name" class="prevent-popover-close"></div>
						</ui-select-choices>
					</ui-select>

					<input 
						id="searchtemplate-name-input"
						ng-show="vm.searchtemplateModel.editSearchtemplate"
						type="text" 
						ng-model="vm.searchtemplateModel.selectedSearchtemplatePreference.name" 
						ng-enter="vm.searchtemplateModel.editSearchtemplate = false; vm.updatePreferenceName();"
					>
					<a
						id="edit-searchtemplate"
						class="searchtemplate-icon"
						ng-click="vm.editSearchtemplate()" 
						ng-if="vm.searchtemplateModel.selectedSearchtemplatePreference.prefId && !vm.searchtemplateModel.editSearchtemplate" 
						title="{{::'webclient.searchtemplate.searchtemplate.edit' | i18n}}"
						>
						<span class="glyphicon glyphicon-edit" ></span>
					</a>
					<a
						id="save-searchtemplate" 
						class="searchtemplate-icon"
						ng-click="vm.saveSearchtemplate()" 
						ng-if="(vm.searchtemplateModel.selectedSearchtemplatePreference.prefId || vm.searchtemplateModel.selectedSearchtemplatePreference.name) && vm.searchtemplateModel.editSearchtemplate" 
						>
						<span class="glyphicon glyphicon-ok" ></span>
					</a>
					<a
						id="delete-searchtemplate" 
						class="searchtemplate-icon"
						ng-click="vm.deleteSearchtemplate()" 
						ng-if="vm.searchtemplateModel.selectedSearchtemplatePreference.prefId" 
						title="{{::'webclient.searchtemplate.searchtemplate.delete' | i18n}}"
						>
						<span class="glyphicon glyphicon-trash"></span>
					</a>
					<a 
						id="new-searchtemplate" 
						class="searchtemplate-icon"
						ng-click="vm.newSearchtemplate()" 
						title="{{::'webclient.searchtemplate.searchtemplate.new' | i18n}}"
						>
						<span class="glyphicon glyphicon-plus-sign"></span>
					</a>
					<br>
				</div>
				<div id="searchtemplate-selection-second-row" ng-show="vm.searchtemplateModel.editSearchtemplate">
					<input
						id="searchtemplate-is-new-template" 
						type="checkbox" 
						ng-model="vm.searchtemplateModel.selectedSearchtemplatePreference.content.isNewBoInstanceTemplate"
						ng-change="vm.savePreferences()"
					>
					<label for="searchtemplate-is-new-template">{{::'webclient.searchtemplate.isNewBoInstanceTemplate' | i18n}}</label>
				</div>
			</div>

            <a ng-click="vm.doSearch(false); vm.searchtemplateModel.attributePopoverOpen = false;">{{::'webclient.searchtemplate.new.search' | i18n}}</a>
            <br>
            <a ng-click="vm.resetSearch(vm.getProcessMetaId());" id="disable-all-search-attributes-button">{{::'webclient.searchtemplate.reset.search' | i18n}}</a>

            <hr style="margin-bottom:5px !important; margin-top:5px !important; " />
                
			<div class="search-input">
				<input 
					id="attribute-filter"
					type="text"
					placeholder="{{::'webclient.field.name' | i18n}}" 
					ng-model="attributeFilter" 
				>
				<span 
					id="clear-searchfilter" 
					class="glyphicon glyphicon-remove-circle" 
					ng-show="attributeFilter" 
					ng-click="attributeFilter='';">
				</span>
			</div>	

			<div id="searchfilter-attributes" searchtemplate-scrollbar>
				<div ng-repeat="attr in vm.searchtemplateModel.selectedSearchtemplatePreference.content.allAttributes track by $index">
					<div 
						ng-if="attr.name.toLowerCase().indexOf(attributeFilter.toLowerCase()) != -1"  
						ng-click="vm.togglePopover(attr);"
						class="attribute"
						ng-class="{systemattribute: attr.system}"
						>
						<input type="checkbox" id="checkbox-{{attr.boAttrId}}" ng-model="attr.selected" ng-click="vm.selectSearchAttribute(attr);">
						<label for="checkbox-{{attr.boAttrId}}">{{attr.name}}</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button 
        id="opensearch-button"
		class="btn btn-default"
        ng-class="{isopen: vm.searchtemplateModel.attributePopoverOpen}" 
		ng-click="vm.searchtemplateModel.attributePopoverOpen = !vm.searchtemplateModel.attributePopoverOpen; attributeFilter=''; openSearchAttributeList($event);"
	>
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		<span id="search-caret"class="glyphicon" aria-hidden="true"></span>        
	</button>
	
	
	<!-- configure attribute -->
	<div 
		ng-repeat="attribute in vm.searchtemplateModel.selectedSearchtemplatePreference.content.attributes track by $index"
		class="searchtemplate-item"
	>
		<div>
			<div class="fade searchfilter-popover searchfilter-attribute-popover" id="searchfilter-{{attribute.boAttrId}}">
				<div 
					ng-if="attribute.searchPopoverOpen" 
					nc-click-outside="attribute.searchPopoverOpen = false" 
					class="panel panel-default prevent-popover-close"
					>
				
					<div ng-init="attribute.operator = attribute.operator || '='"></div>
					
					<div class="searchfilter-popover-content panel-body">

						<ng-switch on="attribute.searchComponent">

							<div ng-switch-when="boolean">
								<div ng-init="attribute.operator='='"></div>							
								<input type="radio" id="value-yes" value="true" ng-model="attribute.value" ng-change="vm.inputSearchValue(attribute)">
								<label for="value-yes">ja</label>
								<input type="radio" id="value-no" value="false" ng-model="attribute.value" ng-change="vm.inputSearchValue(attribute)">
								<label for="value-no">nein</label>
							</div>

							<input
								ng-switch-when="datepicker"
								id="searchfilter-value"
								name="innerFormItem"                    
								type="text" 
								uib-datepicker-popup="{{vm.dateFormat}}"
								ng-model='attribute.value' 
								date-type="string"
								is-open="datepickerOpen"
								datepicker-options="datePickerOptions" 
								ng-disabled="vm.getOperatorDefinition(attribute).isUnary"
								close-text="{{::'webclient.button.close' | i18n}}" 
								clear-text="{{::'webclient.button.clear' | i18n}}" 
								current-text="{{::'webclient.button.today' | i18n}}" 
								id="value-date" 
								ng-click="datepickerOpen = true"
								ng-change="vm.inputSearchValue(attribute)" 
							>
							</input>							

							<div ng-switch-when="lov" class="lov" >
								<search-template-reference-target
									bo-meta-id="::master.boMetaId"
									bo-attribute="attribute"
									bo-attribute-name="attribute.boAttrName"
									value-changed-callback="vm.inputSearchValue(attribute)"																
								></search-template-reference-target>
								<nc-select 
									model="attribute.value"
									attribute="attribute.value"
									disabled="vm.getOperatorDefinition(attribute).isUnary"
									quicksearch="quicksearch"
									load-options-callback="vm.loadSearchLovDropDownOptions(attribute, quicksearch)"
									value-changed-callback="vm.inputSearchValue(attribute)"
								></nc-select>
							</div>

							<input
								ng-switch-default
								id="searchfilter-value"
								ng-model="attribute.value"
								ng-change="vm.inputSearchValue(attribute)" 
								ng-if="!vm.getOperatorDefinition(attribute).isUnary"
								type="{{attribute.inputType == 'number' ? 'number' : 'text'}}"
								>
							</input>
							
							<br/>
							
							<div ng-repeat="operatorDef in vm.searchtemplateModel.operatorDefinitions[attribute.inputType]"
								ng-if="attribute.inputType != 'boolean'"
							>
								<span ng-if="(attribute.nullable && attribute.boAttrName != 'nuclosStateNumber' && attribute.boAttrName != 'nuclosState') || !operatorDef.isUnary">                           
									<input
										type="radio" 
										name="{{operatorDef.label}}"
										ng-model="attribute.operator"
										ng-value="operatorDef.operator"
										ng-change="vm.inputSearchValue(attribute)"
										id="operator-{{operatorDef.operator}}" 
									>
									</input>
									<label for="operator-{{operatorDef.operator}}">{{operatorDef.label}}</label>
								</span>                                
							</div>
							
						</ng-switch>
						
					</div>
				</div>
				
			</div>
			<span 
                id="button-{{attribute.boAttrId}}"
				class="attribute-button btn btn-default" 
				ng-class="{invalid: !attribute.isValid, activated: attribute.isValid && attribute.enableSearch, popoveropen: attribute.searchPopoverOpen}"
			>
                <span ng-if="!attribute.isValid" ng-click="vm.togglePopover(attribute);">
                    <span class="overflow-ellipsis">
				    {{attribute.name}}
                    </span>
                </span>
				<span ng-if="attribute.isValid">
                    <span class="overflow-ellipsis" ng-click="vm.togglePopover(attribute);" title="{{attribute.name}} {{getOperatorLabel(attribute)}} {{attribute.formattedValue}}">
                        {{attribute.name}}
                        {{vm.getOperatorLabel(attribute)}}
						{{attribute.formattedValue}}
                    </span>
                    <span class="overflow-ellipsis">
                        <input type="checkbox" ng-model="attribute.enableSearch" ng-change="vm.doSearch(true);" class="enable-search" title="{{::'webclient.searchtemplate.enable.search' | i18n}}" />
                    </span>
				</span>
			</span>
		</div>
	</div>
</div>