/* autocomplete panel in grid is set to complete available height - set back to initial height */

:host /deep/ .ui-autocomplete-panel {
	height: initial !important;
}

.disabled-dropdownbutton-overlay {
	position: absolute;
	width: 16px;
	height: 100%;
	z-index: 100;
	top: 0px;
	right: 0px;
	opacity: 0;
}

@import "../../../../layout/abstract-lov/lov-highlight.scss";
@import "../../../../layout/abstract-lov/lov-overlay.scss";

.lov-overlay {
	top: 0.4em;
}
