<div id="dashboard">
    <span class="close" data-dismiss="modal" ng-click="vm.closeModal()"><span aria-hidden="true">×</span><span class="sr-only ng-binding">{{::'webclient.button.close' | i18n}}</span></span>
    <div class="row grid-stack"
        gridstack 
        options="vm.options"
        on-change="vm.onChange(event,items)" 
        on-drag-start="vm.onDragStart(event,ui)" 
        on-drag-stop="vm.onDragStop(event,ui)" 
        on-resize-start="vm.onResizeStart(event,ui)" 
        on-resize-stop="vm.onResizeStop(event,ui)">
        <div 
            ng-repeat="widget in vm.dashboardItems" 
            id="{{::widget.id}}" 
            class="gridstack-item"
            gridstack-item
            gs-item-x="widget.config.gridstack.x" 
            gs-item-y="widget.config.gridstack.y" 
            gs-item-width="widget.config.gridstack.width" 
            gs-item-height="widget.config.gridstack.height" 
            
            collapsed="{{widget.config.hidden}}"
            >
            <div class="widget">
                <div class="panel panel-default grid-stack-item-content" >
                    <div class="panel-heading">
                        <a ng-if="widget.url" ng-click="vm.closeModal()" href="{{widget.url}}" class="panel-heading-title" >{{widget.title}}</a>
                        <span ng-if="!widget.url" class="panel-heading-title" >{{widget.title}}</span>
                        <span class="panel-heading-icons">
                            <span ng-click="vm.toggleWidget(widget, true);" ng-if="!widget.config.hidden" class="glyphicon glyphicon-resize-small" aria-hidden="true" title="{{::'webclient.detail.panel.toggle' | i18n}}"></span>
                            <span ng-click="vm.toggleWidget(widget, false);" ng-if="widget.config.hidden" class="glyphicon glyphicon-resize-full" aria-hidden="true" title="{{::'webclient.detail.panel.toggle' | i18n}}"></span>
                        </span>
                    </div>
                    <div class="panel-body-container">
                        <div class="panel-body" ng-include="widget.template" ng-if="!widget.config.hidden"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
