
#dashboard  {
    padding: 10px;
    overflow: auto;
}

#dashboard .panel {
    width: 100%;
}
#dashboard .panel .panel-heading {
    background-color: #eee;
}
#dashboard .task-group {
    font-weight: bold; 
}
#dashboard ul {
    padding-left: 0px;
}
#dashboard .task-group .task-item, #dashboard .menu-group .menu-item {
    font-weight: normal;
    list-style: none;
}

#dashboard .task-group .task-item .bo-info {
    padding-left: 20px; 
}


#dashboard #dashboard-menu .menu-path {
    cursor: pointer;
}


#dashboard  {
    height: 100%;
}

#dashboard .widget
  {
    /*overflow: auto;*/
}


#dashboard .panel-heading .panel-heading-icons {
    display: none;
    float: right;
    cursor: pointer;
}
#dashboard .panel-heading:hover .panel-heading-icons {
    display: inline;
}


#dashboard .panel-heading .panel-heading-title {
    overflow-x: hidden;
    white-space: nowrap;
    width: 90%;
    display: inline-block;
    text-overflow: ellipsis;
}


#dashboard .row, 
#dashboard .widget {
    height: 100%;
    margin: 0px;
}

#dashboard .widget {
    margin: 5px;
}

#dashboard .gridstack-item[collapsed="false"] .panel {
    height: 100%;
}

#dashboard .panel {
    overflow: hidden;
    margin-bottom: 0px;
}

#dashboard .panel-body-container {
    height: 100%;
    padding-bottom: 46px; /* outer height of .panel-heading */
}

#dashboard .panel-body {
    height: 100%;
    overflow: auto;
}

#dashboard-home {
    height: 100%;    
}

#dashobard-modal {
    height: 100%;    
}

#dashboard-home .close {
    display: none;
} 

#dashboard .close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
} 


#dashboard .grid-stack .gridstack-item .ui-resizable-handle {
    /*bottom: -0px;*/
    opacity: 0.5;
/*display: initial!important;*/
}


/*
.grid-stack > .grid-stack-item[collapsed='true'] {
  height: 0px!important;
}
.grid-stack > .grid-stack-item[collapsed='true'] .panel-body {
  display: none!important;
}
*/

.grid-stack > .grid-stack-item[collapsed='true'] .widget{
  height: initial!important;
}

.grid-stack > .grid-stack-item[collapsed='true'] .ui-resizable-handle {
  display: none!important;
}


