<ui-select 
        ng-model="vm.model" 
        theme="bootstrap"
        ng-change="vm.valueChanged()"
        ng-disabled="vm.disabled"
        ng-required="vm.required"
        >
    <ui-select-match class="ui-select-match">{{$select.selected.name}}</ui-select-match>
    <ui-select-choices class="ui-select-choices" repeat="item in vm.options track by $index"
            refresh="vm.loadLovDropDownOptions($select.search)"
            refresh-delay="0"
            refresh-on-active="true"
            >
        <div ng-bind-html="item.name | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>