<div id="list-export-modal">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss();">
				<span aria-hidden="true">&times;</span>
			</button>
			<h3 class="modal-title">{{::'webclient.sideview.listexport.title' | i18n}}</h3>
		</div>
		<div class="modal-body">

			<div>{{::'webclient.sideview.listexport.format.title' | i18n}}</div>
			<div>
				<div>
					<div>
						<input type="radio" ng-model="vm.format" ng-change="vm.exportLink = undefined;" ng-click="vm.pageOrientation = 'portrait';"
							value="pdf" id="listexport-format-pdf">
						<label for="listexport-format-pdf">{{::'webclient.sideview.listexport.format.pdf' | i18n}}</label>
					</div>
					<fieldset class="panel" ng-disabled="vm.format != 'pdf'">
						<legend class="legendpanel">{{::'webclient.sideview.listexport.format.pdf.preferences' | i18n}}</legend>
						<div class="orientation">
							<div>
								<input type="radio" ng-model="vm.pageOrientation" ng-change="vm.exportLink = undefined;" value="portrait" id="listexport-pageOrientation-portrait">
								<label for="listexport-pageOrientation-portrait">{{::'webclient.sideview.listexport.format.pdf.pageOrientationPortrait' | i18n}}</label>
							</div>
							<div>
								<input type="radio" ng-model="vm.pageOrientation" ng-change="vm.exportLink = undefined;" value="landscape" id="listexport-pageOrientation-landscape">
								<label for="listexport-pageOrientation-landscape">{{::'webclient.sideview.listexport.format.pdf.pageOrientationLandscape' | i18n}}</label>
							</div>
						</div>

						<div>
							<input type="checkbox" ng-model="vm.isColumnScaled" ng-change="vm.exportLink = undefined;" id="listexport-isColumnScaled">
							<label for="listexport-isColumnScaled">{{::'webclient.sideview.listexport.format.pdf.isColumnScaled' | i18n}}</label>
						</div>
					</fieldset>
				</div>

				<div>
					<input type="radio" ng-model="vm.format" ng-change="vm.exportLink = undefined;" value="csv" id="listexport-format-csv">
					<label for="listexport-format-csv">{{::'webclient.sideview.listexport.format.csv' | i18n}}</label>
				</div>

				<div>
					<input type="radio" ng-model="vm.format" ng-change="vm.exportLink = undefined;" value="xlsx" id="listexport-format-xlsx">
					<label for="listexport-format-xlsx">{{::'webclient.sideview.listexport.format.xlsx' | i18n}}</label>
				</div>

				<div>
					<input type="radio" ng-model="vm.format" ng-change="vm.exportLink = undefined;" value="xls" id="listexport-format-xls">
					<label for="listexport-format-xls">{{::'webclient.sideview.listexport.format.xls' | i18n}}</label>
				</div>
			</div>

			<button id="execute-listexport-button" class="btn btn-primary" ng-disabled="!vm.format || vm.exportLink" ng-click="vm.executeListExport()">{{::'webclient.sideview.listexport.execute' | i18n}}</button>

			<div ng-if="vm.exportLink" style="display:none;">
				<a href="{{vm.exportLink}}" id="e2e-test-export-link">Download</a>
			</div>
		</div>
	</div>
</div>