.sideview-list-entry {
	cursor: pointer;
    
    white-space: nowrap;
    /*overflow: hidden;*/
    padding-right: 10px;    
}

.sideview-list .sideview-list-entry-title {
	/*overflow: hidden;*/
    width: inherit;
}


#sideview-navigation {
	overflow: hidden;
	height: 100%;	
	margin-right: -4px; 
    float: left;
}

#sideview-navigation-container {
	overflow: hidden;
	height: 100%;	
	width: 100%;
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 0px;
    padding: 0px 0px 0px 13px;
}


/*
.sideview-navigation-inner {                    
	height: 100%;	
        padding-bottom: 0px; 
        padding-left: 2px; 
        height:18px; 
        display:inline-block; 
        overflow-y: hidden; 
        white-space: nowrap;
}*/

.sideview-navigation-inner {height: 100%;}
#sideviewmenu {height: 100%;}
#sideview-list-div {
	height: 100%;
	overflow: auto;
	background-color: white;
    
    /* avoid horiontal scrollbar in sideview */
    /*padding-right: 3px; */
    
}


/* collapsible menu */
#sideview-navigation #menu-table .menu-hidden {
	color: gray;
}
#sideview-navigation #menu-table tr.ng-hide {
	opacity:0;
}

#sideview-navigation .menu-item {
	cursor: pointer;
}

#sideview-navigation {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #EEEEEE;
}
/* resize sideview menu */
#sideview-navigation .ui-resizable-e {
    top: -20px;
    background-color: white;
    right: 0px;
    width: 14px;
    border-right: 11px solid white;
}
#sideview-navigation .ui-resizable-e:hover,
#sideview-navigation.ui-resizable-resizing .ui-resizable-e {
    cursor: ew-resize;
    background-color: lightgray;
}

#sideview-navigation .ui-icon-gripsmall-diagonal-se {
    display: none!important;
}


/* fix ui-resizable z-index */
.ui-resizable-handle {
    z-index: auto !important;
}


.sideview-list {
    cursor: pointer;
}

#searchtemplate #searchfilter-attributelist-popover .attribute input[type=checkbox],
#sideview-attributelist-popover .attribute input[type=checkbox] {
    float: left;
}
#searchtemplate #searchfilter-attributelist-popover .attribute label,
#sideview-attributelist-popover .attribute label {
    width: 80%;
    margin-left: 5px;
}

/* popover systemattribute labels for checkbox */
#searchtemplate #searchfilter-attributelist-popover .systemattribute label,
#sideview-attributelist-popover .systemattribute label {
    color: #939393;
}

.sideview-list .column-menu {
    top: -1px;
}

.sideview-list .sideview-list-resizable {
    display: table;
    width: 100%;
}

.sideview-list .sideview-list-resizable {
    display: flex;
    table-layout: fixed;
}

.sideview-list-resizable {
    cursor: pointer;
    margin-top: 0px;
}

.sideview-list-resizable th {
    white-space: nowrap;
    vertical-align: top; 
}


.sideview-list-resizable tr th {
    background-color: white;
    height: 40px;
}

.sideview-list-resizable tr:first-child {
    border-bottom: 1px solid #BDBDBD;
}

.sideview-list-resizable td {
    width: -4px;
    vertical-align: top;
    padding: 0 3px 0 3px;
}

.sideview-list-resizable th.resizable-th:not(:first-child) {
    cursor: pointer;
    padding-left: 3px;
    height: 100%;
}
.sideview-list-resizable tr:first-child {
    height: 4px;
}

.sideview-list-resizable th.resizable-th .glyphicon {
    font-size: 9px;
    color: #337DC3;
}    

.sideview-list-resizable th.resizable-th:not(:first-child):after {
    display: flex;
    opacity: 0; 
    content:'_';
    position: relative;
    width: 6px;
    height: 50px;
    top: 0px;
    right: -3px;
    margin-top: -10px;
    margin-left: -100px; /* avoid floating below th */
    cursor: ew-resize;
    float: right;
}
.sideview-list-resizable.resizing th.resizable-th {
    cursor: ew-resize;
}

.sideview-list-resizable div.column-info, 
.sideview-list-resizable div.column-dragdrop {
    /* ngDragable works only for div not for span */
    display: inline;

    padding-top: 13px;
    position: relative;
    top: 13px;
}

/* make column width smaller to allow making columns smaller */
.sideview-list-resizable .resizable-th.resizing div.column-dragdrop {
    width: initial!important;
    padding-right: 20px;
}

.sideview-list-resizable #open-attrlist,
.sideview-list-resizable .header,
.sideview-list-resizable .sort-icon {
    position: relative;
    top: 13px;
}

.sideview-list-resizable .header, .sideview-list-resizable .sort-icon {
    top: 0px;
    left: 5px;
}

.sideview-list .drag-column {
    border-left: 1px solid darkgray;
}
.sideview-list .drag-column-left {
    border-left: 1px solid darkgray;
}
.sideview-list .drag-column-right {
    border-right: 1px solid darkgray;
}

div.sideview-list {
    height:100%;
    background-color: #ffffff;
}

.sideview-list-entry {
    padding: 2px 0px 2px 0px; 
}

.sideview-list-entry-title {
    padding-bottom: 0px; 
    padding-left: 2px; 
    display:inline-block; 
    overflow-y: hidden; 
    white-space: nowrap;
}

.sideview-list-entry-column {
    width: 100px;
    float: left;
    border-right: 1px solid lightgray;
}


#sideviewmenu-expand-icon-bar {
    position: relative;
    width: 40px;
    right: -5px;
    top: 0px;
    height: 80%;
    position: absolute;
    display: block;
}

#sideviewmenu-expand-icon-bar #sideviewmenu-expand-icon-area {
    width: 100px;
    height: 100px;
    position: relative;
    opacity: 0;
    width: 40px;
    right: -5px;
    top: 40%;
    position: absolute;
    display: block;
    border-radius: 5px;
}
#sideviewmenu-expand-icon-bar:hover #sideviewmenu-expand-icon-area {
    opacity: 1;
    border: 1px solid lightblue;
    background-color: aliceblue;
    cursor: initial;
    padding: 29px 0 29px 0;
}
#sideviewmenu-expand-icon-bar:hover #sideviewmenu-expand-icon-area:hover {
    background-color: aliceblue;
}


.sideview-is-expanded .sideview-list-resizable  th:first-child {
    width: 22px;
}

.sideview-is-expanded .sideview-list-resizable  th:last-child, .sideview-is-expanded .sideview-list-resizable  td:last-child {
    opacity: 0;
    border: none;
    display: none;
}


#sideview-attributelist-popover {
    width: 250px;
    margin-top: -1px;
    border-top: none;
	position: absolute;
	left: 4px;
	z-index: 1000;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	background-color: #EEEEEE;
}

.searchfilter-popover #attribute-filter , #sideview-attributelist-popover #attribute-filter {
    font-weight: normal;
    height: 21px;
}


#sideview-attributelist-popover .panel-body {
    /* height: 100%; */
    overflow: hidden;
}
#sideview-attributelist-popover .panel-body .panel-content {
    height: 100%;
    margin-top: 5px;
    overflow: auto;
}


#sideview-attributelist-popover .attribute .sorticon {
    float: right;
    cursor: pointer;
} 

#sideview-attributelist-popover .attribute .nosort {
    opacity: 0;
}
#sideview-attributelist-popover .attribute:hover .nosort {
    opacity: 0.4;
}


#open-attrlist-button {
    cursor: pointer;
    padding-left: 0px;
    margin-left: 3px;
}

.sideview-list #open-attrlist-button:hover, .sideview-list #open-attrlist-button.isopen {
	color: #009BFF;
} 





.resizable-th span.sortable-header {
    color: #337DC3;
}

.resizable-th span:not(.sortable-header) {
    cursor: default;
}

.sideview-list-resizable .resizing {
    border-right: 1px solid lightgray;
}

.sideview-list-resizable th:after {
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 4px 4px 0 0;
    border-color: #337DC3;
}



/* sideview statusbar left side */
.sideview-statusbar {
    position: relative;
    background-color: #EEE;
    height: 20px;
    border-right: 1px solid #e3e3e3;
}

#sideviewmenu, #detailblock {
    padding-bottom: 20px;
}

.sideview-statusbar .sideview-statusbar-content {
    float: right;
    z-index: 0;
    padding: 2px 8px;
    color: rgba(0, 0, 0, 0.43);
    font-size: 12px;
}
#sideviewmenu .sideview-statusbar .sideview-statusbar-content > div {
    float: left;
    margin-right: 5px;
}
.sideview-statusbar .sideview-statusbar-buttons {
    position: inherit;
     float: left; 
    left: 3px;
    padding-right: 2px;
}
.sideview-statusbar .icon-btn {
    padding: 2px 4px;
    background-color: #EEE;
    position: inherit;
    float: right;
}

/* sideview statusbar right side */
detailblock .sideview-statusbar {
    left: 3px;
}
detailblock .sideview-statusbar .sideview-statusbar-content {
    width: 100%;
    text-align: right;
}

.modal #sideview-details {
    border: none;
    margin-left: 2px;
}

.modal .sideview-statusbar {
    display: none;
}

#list-export-modal .modal-body {
    padding-top: 0px;
}

#list-export-modal fieldset.panel {
    border: 1px solid lightgray;
    margin-left: 20px;
    padding: 5px;
    display: inline;
    font-size: smaller;
}
#list-export-modal fieldset.panel > div.orientation > div {
    float: left;
}
#list-export-modal fieldset.panel > div.orientation label {
    margin-right: 10px;
}

#list-export-modal fieldset.panel[disabled] {
    opacity: 0.5;
}


#list-export-modal #execute-listexport-button {
    margin-top: 8px;
}