<div id="sideview" show-sideview-navigation="{{showSideviewnavigation}}">
	<ng-include src="'app/header/header.html'"></ng-include>

	<ng-include src="'app/perspective/perspective.html'"></ng-include>
</div>
