<div id="sideview-navigation"
    resizable on-resize="vm.handleSideviewmenuResize()" 
    ng-show="vm.showSideviewnavigation && vm.sideviewMenuWidth > 0"
    ng-style="{width: vm.sideviewMenuWidth + 'px'}"
>
    <div
	    ng-if="vm.showSideviewnavigation"
        id="sideview-navigation-container"
        class="whiteback col-lg-3 col-md-3 col-sm-3 col-xs-12 well"
    >
        <div class="sideview-navigation-inner">
            <div id="sideviewmenu">
                <ul id="sideviewselector" class="nav nav-tabs" role="tablist" ng-if="vm.sideviewMenuSelector.length > 0">
                    <li ng-class="{active : sideviewMenuSelectorCurrent==null}"><a ng-click="vm.selectSideviewMenuMaster()"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
                    <li ng-repeat="menuitem in vm.sideviewMenuSelector" ng-class="{active : menuitem==sideviewMenuSelectorCurrent}"><a ng-click="vm.selectSideviewMenu($index)">{{menuitem.label}}</a></li>
                </ul>
                <div id="sideview-list-div">
                    <div id="sideview-list-tree" ng-if="treedata">
                        <input
                                id="text-treesearch-input"
                                placeholder="{{::'webclient.text.treesearchfilter' | i18n}}"
                                ng-model="vm.master.treesearchQuery"
                                class="form-control"
                        >
                        <!-- Nested list template -->
                        <script type="text/ng-template" id="items_renderer.html">
                            <div ui-tree-handle ng-class="{ 'select': $treeScope.multiSelect, 'copy': $treeScope.copy }" ng-drag="true" ng-drag-data="item" ng-drag-success="onDragComplete($data,$event)" >
                                <a class="btn btn-success btn-xs" nodrag ng-click="toggle(this); loadNodeData(this);">
                                    <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed, 'button-invisible': item.hasSubnodes==false}" ></span>
                                </a>
                                <span ng-mouseover="openwin=1" ng-mouseleave="openwin=0" ng-click="vm.loadNodeData(this);" >
                                    <img ng-click="vm.toggle(this);" ng-src="{{item.iconUrl}}" style="height:16px; width:16px;"/>
                                    <span>{{item.title}}</span>
                                    <span ng-if="openwin==1" class="glyphicon glyphicon-new-window" ng-click="vm.selectTreeNode(this)" ></span>
                                </span>
                                <!--
                                <a class="pull-right btn btn-danger btn-xs" nodrag ng-click="vm.remove(this)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <a class="pull-right btn btn-primary btn-xs" nodrag ng-click="vm.newSubItem(this)" style="margin-right: 8px;">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                                -->
                            </div>
                            <ol ui-tree-nodes ng-model="item.items" ng-class="{ 'hidden': collapsed }">
                                <li data-collapsed="true" ng-repeat="item in item.items" ui-tree-node ng-class="{ 'selected': selected, 'original': original }" ng-include="'items_renderer.html'"></li>
                            </ol>
                        </script>

                        <ol ng-if="vm.master.treesearching==false" ui-tree="treeOptions" ui-tree-nodes ng-model="vm.treedata" drag-enabled="false">
                            <!--
                                <button ng-click="collapseAll()">collapseAll</button>
                            -->
                            <li ng-repeat="item in vm.treedata" ui-tree-node  ng-include="'items_renderer.html'"  >
                                {{item.title}}
                            </li>
                        </ol>

                        <!-- Nested list search Result template -->
                        <script type="text/ng-template" id="search_items_renderer.html">

                            <div ui-tree-handle ng-class="{ 'select': $treeScope.multiSelect, 'copy': $treeScope.copy }" ng-drag="true" ng-drag-data="searchitem" ng-drag-success="vm.onDragComplete($data,$event)" >
                                <a class="btn btn-success btn-xs" nodrag>
                                    <span> </span>
                                </a>
                                <span ng-mouseover="openwin=1" ng-mouseleave="openwin=0">
                                    <img ng-src="{{restHost}}/meta/icon/{{searchitem.icon}}" style="height:16px; width:16px;"/>
                                    <span>{{searchitem.title}}</span>
                                    <span ng-if="openwin==1" class="glyphicon glyphicon-new-window" ng-click="vm.selectTreeNode(this)" ></span>
                                </span>
                            </div>
                            <ol ui-tree-nodes ng-model="searchitem.subNodes" ng-class="{ 'hidden': collapsed }">
                                <li data-collapsed="false" ng-repeat="searchitem in searchitem.subNodes" ui-tree-node ng-class="{ 'selected': selected, 'original': original }" ng-include="'search_items_renderer.html'"></li>
                            </ol>
                        </script>
                        <ol ng-if="master.treesearching==true" ui-tree="treeOptions" ui-tree-nodes ng-model="treesearchresult" drag-enabled="false">
                            <li ng-repeat="searchitem in vm.treesearchresult" ui-tree-node  ng-include="'search_items_renderer.html'"  >
                                {{searchitem.subNodes.length}}
                            </li>
                        </ol>
                    </div>
                    <div ng-hide="vm.treedata" style="height:100%;">
                        
                        <sideviewmenu-list
                            update-statusbar-callback="vm.updateSideviewmenuCallback()"
                        ></sideviewmenu-list>

                    </div>
                </div>
                <div class="sideview-statusbar">
                    <div class="sideview-statusbar-buttons">
                        <a id="sideviewmenu-btn-expand" class="icon-btn" ng-click="vm.expandSideviewFull()" ng-show="vm.showExpandFullButton">
                            <span title="{{::'webclient.sideview.expandFull' | i18n}}" class="glyphicon glyphicon-triangle-right"></span>
                        </a>            
                        <a id="sideviewmenu-btn-expand" class="icon-btn" ng-click="vm.expandSideview()" ng-show="vm.showExpandButton">
                            <span title="{{::'webclient.sideview.expand' | i18n}}" class="glyphicon glyphicon-chevron-right"></span>
                        </a>            
                        <a id="sideviewmenu-btn-collapse" class="icon-btn" ng-click="vm.collapseSideview()" >
                            <span title="{{::'webclient.sideview.collapse' | i18n}}" class="glyphicon glyphicon-chevron-left"></span>
                        </a>            
                        <a id="sideviewmenu-btn-collapse" class="icon-btn" ng-click="vm.collapseSideviewFull()" >
                            <span title="{{::'webclient.sideview.collapseFull' | i18n}}" class="glyphicon glyphicon-triangle-left"></span>
                        </a>            
                    </div>
                    <div class="sideview-statusbar-content" ng-if="!isCollapsed">
                        <div ng-if="vm.master.total !== undefined">
                            {{vm.master.total}} {{vm.master.total == 1 ? 'webclient.datarecord' : 'webclient.datarecords' | i18n}}
                        </div>
                        <a ng-click="vm.exportBoList();" ng-if="vm.authentication.allowedActions.PrintSearchResultList" id="export-bo-list" title="{{::'webclient.sideview.listexport.title' | i18n}}" >
                            <span class="glyphicon glyphicon-export" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
