<div
    class="sideview-list table-hover"
    ng-mousemove="vm.columnResizeMousemove($event)"
    ng-mouseup="vm.sideviewmenuMouseup($event)"
    >
    <table id="resizable-columns" class="sideview-list-resizable table-hover" resizable-columns >
        <tr>
            <th column-name="status">
                <div id="open-attrlist" class="prevent-popover-close">
                    <div
                        id="open-attrlist-button"
                        ng-class="{isopen: vm.sideviewmenuModel.attributeselectionpopupOpen}"
                        ng-click="vm.sideviewmenuModel.attributeselectionpopupOpen = !vm.sideviewmenuModel.attributeselectionpopupOpen; attributeFilter='';"
                        title="{{'webclient.sideview.columns' | i18n}}"
                    >
                        <i class="column-menu fa fa-columns" aria-hidden="true"></i>
                        &nbsp;
                    </div>
                    <div nc-append-to-body id="sideview-attributelist-popover-container" >
                        <div
                            nc-click-outside="vm.sideviewmenuModel.attributeselectionpopupOpen = false"
                            id="sideview-attributelist-popover"
                            class="sideview-attributelist-popover panel panel-default prevent-popover-close"
                            ng-show="vm.sideviewmenuModel.attributeselectionpopupOpen"
                            >
                            <div class="panel-body">
                                <hr style="margin-bottom:5px !important; margin-top:5px !important; " />


                                <div id="sideviewmenu-selection">
                                    <div id="sideviewmenu-selection-first-row">
                                        <ui-select
                                            ng-show="!vm.sideviewmenuModel.editSideviewmenu"
                                            ng-model="vm.sideviewmenuModel.selectedSideviewmenuPreference"
                                            theme="bootstrap"
                                            ng-change="vm.selectSideviewmenu($select.selected)"
                                            ng-disabled="vm.sideviewmenuModel.sideviewmenuPreferences.length === 0"
                                            >
                                            <ui-select-match class="ui-select-match" id='sideviewmenuPref-{{sideviewmenuPref.id}}' >{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices class="ui-select-choices" repeat="sideviewmenuPref in vm.sideviewmenuModel.sideviewmenuPreferences track by $index">
                                                <div ng-bind-html="sideviewmenuPref.name" class="prevent-popover-close"></div>
                                            </ui-select-choices>
                                       </ui-select>

                                        <input
                                            id="sideviewmenu-name-input"
                                            ng-show="vm.sideviewmenuModel.editSideviewmenu"
                                            type="text"
                                            ng-model="vm.sideviewmenuModel.selectedSideviewmenuPreference.name"
                                            ng-enter="vm.sideviewmenuModel.editSideviewmenu = false; vm.updatePreferenceName();"
                                        >
                                        <a
                                            id="edit-sideviewmenu"
                                            class="sideviewmenu-icon"
                                            ng-click="vm.editSideviewmenuPref()"
                                            ng-if="vm.sideviewmenuModel.selectedSideviewmenuPreference.prefId && !vm.sideviewmenuModel.editSideviewmenu"
                                            title="{{::'webclient.sideviewmenu.edit' | i18n}}"
                                            >
                                            <span class="glyphicon glyphicon-edit" ></span>
                                        </a>
                                        <a
                                            id="save-sideviewmenu"
                                            class="sideviewmenu-icon"
                                            ng-click="vm.saveSideviewmenuPref()"
                                            ng-if="(vm.sideviewmenuModel.selectedSideviewmenuPreference.prefId || vm.sideviewmenuModel.selectedSideviewmenuPreference.name) && vm.sideviewmenuModel.editSideviewmenu"
                                            >
                                            <span class="glyphicon glyphicon-ok" ></span>
                                        </a>
                                        <a
                                            id="delete-sideviewmenu"
                                            class="sideviewmenu-icon"
                                            ng-click="vm.deleteSideviewmenuPref()"
                                            ng-if="vm.sideviewmenuModel.selectedSideviewmenuPreference.prefId"
                                            title="{{::'webclient.sideviewmenu.delete' | i18n}}"
                                            >
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                        <a
                                            id="new-sideviewmenu"
                                            class="sideviewmenu-icon"
                                            ng-click="vm.newSideviewmenuPref()"
                                            title="{{::'webclient.sideviewmenu.new' | i18n}}"
                                            >
                                            <span class="glyphicon glyphicon-plus-sign"></span>
                                        </a>
                                        <br>
                                    </div>
                                </div>

                                <div id="text-search-container" class="search-input">
                                    <input type="text" ng-model="attributeFilter" ng-init="attributeFilter=''" id="attribute-filter" placeholder="{{'webclient.field.name' | i18n}}" />
                                    <span
                                        id="clear-searchfilter"
                                        class="glyphicon glyphicon-remove-circle"
                                        ng-show="attributeFilter"
                                        ng-click="attributeFilter='';">
                                    </span>
                                </div>
                                <div class="panel-content">
                                    <div
                                        ng-if="'infotitle'.indexOf(attributeFilter.toLowerCase()) != -1"
                                        >
                                        <input type="checkbox" id="checkbox-infotitle" ng-model="vm.sideviewmenuModel.selectedSideviewmenuPreference.content.infoColumn.selected" ng-change="vm.selectColumnAttribute();">
                                        <label for="checkbox-infotitle">{{'webclient.sideview.infotitle' | i18n}}</label>
                                    </div>
                                    <div ng-repeat="attr in vm.sideviewmenuModel.selectedSideviewmenuPreference.content.columns track by $index">
                                        <div
                                            ng-if="attr.name.toLowerCase().indexOf(attributeFilter.toLowerCase()) != -1"
                                            class="attribute"
                                            ng-class="{systemattribute: attr.system}"
                                            >
                                            <input type="checkbox" id="sv-attr-{{attr.boAttrId}}" ng-model="attr.selected" ng-change="vm.selectColumnAttribute(attr);">
                                            <label for="sv-attr-{{attr.boAttrId}}">{{attr.name}}</label>
                                            <span ng-click="vm.sort(attr)" class="sorticon" title="{{'webclient.sideview.sorticon' | i18n}}">
                                                <span ng-show="attr.sort.direction === 'asc'" class="glyphicon glyphicon-chevron-up"></span>
                                                <span ng-show="attr.sort.direction === 'desc'" class="glyphicon glyphicon-chevron-down"></span>
                                                <span ng-show="attr.sort.direction === undefined" class="nosort glyphicon glyphicon-chevron-up"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
            <th
                class="resizable-th"
                style="width: {{vm.sideviewmenuModel.onlyInfoColumnSelected ? '100%' : vm.sideviewmenuModel.selectedSideviewmenuPreference.content.infoColumn.width + 'px'}};"
                column-name="infotitle"
                ng-if="vm.sideviewmenuModel.selectedSideviewmenuPreference.content.infoColumn.selected"
                ng-mousedown="vm.columnResizeMousedown(vm.sideviewmenuModel.selectedSideviewmenuPreference.content.infoColumn, $event)"
            >
                <div class="column-info">
                    <span class="header" ng-click="vm.sort(vm.sideviewmenuModel.selectedSideviewmenuPreference.content.infoColumn)" >
                        Info&nbsp;
                    </span>
                </div>
            </th>
            <th
                ng-repeat="column in vm.sideviewmenuModel.selectedSideviewmenuPreference.content.columns | orderBy:'position'"
                ng-if="column.selected"
                class="resizable-th dragable-column"
                column-name="{{column.boAttrId}}"
                ng-mousedown="vm.columnResizeMousedown(column, $event)"
                ng-click="vm.sort(column)"
            >
                <div
                    class="column-dragdrop"
                    style="width: {{column.width ? column.width-10+'px' : '95%'}};"
                    ng-drag="true" ng-drag-data="column"
                >
                    <span class="{{::column.sort.enabled ? 'sortable-header' : 'header'}}">
                        {{column.name}}
                    </span>
                    <span
                        class="sort-icon glyphicon"
                        ng-class="{'glyphicon-chevron-up': column.sort.direction == 'asc', 'glyphicon-chevron-down': column.sort.direction == 'desc', 'glyphicon-none': column.sort.direction == undefined}"
                        >{{column.sort.prio}}</span>
                </div>
            </th>
            <th>
            </th>
        </tr>
        <tr
            ng-repeat="data in vm.entity.bos track by $index"
            ng-click="vm.masterSelectBoHandler(vm.entity, data)"
            ng-class="vm.tdClass(data, vm.entity)"
            style="background-color: {{data.xrowcolor}};"
            class="sideview-list-entry"
        >
            <td>
                <img class="sideview-list-icon" ng-if='vm.entity.meta.stateModel' ng-src="{{data.links.stateIcon.href}}"/>
            </td>

            <td ng-if="vm.sideviewmenuModel.selectedSideviewmenuPreference.content.infoColumn.selected">
                <div class="cell-content" style="width: {{sideview.sideviewMenuPreferences.onlyInfoColumnSelected ? '100%' : sideview.sideviewMenuPreferences.infoColumn.width + 'px'}};">
                    <div id="smi_{{data.boId}}" class="sideview-list-entry-title ellipsis">
                        <b>{{data.title}}</b>
                    </div>
                    <div class="sideview-list-entry-title ellipsis">
                        {{data.info}}
                    </div>
                </div>
            </td>
            <td ng-if="column.selected"
                ng-repeat="column in vm.sideviewmenuModel.selectedSideviewmenuPreference.content.columns | orderBy:'position'"
                class="dragable-column"
                >
                <div class="cell-content ellipsis" style="width: {{column.width}}px;" ng-bind-html="vm.displayValue(data.attributes[column.nameShort])"/>
            </td>
            <td style="width: 10px;">
                <!-- empty column - needed for resizing last column -->
            </td>
        </tr>
    </table>
</div>
