<div
	[ngClass]="contentClasses"
>
	<div
		class="full-height tab-panel tab-pane fade in active show"
		role="tabpanel"
		[id]="'tab-0'"
		aria-expanded="false"
	>
		<nuc-grid
			*ngIf="getGrid()"
			[eo]="eo"
			[webGrid]="getGrid()"
		></nuc-grid>

		<nuc-web-table
			*ngIf="getTable()"
			[eo]="eo"
			[webComponent]="getTable()"
		></nuc-web-table>

		<nuc-web-grid-calculated
			*ngIf="getCalculated()"
			[eo]="eo"
			[webGridCalculated]="getCalculated()"
		></nuc-web-grid-calculated>

		<nuc-web-component
			*ngFor="let subComponent of getComponents()"
			[eo]="eo"
			[component]="subComponent"
		></nuc-web-component>
	</div>
</div>
