.sort-indicator {
	margin-left: 5px;
}

.ag-header-cell-label {
	white-space: nowrap;
}

.ag-header-cell-text {
	display: flex;
	width: 100%;
}

.nuclos-grid-header-text {
	width: auto!important;
	min-width: 0px;
}
