<div class='document'
	flow-init
	flow-files-submitted="fileSelected($files, false)"               
	flow-drop 
	flow-drop-enabled="!readonly"
	flow-drag-enter="style={border:'2px solid green'}" 
	flow-drag-leave="style={}"
	ng-style="readonly ? {} : style"
	ng-attr-style="{{css}}"
>

 	<div class="document-filename" ng-click="clickOnDocument(bo, field, isImage);">
 		<span ng-if='!isImage'>{{filename}}</span>
 		<span flow-btn ng-if="!readonly && !filename && !fileUploaded">{{::'webclient.fileupload.upload.selectfile' | i18n}}</span>
 		<span class="dropfilearea" ng-if="!readonly && !filename && !fileUploaded" title="{{::'webclient.fileupload.upload.selectfile' | i18n}} {{::'webclient.fileupload.upload.ordropfile' | i18n}}"> {{::'webclient.fileupload.upload.ordropfile' | i18n}}</span>
 	</div>
	<!-- 
	 TODO if this is first column, nc-append-to-body will not work here with the ':hover' CSS styles, use JS or move with parent html tag
	-->
	<div TODOnc-append-to-body >
		<span ng-if="showDocumentOverlayMenu();" class="subdocument-overlay">
		    <span ng-if='readonly' class="glyphicon glyphicon-none"></span>
		    
			<a ng-if='!readonly' class="reset-document" ng-click="removeDocument(bo, field)" title="{{::'webclient.button.removeDocument' | i18n}}">
				<span class="glyphicon glyphicon-remove"></span>
			</a>
            
		    <span ng-if='readonly' class="glyphicon glyphicon-none"></span>
            <span ng-if='!readonly' flow-btn class="glyphicon glyphicon-open-file" title="{{::'webclient.button.replaceDocument' | i18n}}"></span>
            
			<a class="open-reference" ng-click="openDocument(bo, field);" title="{{::'webclient.button.open' | i18n}}">
				<span class="glyphicon glyphicon-new-window"></span>
			</a>
		</span>
	</div>
</div>
