<div ng-if="vm.hasDatenschutz && !vm.cookiesaccepted" class="navbar navbar-inverse navbar-fixed-top"
     style="min-height:32px; height:32px; z-index:9999;">
	<div style="width:100%;text-align:center;color:white;padding:6px;">{{::'webclient.cookies.info1' | i18n}}
		<a ng-click="vm.showPrivacyContent()" style="color:lightgrey;">{{::'webclient.cookies.info2' | i18n}} </a>

		<a id="acceptcookies" ng-click="vm.acceptCookies()" style="padding-left:32px;color:#e0f0e0;">
			<span class="glyphicon glyphicon-ok"/>&nbsp;{{::'webclient.cookies.accept' | i18n}}
		</a>
	</div>
</div>

<div class="navbar navbar-inverse navbar-fixed-top"
     style="margin-top:{{hasDatenschutz && !cookiesaccepted ? 32 : 0}}px;">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<img src="app/assets/img/Nuclos-Signet.png" class="img-responsive"
			     style="height:35px; width:35px; margin-top:7px; margin-right:10px;">
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav letter-spacing">
				<li class="active"><a><span class="glyphicon glyphicon-off"></span> Login</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" id="menu-language" data-toggle="dropdown"><span
							class="glyphicon glyphicon-globe"></span>
						{{::'webclient.nosession.menu.language' | i18n}}<b class="caret"> </b>
					</a>
					<ul class="dropdown-menu">
						<li ng-repeat="locale in vm.locales"><a href="#/login/{{locale.key}}"
						                                        id="menu-language-{{locale.key}}"
						                                        ng-click="vm.switchLocale(locale)">{{locale.name}}</a>
						</li>
					</ul>
				</li>
			</ul>
			<ul id="logout-navbar" class="nav navbar-nav" style="float:right;">
				<li ng-if="vm.legalDisclaimers" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" data-disabled="true">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						<b class="caret"> </b>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li ng-repeat="li in vm.legalDisclaimers">
							<a ng-click="about(li);">
								<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
								{{li.name}}
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container"
     style="width:300px; margin-top:{{hasDatenschutz && !cookiesaccepted ? 52 : 20}}px; padding-left:14px; padding-bottom:15px;">
	<div class="panel panel-primary panel-nuclos">
		<div class="panel-heading panel-heading-nuclos">
			<h3 class="panel-title" align=middle>{{::'webclient.nosession.login.title' | i18n}}</h3>
		</div>
		<div class="panel-body" style="margin-top:5px; margin-bottom:-15px;">
			<form ng-submit="vm.authenticate();" ng-if="vm.showLoginForm">
				<table>
					<tr>
						<td>
							<label for="username">
								{{::'webclient.nosession.txtfield.username' | i18n}}
							</label>
						</td>
						<td>&nbsp;&nbsp;</td>
						<td>
							<input id="username" type="text"
							       placeholder="{{::'webclient.nosession.txtfield.username' | i18n}}"
							       ng-model="vm.username"/>
						</td>
					</tr>
					<tr style="height:10px;">
						<td></td>
					</tr>
					<tr>
						<td>
							<label for="password">
								{{::'webclient.nosession.txtfield.password' | i18n}}
							</label>
						</td>
						<td>&nbsp;&nbsp;</td>
						<td>
							<input id="password" type="password" ng-model="vm.password"/>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>&nbsp;&nbsp;</td>
						<td>
							<div style="min-height:42px; padding-top:10px;">
								<input type="checkbox" id="autologin" ng-model="vm.autologin"/>
								<label for="autologin" style="margin-left:5px">
									{{::'webclient.nosession.checkbox.autologin'| i18n}}
								</label>
							</div>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>&nbsp;&nbsp;</td>
						<td>
							<button class="btn btn-primary"
							        type='submit'
							        id='submit'
							        value='Submit'
							        style="width: 100%;">
								{{::'webclient.nosession.button.signin' | i18n}}
							</button>
						</td>
					</tr>
					<tr ng-if="vm.registration">
						<td></td>
						<td>&nbsp;&nbsp;</td>
						<td>
							<div style="min-height:42px; padding-top:10px;">
								{{::'webclient.account.noaccountyet' | i18n}}
								<br/>
								<a ng-href="#/account/create">{{::'webclient.account.registerhere' | i18n}}</a>
							</div>
						</td>
					</tr>
				</table>
			</form>
			<form ng-submit="vm.selectMandator();" ng-if="vm.showMandatorForm">
				<table>
					<tr>
						<td>
							<label for="username">
								{{::'webclient.mandator' | i18n}}
							</label>
						</td>
						<td>&nbsp;&nbsp;</td>
						<td>
							<select id="chooseMandator" ng-model="vm.selectedMandatorId">
								<option
									ng-repeat="mandator in vm.loginData.mandators"
									value="{{mandator.mandatorId}}"
								>{{mandator.path}}
								</option>
							</select>
						</td>
						<td>
							<button class="btn btn-primary"
							        type='submit'
							        id='chooseMandatorButton'
							        value='Submit'
							        style="width: 100%;">
								{{::'webclient.button.ok' | i18n}}
							</button>
						</td>

					</tr>
					<tr ng-if="vm.showMandatorlessSessionButton">
						<td colspan="4">
							<a
								id="mandatorlessSession"
								ng-click="vm.mandatorlessSession()"
							>
								{{::'webclient.button.mandator.mandatorlessSession' | i18n}}
							</a>
						</td>
					</tr>
					<tr style="height:10px;">
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td>&nbsp;&nbsp;</td>
					</tr>
				</table>
			</form>
		</div>
		<br/>
	</div>
</div>
