<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="app/assets/img/Nuclos-Signet.png" class="img-responsive" style="height:35px; width:35px; margin-top:7px; margin-right:10px;">
        </div>
        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav letter-spacing">
                <li class="active"><a><span class="glyphicon glyphicon-pencil"></span> {{::'webclient.account.create' | i18n}}</a></li>
            </ul>
            <ul id="logout-navbar" class="nav navbar-nav" style="float:right;">    
                <li>
                    <a id="login" href="#/login"><span class="glyphicon glyphicon-off" /> Login</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" style="width:380px; margin-top:20px; padding-left:14px; padding-bottom:15px;" >

   <div class="panel panel-primary panel-nuclos"> 

    <div class="panel-heading panel-heading-nuclos"> 
        <h3 class="panel-title" align=middle>{{::'webclient.account.create' | i18n}}</h3>
    </div> 

    <div class="panel-body" style="margin-top:5px; margin-bottom:-8px;"> 
 
     <form name='register' ng-submit="buttonClick();">
        <div class="control-group">
            <table width=100%>
                <tr>
                    <td>{{::'webclient.account.username' | i18n}}</td>
	                <td>&nbsp;</td>
                    <td><input id="username" type="text" placeholder="{{::'webclient.account.username' | i18n}}" ng-model="username"/></td> 
                </tr>
                <tr style="height:10px;"><td></td></tr>
                <tr>
                    <td>{{::'webclient.account.password' | i18n}}</td>
	                <td>&nbsp;</td>
                    <td><input type="password" ng-model="password" /></td>
                </tr>
                <tr style="height:10px;"><td></td></tr>
                <tr>
                    <td>{{::'webclient.account.firstname' | i18n}}</td>
	                <td>&nbsp;</td>
                    <td><input id="firstname" type="text" placeholder="{{::'webclient.account.firstname' | i18n}}" ng-model="firstname"ng-change="vm.doit()" /></td>
                </tr>
                <tr style="height:10px;"><td></td></tr>
                <tr>
                    <td>{{::'webclient.account.lastname' | i18n}}</td>
	                <td>&nbsp;</td>
                    <td><input id="lastname" type="text" placeholder="{{::'webclient.account.lastname' | i18n}}" ng-model="lastname"/></td>
                </tr>
                <tr style="height:10px;"><td></td></tr>
                <tr>
                    <td>{{::'webclient.account.email' | i18n}}</td>
	                <td>&nbsp;</td>
                    <td><input id="email" type="email" placeholder="{{::'webclient.account.email' | i18n}}" ng-model="email"/></td>
                </tr>
                <tr style="height:10px;"><td></td></tr>
                <tr>
                    <td>{{::'webclient.account.confirmemail' | i18n}}</td>
	                <td>&nbsp;</td>
                    <td><input id="email" type="email" placeholder="{{::'webclient.account.email' | i18n}}" ng-model="email2"/></td>
                </tr>
                <tr style="height:10px;"><td></td></tr>
                <tr>
                    <td></td>
	                <td>&nbsp;</td>
	                <td>
		        	<button class="btn btn-primary" style="width: 100%;" type='submit' id='button'>{{::'webclient.account.register' | i18n}}</button>
		        	</td>
                </tr>
                <tr style="height:10px;"><td></td></tr>
                <tr ng-if="hasDatenschutz">
	                <td>{{::'webclient.account.privacyconsent1' | i18n}}</td>
	                <td>&nbsp;</td>
                    <td>
                    		<a ng-click="showPrivacyConsent()">
                                {{::'webclient.account.privacyconsent2' | i18n}}&nbsp;
                            </a>
                    	<input id="idprivacyconsent" type="checkbox" ng-model="privacyconsent"/>
                    </td>
                </tr>
                
            </table>
        </div>
    </form>
    </div>
    
    </div>
</div>