
.nav-item {
	margin-left: 1rem;
}

.dropdown-menu {
	/* make menu dropdown scrollable (window-height - menu-height) */
	max-height: calc(100vh - 50px);
	overflow: auto;
}

.dropdown-menu-container {
	cursor: default!important;
}

.icon-container {
	display: inline-block;
	width: 16px;
	height: 16px;
}

img {
	object-fit: contain;
	width: 16px;
	max-height: 16px;
}

[level='1'] {
	margin-left: 2rem;
}

[level='2'] {
	margin-left: 3rem;
}
