<li *ngFor="let menuItem of entries" class="nav-item dropdown">
	<a
		class="nav-link"
		[ngClass]="{ 'dropdown-toggle' : menuItem.entries}"
		[attr.level]="level"
		[routerLink]="menuItem.boMetaId ? ['/view', menuItem.boMetaId] : []"
		id="supportedContentDropdown"
		data-toggle="dropdown"
		aria-haspopup="true"
		aria-expanded="false"
	>{{menuItem.name}}</a>
	<div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
		<span
		>
			<a
				*ngFor="let m of menuItem.entries"
				[routerLink]="m.boMetaId ? ['/view', m.boMetaId] : []"
				class="dropdown-item"
			    [ngClass]="{'dropdown-menu-container': !m.boMetaId}"
			>
				<span class="icon-container">
					<img *ngIf="m.icon" src="{{iconBaseHref}}/{{m.icon}}">
				</span>

				{{m.name}}
				<nuc-menu-item
					[entries]="m.entries"
					[level]="level+1"

					*ngIf="m.entries">
				</nuc-menu-item>
			</a>
		</span>
	</div>
</li>
