<div
	class="date-input"
>
	<input
		#datepicker="ngbDatepicker"
		#datepickerInput

		[id]="getId()"

		type="text"
		class="form-control form-control-sm"

		placeholder="{{datePattern}}"
		[attr.name]="getNameForHtml()"
		[ngClass]="getValidationCssClasses()"

		(click)="toggleDatepicker()"
		[ngModel]="getDateModel()"
		(ngModelChange)="setAttributeValue($event)"

		ngbDatepicker
		[dayTemplate]="customDay"

		[disabled]="!isEnabled()"

		nucClickOutside
		[evaluateClickOutside]="isClickOutside"
		(clickOutside)="datepicker.close()"
	>
</div>

<ng-template #customDay let-date="date" let-currentMonth="currentMonth" let-selected="selected" let-disabled="disabled">
	<div class="custom-day btn-secondary"
		[attr.ngbdatepickerdayview]=""
		[class.bg-info]="isHighlighted(date)"
		[class.bg-primary]="selected"
		[class.text-muted]="date.month !== currentMonth"
		[class.outside]="date.month !== currentMonth"
	>
		{{date.day}}
	</div>
</ng-template>
