#preferences-home {
    height: 100%;
}
#preferences {
    height: 100%;
    overflow: auto;
    padding: 10px;
    padding-right: 25px;
}

#preferences .preference-item:hover {
    background-color: #f5f5f5; 
}
#preferences .preference-item.selected {
    background-color: #D0D0D0; 
}

#preferences .preference-item.selected:hover {
    background-color: #C0C0C0; 
}

#preferences .preference-item {
    cursor: pointer;
}

#preferences .preference-item-icons {
    float: right;
}

#preferences .update-preference-share {
    color: green;
}

#preferences .discard-preference-item {
    color: red;
}

#preferences .preferences-data {
    font-size: 9px;
}


#preferences .panel-primary {
    border-color: #ddd;
}
#preferences .panel-primary>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}