<div id="preferences-home">
    <ng-include src="'app/header/header.html'" ></ng-include>
        <div id="preferences">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary panel-nuclos"> 
                        <div class="panel-heading panel-heading-nuclos"> 
                            <h3 class="panel-title">{{::'webclient.preferences' | i18n}}</h3>
                        </div> 
                        <div class="panel-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>{{::'webclient.preferences.shared' | i18n}}</th>
                                        <th>{{::'webclient.preferences.type' | i18n}}</th>
                                        <th>{{::'webclient.preferences.businessObject' | i18n}}</th>
                                        <th>{{::'webclient.preferences.name' | i18n}}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tr class="preference-item" 
                                    ng-repeat="preferenceItem in vm.preferencesItems"
                                    ng-click="vm.selectPreferenceItem(preferenceItem)"
                                    ng-class="{'selected' : vm.selectedPreferenceItem.prefId == preferenceItem.prefId}"
                                >
                                    <td class="preference-item-shared"><i ng-if='preferenceItem.shared' title="{{::'webclient.preferences.shared.description' | i18n}}" class="glyphicon glyphicon-globe"></i></td>
                                    <td class="preference-item-type">
										<!-- TODO: Define the icon centrally with the preference types -->
		                                <ng-switch on="preferenceItem.type">
                                            <i ng-switch-when='chart' title="{{::'webclient.preferences.type.chart' | i18n}}" class="fa fa-pie-chart"></i>
                                            <i ng-switch-when='searchtemplate' title="{{::'webclient.preferences.type.searchtemplate' | i18n}}" class="glyphicon glyphicon-search" ></i>
                                            <i ng-switch-when='table' title="{{::'webclient.preferences.type.sideviewmenu' | i18n}}" class="fa fa-columns" ></i>
											<i ng-switch-when='perspective' title="{{::'webclient.preferences.type.perspective' | i18n}}" class="glyphicon glyphicon-eye-open" ></i>
                                            <i ng-switch-default class="glyphicon glyphicon-asterisk" ></i>
                                        </ng-switch>                                        
                                    </td>
                                    <td class="preference-item-boname">{{preferenceItem.boName}}</td>
                                    <td class="preference-item-name">{{preferenceItem.name}}</td>
                                    <td>
                                        <div class="preference-item-icons">
                                            <a ng-click="vm.updatePreferenceShare(preferenceItem);" class="update-preference-share" title="{{::'webclient.preferences.publishSharedContent' | i18n}}" ng-if="preferenceItem.customized">
                                                <span class="glyphicon glyphicon-floppy-saved update-preference-share"></span>
                                            </a>
                                            <a ng-click="vm.deleteCustomizedPreferenceItem(preferenceItem);" class="delete-customized-preference-item" title="{{::'webclient.preferences.discardCustomizedPreferenceItem' | i18n}}" ng-if="preferenceItem.customized">
                                                <span class="glyphicon glyphicon-floppy-remove discard-preference-item"></span>
                                            </a>
                                            <a ng-click="vm.deletePreferenceItem(preferenceItem);" class="delete-preference-item" title="{{::'webclient.preferences.deletePreferenceItem' | i18n}}" ng-if="!preferenceItem.shared">
                                                <span class="glyphicon glyphicon-trash discard-preference-item"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>                                
                            </table>  
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default" ng-if="vm.selectedPreferenceItem"> 
                        <div class="panel-heading"> 
                            <h3 class="panel-title">{{::'webclient.preferences.userRoles' | i18n}}</h3>
                        </div> 
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item user-role" 
                                    ng-repeat="userRole in vm.userRoles"
                                >
                                    <input 
                                        type="checkbox" 
                                        ng-model="userRole.shared" 
                                        ng-click="vm.shareOrUnshareSelectedPreferenceItem(userRole)"
                                        />
                                    {{userRole.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default" ng-if="isDevMode && vm.selectedPreferenceItem"> 
                        <div class="panel-heading"> 
                            <h3 class="panel-title">{{::'webclient.preferences' | i18n}}</h3>
                        </div> 
                        <div class="panel-body">
                            <pre class="preferences-data">{{vm.selectedPreferenceItem.content | json}}</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
