<div class="server-log-options">
	<div class="sql-logging-container">
		<div class="form-group">
			<label for="sql-logging">{{'webclient.serverInfo.log.sqlLogging' | i18n}}</label>
			<select
				id="sql-logging"
				[(ngModel)]="sqlLoggingMode"
				(ngModelChange)="selectSqlLoggingMode(sqlLoggingMode)"
				[ngModelOptions]="{standalone: true}"
				class="form-control"
				title="{{'webclient.serverInfo.log.sqlLogging.tooltip' | i18n}}"
			>
				<option *ngFor="let option of sqlLoggingOptions" [value]="option.value">{{option.name}}</option>
			</select>
		</div>
	</div>

	<div class="log-level-container">
		<div class="form-group">
			<label for="log-level">{{'webclient.serverInfo.log.level' | i18n}}</label>
			<select
				id="log-level"
				[ngModel]="logLevel"
				(ngModelChange)="setLogLevel($event)"
				[ngModelOptions]="{standalone: true}"
				class="form-control"
				title="{{'webclient.serverInfo.log.level.tooltip' | i18n}}"
			>
				<option *ngFor="let logLevel of logLevels" [value]="logLevel">{{logLevel}}</option>
			</select>
		</div>
	</div>

	<div class="table-row">
		<div class="text-options-container">
			<div class="text-filter">
				<input
					id="message-filter"
					type="text"
					class="form-control"
					placeholder="{{'webclient.serverInfo.log.textFilter' | i18n}}"
					title="{{'webclient.serverInfo.log.textFilter.tooltip' | i18n}}"
					[(ngModel)]="textFilter"
					(ngModelChange)="setTextFilter($event)"
					[ngModelOptions]="{standalone: true}"
				/>
			</div>
			<div class="text-auto-scroll">
				<input id="log-autoscroll"
				       type="checkbox"
				       [ngModel]="autoScroll"
				       (ngModelChange)="setAutoscroll($event)"
				>
				<label for="log-autoscroll" title="{{'webclient.serverInfo.log.autoScroll.tooltip' | i18n}}">
					{{'webclient.serverInfo.log.autoScroll' | i18n}}
				</label>
			</div>
		</div>
	</div>
</div>
