.server-log-options {
	width: 100%;
	display: table;
}

.table-row {
	display: table-row;
}

.sql-logging-container {
	display: table-row;
}

.log-level-container {
	display: table-row;
}

.text-options-container {
	display: table;
	width: 100%;
}

.text-filter {
	display: table-cell;
	width: 100%;
}

.text-auto-scroll {
	display: table-cell;
	white-space: nowrap;
	padding-left: 15px;
	padding-right: 15px;
}
