<div class="locale-chooser" [title]="getSelectedLocale()">
	<ul class="navbar-nav">
		<li class="nav-item dropdown">
			<a class="dropdown-toggle nav-link dropdown-toggle ellipsis" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">
				<img [src]="'assets/flags/' + getSelectedLocale() + '.png'"/>
			</a>
			<div class="dropdown-menu dropdown-locale">
				<a
					*ngFor="let locale of locales"
					class="dropdown-item pr-1 pl-1"
					(click)="setSelectedLocale(locale.key)"
					[title]="locale.key"
				>
					<img [src]="'assets/flags/' + locale.key + '.png'"/>
				</a>
			</div>
		</li>
	</ul>
</div>
