/* You can add global styles to this file, and also import other style files */

/*
form
 */
$form-input-disabled-background-color: #eceeef;


/*
data rows
 */
$row-selected-background-color: #D0D0D0;

$row-deleted-background-color: #FFBBBB;
$row-deleted-selected-background-color: #DDA0A0;

$row-modified-background-color: #FFFFAA;
$row-modified-selected-background-color: #F5F5A0;

$row-new-background-color: #B1F5B1;
$row-new-selected-background-color: #84C783;



html {
	font-size: 16px;
}

html, body, nuc-root {
	height: 100%;
}

nuc-root {
	display: flex;
	flex-flow: column;
}

button {
	cursor: pointer;
}

/* disable scroll bouncing */
.no-touch html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* make center div content to use complete width */
#center > * {
	width: 100%;
}

#center > router-outlet {
	width: initial;
}

/* disable text selection (e.g. after double click) */
.disable-text-selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.card {
	margin-bottom: 10px;
}

/*
cards with scrollbars
 */
.card.scrollable {
	display: flex;
	flex-flow: column;
}

.card.scrollable .card-block {
	flex: 1;
	overflow: auto;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

/**
 search text input with clear input button
 */
.search-input input {
	height: 21px;
	border: none;
	background-color: white;
}

.search-input .clear-searchfilter {
	position: relative;
	top: 2px;
	left: -21px;
	cursor: pointer;
	color: lightgray;
}

.search-input:hover .clear-searchfilter {
	color: black;
}

/* primeng autocomplete:  make empty options the same height as non empty options */
p-autocomplete li {
	min-height: 26px;
}

p-autocomplete {
	border: 1px solid white;
	display: block;
}


/* LOV */
p-autocomplete input.ui-inputtext {
	padding: initial;
	padding-left: 3px;
	width: 100%;
}

p-autocomplete .ui-autocomplete {
	width: 100%;
	display: flex;
}

p-autocomplete .ui-autocomplete-input {
	margin-right: -15px!important;
	border-radius: 3px!important;
}


p-autocomplete .ui-autocomplete button.ui-autocomplete-dropdown {
	width: 14px;
	background: lightgray;
	border-color: lightgray;
}

/* autocomplete dropdown button is disabled to fix tab focus problem */
p-autocomplete .ui-autocomplete button.ui-autocomplete-dropdown:disabled {
	opacity: 1;
}

p-autocomplete .ui-autocomplete button.ui-autocomplete-dropdown span {
	width: 14px;
}

p-autocomplete:hover .ui-widget-header .ui-button,
p-autocomplete:hover .ui-widget-content .ui-button,
p-autocomplete:hover .ui-button {
	border: 1px solid #2399e5;
	background: #2399e5;
}

.ui-inputtext.ui-state-focus,
.ui-inputtext:focus,
.ui-inputtext.ui-state-hover,
p-autocomplete .ui-inputtext:hover,
p-autocomplete .ui-inputtext:enabled:hover {
	box-shadow: none;
}

/*
form input placeholder
 */
$placeholder-color: darkgray !important;


.form-control:-ms-input-placeholder {
	color: $placeholder-color;
}

.form-control::placeholder {
	color: $placeholder-color;
}


.ng-busy-default-sign {
	border-top: 1px solid #d8d8d8;
	border-top-left-radius: 4px;
}

.image-modal .modal-dialog {
	max-width: calc(100vw - 100px);
	max-height: calc(100vh - 100px);
}
