:host {
	display: flex;
	flex-direction: column;
	height: calc(100%);
}

.panel-content {
	border: 1px solid lightgray;
	flex: 1;
}

.with-title {
	padding: 5px;
}

.nav-tabs {
	border-bottom: 1px;
}

.nuc-legend {
	line-height: 0.5;
}
