<div class="ui-grid-cell-contents default-cell-template" ng-click="grid.appScope.focusCell($event, col);" ng-style="{'background-color': row.entity.rowcolor}">
    <form name="inputForm"><input ng-change="grid.appScope.editorChange(row.entity);" type="INPUT_TYPE" ng-class="::'colt' + col.uid" ui-grid-editor ng-model="MODEL_COL_FIELD"></form>
</div>
