<div nc-ui-grid-dropdown
	class="prevent-popover-close"
	nc-click-outside="clickOutsideGridDropdown();"
>
	<div nc-append-to-body id="lov-overlay" ng-if="!grid.appScope.fields[col.field].nojump">
        <div class="subform-lov-overlay">
            <div class="shadow"></div>
            <div ref="::{{row.entity.boMetaId}}_{{col.colDef.fieldName}}-{{row.uid}}" class="overlay-icons">
				<add-reference-target
				    bo-meta-id="::row.entity.boMetaId"
				    bo-instance="::row.entity"
				    bo-attribute-name="::grid.appScope.fields[col.field].name"
					popup-parameter="grid.appScope.getPopupParameter(col)"
				></add-reference-target>
				<edit-reference-target
					ng-if="::row.entity.attributes[grid.appScope.fields[col.field].name].id"
				    bo-meta-id="::row.entity.boMetaId"
				    bo-id="::row.entity.attributes[grid.appScope.fields[col.field].name].id"
				    bo-instance="::row.entity"
				    bo-attribute-name="::grid.appScope.fields[col.field].name"
					popup-parameter="grid.appScope.getPopupParameter(col)"
				></edit-reference-target>
				<search-reference-target
				    bo-meta-id="::row.entity.boMetaId"
				    bo-instance="::row.entity"
				    bo-attribute-name="::grid.appScope.fields[col.field].name"
					popup-parameter="grid.appScope.getPopupParameter(col)"
				></search-reference-target>
            </div>
        </div>
	</div>
	<nc-select
		model="row.entity.attributes[grid.appScope.fields[col.field].name]"
		bo-id="::master.selectedBo.boId"
		disabled="::grid.appScope.fields[col.field].readonly"
		required="::grid.appScope.fields[col.field].required"
		quicksearch="quicksearch"
		load-options-callback="grid.appScope.loadLovDropDownOptionsInCell(row.entity, grid.appScope.fields[col.field].uid, quicksearch, row.entity.attributes[grid.appScope.fields[col.field].name])"
		value-changed-callback="grid.appScope.editorChange(row.entity, grid.appScope.fields[col.field].uid, row.entity.attributes[grid.appScope.fields[col.field].name], true)"
	></nc-select>
</div>