<div class="subform-edit-row">
	<div title="{{::'webclient.edit' | i18n}}" ng-if="::grid.appScope.showEditRowInOverlay">
		<a class="edit-row" ng-click="grid.appScope.editRow(row.entity)">
			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
		</a>
	</div>
	<div title="{{::'webclient.edit.newtab' | i18n}}" class="subform-edit-row-in-new-tab" ng-if="grid.appScope.showEditRowInNewTabOrPopup && !grid.appScope.showEditRowInPopup && row.entity.boId" >
		<a ng-click="grid.appScope.editRowInNewTab(row.entity)">
			<span class="glyphicon glyphicon-share" aria-hidden="true"></span>
		</a>
	</div>
	<div title="{{::'webclient.edit.popup' | i18n}}" class="subform-edit-row-in-new-tab" ng-if="::grid.appScope.showEditRowInNewTabOrPopup && grid.appScope.showEditRowInPopup" >
		<a ng-click="grid.appScope.editRowInPopup(row.entity, $event)" ng-href="{{::grid.appScope.editRowInPopupUrl(row.entity)}}">
			<span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
		</a>
	</div>
</div>