<div nc-ui-grid-memo 
	class="prevent-popover-close"
 	nc-click-outside="clickOutsideGridMemo();" 
	>
	<div class="ui-grid-cell-contents default-cell-template" ng-click="grid.appScope.focusCell($event);" nc-append-to-body>
	    <div class="memo-overlay" >
			<textarea textarea-elastic type="text" class="nuclosmemo memo" style="position: relative; top: -20px; width:{{::col.width}}px; resize: none;"
				ng-model="MODEL_COL_FIELD"
				ng-change='grid.appScope.editorChange(row.entity)'
				scale="{{::grid.appScope.fields[col.field].scale}}"
			/>
		</div>
	</div>
</div>
