<div class="number-edit-cell nuclos-number" ng-click="grid.appScope.focusCell($event);">
	<form name="inputForm">
		<input type="text" ng-class="'colt' + col.uid" 
		ui-grid-editor 
		ng-model="MODEL_COL_FIELD"
		ng-disabled="{{::!col.colDef.enableCellEdit}}" 
		ng-change='grid.appScope.editorChange(row.entity)'
		nc-type="Number"
		number-input
		precision="{{::grid.appScope.fields[col.field].precision}}"
		>
	</form>
</div>
