<div class="container">
	<div class="row">
		<h3 class="col-md-12 text-center mt-3">Session-Info</h3>
	</div>

	<div class="row">
		<div class="col-md-12 text-center mb-4">
			For debugging/testing purposes.
		</div>
	</div>

	<dl class="row" *ngFor="let entry of displayData" [title]="entry.key">
		<dt class="col-md-6 text-right">{{entry.key}}</dt>
		<dd class="col-md-6">{{entry.value}}</dd>
	</dl>
</div>