<div id="change-state-dialog" class="dialog">
	<div class="modal-header">
		<h5 class="modal-title">{{'webclient.modal.printouts.title' | i18n}} </h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="container-fluid">
			<div class="row">

				<div *ngFor="let printout of printouts" class="printout-item">
					<h6>{{printout.name}}</h6>
					<div *ngFor="let outputFormat of printout.outputFormats">
						<div *ngIf="!printoutExecuted">
							<input type="checkbox" [(ngModel)]="outputFormat.selected"
							       id="{{outputFormat.outputFormatId}}" class="output-format-checkbox">
							<label for="{{outputFormat.outputFormatId}}">{{outputFormat.name}}</label>
							<div *ngIf="outputFormat.selected">

								<div *ngFor="let param of outputFormat.parameters" class="form-inline">

									<div class="form-group">
										<label for="{{param.parameter}}" class="col-sm-4 layoutraster control-label">{{param.name}}</label>
										<div class="col-sm-4 layoutraster parameter">
											<div *ngIf="!param.vlp">
												<div [ngSwitch]="param.type">
													<input
														*ngSwitchCase="'String'"
														type="text"
														[(ngModel)]="param.value"
														[required]="!param.nullable"
														class="form-control"
														name='{{param.parameter}}'
														id='{{param.parameter}}'>

													<input
														*ngSwitchCase="'Boolean'"
														type="checkbox"
														[(ngModel)]="param.value"
														class="form-control"
														name='{{param.parameter}}'
														id='{{param.parameter}}'>

													<input
														*ngIf="param.type=='Number' || param.type=='Decimal'"
														type="text"
														[(ngModel)]="param.value"
														[required]="!param.nullable"
														class="form-control"
														name='{{param.parameter}}'
														id='{{param.parameter}}'
														number-input
													>


													<div *ngSwitchCase="'Date'" class="date-input">
														<input
															placeholder="{{datePattern}}"
															id='{{param.parameter}}'
															type="text"
															class="form-control form-control-sm"

															(click)="toggleDatepicker()"
															placeholder="{{datePattern}}"
															name='{{param.parameter}}'
															[(ngModel)]="dummy"
															[ngModelOptions]="{standalone: true}"
															(ngModelChange)="setDateValue($event, param)"
															ngbDatepicker

															#datepicker="ngbDatepicker"

														>
													</div>
												</div>
											</div>

											<div *ngIf="param.vlp">
												<div class="lov">
													<p-autoComplete
														#autoComplete

														[(ngModel)]="param.value"
														[suggestions]="lovEntries"
														(completeMethod)="autocomplete(param, $event.query)"
														(click)="openLovPanel(param)"
														(onDropdownClick)="openLovPanel(param)"

														[dropdown]="true"

														field="name"
													>
													</p-autoComplete>

												</div>

											</div>
										</div>

									</div>
								</div>
							</div>
						</div>

						<div *ngIf="printoutExecuted && outputFormat.fileName">
							<span class="fa fa-file"></span>
							<a href="{{outputFormat.links.file.href}}" class="printout-downoload-link">
								{{outputFormat.fileName}}
							</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button
			*ngIf="!printoutExecuted"
			id="execute-printout-button"
			class="btn btn-primary"
			[disabled]="!executeButtonEnabled(printouts)"
			(click)="executePrintout()"
		>{{'webclient.button.printouts.execute' | i18n}}
		</button>


		<button class="btn btn-warning" (click)="cancel()" id="button-cancel">
			{{'webclient.button.cancel' | i18n}}
		</button>
	</div>
</div>
