<div class="searchfilter">
	<div class="btn-group" ng-if="searchfilters">
	    <button 
	    		ng-repeat="filter in searchfilters"
	    		class="btn"
	    		ng-class="filter.isSelected ? 'btn-info' : 'btn-default'"  
	            ng-click="selectFilter(filter)"
	            title="Show only items in state '{{filter.filterName}}'."
	            >
			<div ng-if="filter.icon.length != 0">
				<img ng-src="{{filter.imageResourceURL}}" title="{{filter.filterName}}" id="{{filter.pk}}">
			</div>	            
	        <div class="filterName">{{filter.filterName}}</div>
	    </button>                
	</div>
</div>