<ng-include src="'app/header/header.html'" ></ng-include>
<div class="container-fluid">
	<div id="tableview" class="content-block container-fluid well">
		<div id="tableview-menu" class="row">
			<div id="tableview-menu-left">
				<div class="tableview-menu-group">
					<form class="ng-pristine ng-valid" style="width:200px; height:13px; ">
				     	<searchfilter searchcallback="tableviewSearchCallback" master="master" />
					</form>
				</div>
				<div class="tableview-menu-group" style="min-width:70px;">
					<a ng-href="#/tableview/{{master.boMetaId}}/new" ng-if="doShowNewButton()" class="btn btn-success" id="newBoInstanceButton">
						<span title="{{::'webclient.button.new' | i18n}}" class="glyphicon glyphicon-plus"></span>
					</a>
					<a ng-click="deleteSelectedRows()" ng-if="doShowDelButton()" class="btn btn-danger" id="deleteSelectedRowsButton">
						<span title="{{::'webclient.button.delete' | i18n}}" class="glyphicon glyphicon-trash"></span>
					</a>
				</div>   
				<div class="tableview-menu-group">
					<ng-include src="'app/tableview/searchfilter.html'" ></ng-include>
				</div>
				<div class="tableview-menu-group">
	 				<states 
		 				bos="master.selectedRows"
		 				show-current-state="false" 
		 				available-states="availableStates" 
		 				current-state="currentStateOfSelectedRows" 
	 				/>
				</div>
			</div>
			<div id="tableview-menu-right">
				<div class="tableview-menu-group">
					<div id="view-selector" class="btn-group">	 
						<a ng-href="#/sideview/{{master.boMetaId}}" class="btn btn-default" title="Spaltenansicht" id='openSideviewButton' >
							<span class="glyphicon glyphicon-th-list"></span>
						</a>
						<a class="btn btn-default" disabled="disabled" id="tableviewButton" title="Tabellenansicht" id='openTableviewButton' >
							<span class="glyphicon glyphicon-th"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div id="tableview-grid" class="row">
			
			 <nc-ui-grid
				nc-ui-grid-column-layout
				bometaid="{{master.boMetaId}}"
				newbutton="false"
				master="master"
				bodata="bodata"
			 />
	
		</div>
	</div>
</div>