<nuc-disclaimer-route></nuc-disclaimer-route>

<ng-template ngbModalContainer></ng-template>
<nuc-dialog></nuc-dialog>

<header>
	<nuc-cookie-disclaimer></nuc-cookie-disclaimer>

	<nuc-menu></nuc-menu>
</header>
<main>
	<div id="center">
		<router-outlet></router-outlet>
	</div>
</main>


