<div id="perspective-edit" class="container-fluid" style="width:100%">

	<span class="close" data-dismiss="modal" ng-click="vm.closeModal(test)">
		<span aria-hidden="true">×</span>
		<span class="sr-only ng-binding">{{::'webclient.button.close' | i18n}}</span>
	</span>

	<h4 class="text-center">
		{{::vm.perspective.name ? 'webclient.perspective.edit.header' : 'webclient.perspective.new.header' | i18n}}
	</h4>

	<div class="container-fluid">
		<div class="row">
			<div class="control-group">
				<label for="perspectiveName">{{::'webclient.perspective.name' | i18n}}</label>
				<input
						id="perspectiveName"
						type="text"
						ng-model="vm.perspective.name"
						class="form-control"/>
			</div>
		</div>

		<div class="row">
			<div class="control-group">
				<label for="perspectiveLayout">{{::'webclient.perspective.layout' | i18n}}</label>
				<select
						id="perspectiveLayout"
						ng-options="layout.uid.uid as layout.name for layout in vm.model.layoutInfos"
						ng-model="vm.perspective.layoutId"
						ng-change="vm.applyPerspective()"
						class="form-control">
				</select>
				<input id="perspectiveLayoutForNew"
				       type="checkbox"
				       ng-model="vm.perspective.layoutForNew"/>
				<label for="perspectiveLayoutForNew">{{::'webclient.perspective.layout.forNew' | i18n}}</label>
			</div>
		</div>

		<div class="row">
			<div class="control-group">
				<label for="perspectiveSearchtemplate">{{::'webclient.perspective.searchtemplate' | i18n}}</label>
				<select
						id="perspectiveSearchtemplate"
						ng-options="pref.prefId as pref.name for pref in vm.model.getSearchTemplatePrefs(vm.perspective)"
						ng-model="vm.perspective.searchTemplatePrefId"
						ng-change="vm.applyPerspective()">
				</select>
			</div>
		</div>

		<div class="row">
			<div class="control-group">
				<label for="perspectiveSideviewMenu">{{::'webclient.perspective.sideviewmenu' | i18n}}</label>
				<select
						id="perspectiveSideviewMenu"
						ng-options="pref.prefId as pref.name for pref in vm.model.getSideviewMenuPrefs(vm.perspective)"
						ng-model="vm.perspective.sideviewMenuPrefId"
						ng-change="vm.applyPerspective()">
				</select>
			</div>
		</div>

		<!-- TODO: Subform-Config -->

		<div class="row" style="margin-bottom: 10px">
			<div class="col-xs-4"></div>
			<a
					id="perspectiveSave"
					data-ng-click="vm.savePerspective()"
					class="btn btn-primary col-xs-4">
				{{::'webclient.perspective.save' | i18n}}
			</a>
		</div>
	</div>
</div>