<div ng-controller="PerspectiveCtrl as vm" id="perspective" >

	<div ng-if="!vm.visible" style="background-color: #eee; overflow: auto">
		<searchtemplate/>
	</div>
	<div ng-if="vm.visible">
		<div style="display: table-cell; width:100%; background-color: #5E5E5E; height: 100%">
			<searchtemplate/>
		</div>
		<div class="perspective-button-outer-container">
			<div class="perspective-button-inner-container" style="white-space: nowrap; color: #FFFFFF">
				<div
						data-ng-repeat="perspectivePref in vm.getModel().perspectives | orderBy:'content.name'"
						ng-mouseover="perspectivePref.mouseover = true"
						ng-mouseleave="perspectivePref.mouseover = false"
						style="display: inline-block">
					<div
							data-ng-if="vm.isEditAllowed()"
							style="padding: 0px; margin: 0px; height: 15px; margin-top:-14px; position: relative">
						<span
								id="editPerspective_{{perspectivePref.prefId}}"
								data-ng-if="perspectivePref.mouseover"
								data-ng-click="vm.editPerspective(perspectivePref)"
								class="glyphicon glyphicon-edit glyphicon-perspective-edit"
						></span>
						<span
								id="deletePerspective_{{perspectivePref.prefId}}"
								data-ng-if="perspectivePref.mouseover"
								data-ng-click="vm.deletePerspective(perspectivePref)"
								class="glyphicon glyphicon-remove glyphicon-perspective-delete"
						></span>
					</div>
					<button
							id="perspective_{{perspectivePref.prefId}}"
							uid="{{perspectivePref.prefId}}"
							class="btn btn-info perspective-button"
							data-ng-click="vm.togglePerspective(perspectivePref.content)"
							ng-class="{active: perspectivePref.content.selected}"
					>
						{{perspectivePref.name}}
					</button>
				</div>
				<button
						id="newPerspective"
						data-ng-if="vm.isNewAllowed()"
						class="btn btn-primary perspective-button"
						data-ng-click="vm.openNew()"
				        style="margin-top: 4px;"
				>
					+
				</button>
			</div>

		</div>
	</div>

	<div id="content-block" class="content-block container-fluid">
		<sideviewmenu master='master'/>
		<detailblock master='master' boMetaId='{{master.boMetaId}}' boId='{{master.selectedBo.boId}}'/>
	</div>
</div>