<header ng-controller="HeaderMenuController as vm">

	<div ng-if="!vm.cookiesaccepted && vm.hasDatenschutz" class="navbar navbar-inverse navbar-fixed-top" style="min-height:32px; height:32px;">
		<div style="width:100%;text-align:center;color:white;padding:6px;">{{::'webclient.cookies.info1' | i18n}}
			<a ng-click="vm.showPrivacyContent()" style="color:lightgrey;">{{::'webclient.cookies.info2' | i18n}} </a>

			<a id="acceptcookies" ng-click="vm.acceptCookies()" style="padding-left:32px;color:#e0f0e0;">
				<span class="glyphicon glyphicon-ok"/>&nbsp;{{::'webclient.cookies.accept' | i18n}}
			</a>
		</div>
	</div>

	<div class="navbar navbar-inverse" style="margin-top:{{!vm.cookiesaccepted && vm.hasDatenschutz ? 32 : 0}}px;">
    <div class="container">
        <div class="navbar-header">
			<img id="loading-image" src="app/assets/img/loading.gif" class="img-responsive" style="height:35px; width:35px; margin-top:7px; margin-right:10px; background-color: rgb(113,114,121); position: absolute; display:none;">
            <a ng-click="vm.openDashboard()" ><img src="app/assets/img/Nuclos-Signet.png" class="img-responsive" style="height:35px; width:35px; margin-top:7px; margin-right:10px;"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul id="bo-navbar" class="nav navbar-nav letter-spacing">
                <li>
                    <a ng-href="{{vm.oMenuPath}}" ng-click="vm.master.meta = null">
                        <span class="glyphicon {{vm.mMenuIcon}}"></span>
                    </a>
                </li>
                <li ng-if="isDevMode" ng-include src="'app/header/header-dev-menu-include.html'"></li>

                <!-- <li ng-if='vm.master.meta.name' class="active selected-menu"><a>{{::vm.master.meta.name}}</a></li> -->
				<li ng-if='vm.getName()' class="active selected-menu"><a>{{::vm.getName()}}</a></li>

                <menu-item entries="vm.menu.entries" level="0" />

            </ul>

            <ul id="logout-navbar" class="nav navbar-nav" style="float:right;">
                <li id='lucenesearch' ng-if="vm.showlivesearch">
                    <div style="padding-top: 10px;">
                        <input class='luceneinput' type="text" placeholder="{{::'webclient.menu.livesearch' | i18n}}" ng-model="vm.search" ng-change="vm.livesearchchanged(vm.search)">
                    </div>
                    <div ng-if='vm.results[0]' style="text-align:left;margin-top:14px;">
                        <div ng-repeat="result in vm.results" class='luceneresult'>
                            <a href="#/sideview/{{result.uid}}/{{result.pk}}">
                                <span ng-bind-html="result.text"></span>
                            </a>
                        </div>
                    </div>
                </li>

               	<li ng-if="vm.legalDisclaimers" class="dropdown">
               	    <a class="dropdown-toggle" data-toggle="dropdown" data-disabled="true">
                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        <b class="caret"> </b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-repeat="li in vm.legalDisclaimers">
                            <a ng-click="vm.about(li);">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                {{li.name}}
                            </a>
                        </li>
                       </ul>
               	</li>

               	<li ng-if="vm.authentication.superUser" class="dropdown">
               	    <a class="dropdown-toggle" data-toggle="dropdown" data-disabled="true">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        <b class="caret"> </b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="#/sideview/org_nuclos_businessentity_nuclosuser">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                {{::'webclient.administration.usermanagement' | i18n}}
                            </a>
                        </li>
                       </ul>
               	</li>

                <li ng-if="vm.username=='anonymous'">
                    <a id="login" href="#/login"><span class="glyphicon glyphicon-off" /> Login</a>
                </li>
                <li id="user-dropdown" class="dropdown" ng-if="vm.username!='anonymous'">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-disabled="true">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{vm.authentication.username}}
                        <b class="caret"> </b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li ng-if="vm.authentication.allowedActions.SharePreferences">
                            <a href="#/preferences">
                                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                {{::'webclient.preferences.manage' | i18n}}
                            </a>
                        </li>
                        <li>
                            <a href="#/changepassword" >
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                {{::'webclient.user.changepassword' | i18n}}
                            </a>
                        </li>


	                    <li id="mandator-dropdown" class="dropdown-submenu">
		                    <a ng-if="true || TODO" data-toggle="dropdown">
			                    <i class="fa fa-universal-access" aria-hidden="true"></i>
			                    {{::'webclient.mandator' | i18n}}
		                    </a>
		                    <ul class="dropdown-menu dropdown-menu-right mandator-dropdown-items">
			                    <li
				                    ng-repeat="mandator in vm.mandators"
				                    ng-class="{'selected' : mandator.mandatorId === vm.currentMandator.mandatorId}"
			                    >
				                    <a
				                       class="dropdown-toggle"
				                       data-toggle="dropdown"
				                       ng-click="vm.selectMandator(mandator)"
				                    >
					                    <span class="menu-entry ng-binding">{{mandator.path}}</span>
				                    </a>
			                    </li>
		                    </ul>
	                    </li>
                        <li>
                            <a id="logout" href="#/logout"><span class="glyphicon glyphicon-off" /> Logout</a>
                        </li>

                    </ul>
                </li>
            </ul>
            <ul class="nav pull-right">
            </ul>
        </div>
    </div>
    </div>
</header>
<div id="dialog" class="dialog" ng-if="vm.showDialog">
    {{vm.dialogText}}
</div>
