<a class="dropdown-toggle" data-toggle="dropdown" data-disabled="true">Dev<b class="caret"> </b></a>
<ul class="dropdown-menu">
	<li>
		<a href="#/businesstests">{{::'webclient.businesstests.menu' | i18n}}</a>
	</li>
    <li>
  		<a href="#/devutils/restexplorer">REST Explorer</a>
    </li>
    <li>
  		<a href="#/devutils">Dev Utils</a>
    </li>
    <li>
  		<a onclick="colorCss();">Highlight CSS classes</a>
    </li>
    <li>
  		<a onclick="colorIncludesAndDirectives();">Highlight directives / includes</a>
    </li>
    <li>
  		<a onclick="colorIncludesAndDirectives();">Highlight directives / includes</a>
    </li>
</ul>