/* CSS structure fix for new element "menu-item" */

@media (min-width: 768px) {
.navbar-nav > menu-item > li {
    float: left;
}
}
.nav > menu-item > li {
    position: relative;
    display: block;
}

.navbar-inverse .navbar-nav > menu-item > li > a {
    color: #AAAAAA;
    padding: 14px 8px;
}


.navbar-nav > menu-item >li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    display: block;
}

.nav > menu-item >li {
    position: relative;
    display: block;
}

.nav .open>a, 
.nav .open>a:focus, 
.nav .open>a:hover,
.nav > menu-item>a:hover 
{
    background-color: #5B5B5B;
    color: #FFFFFF;
    text-decoration: none;
}


.dropdown-menu > menu-item>li>a {
    display: block;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
}

.dropdown-menu > menu-item>li>a .menu-entry {
    white-space: nowrap;

}

.navbar-inverse .navbar-nav .open .dropdown-menu >  menu-item > li > a {
    color: #979797;
}

.navbar-inverse .navbar-nav> menu-item > li>a:focus, .navbar-inverse .navbar-nav> menu-item > li>a:hover {
    color: #fff;
    background-color: transparent;
}

.nav> menu-item > li>a:focus, .nav > menu-item > li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

.dropdown-menu> menu-item > li>a:focus, .dropdown-menu> menu-item > li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}





.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}