<li ng-repeat="menuEntry in $ctrl.entries" ng-class="{'dropdown-submenu' : menuEntry.entries && $ctrl.level > 0}" >
    <a ng-if="menuEntry.entries !== undefined" class="dropdown-toggle" data-toggle="dropdown">
        <div ng-if="$ctrl.level !== 0" style="float:left; width:20px; height: 20px;" /> {{::menuEntry.name}} <b ng-if="$ctrl.level === 0" class="caret"></b>
    </a>
    <a 
        ng-if="menuEntry.entries === undefined &&  !menuEntry.createNew && !menuEntry.processMetaId" class="dropdown-toggle" data-toggle="dropdown"
        href="#/sideview/{{menuEntry.boMetaId}}"
    >
        <span class="menu-entry"><img ng-src="{{::menuEntry.links.resourceicon.href}}" style="width:16px; height: 16px;" /> {{::menuEntry.name}}</span>
    </a>
    <a
        ng-if="menuEntry.entries === undefined && !menuEntry.processMetaId && menuEntry.createNew" class="dropdown-toggle" data-toggle="dropdown"
        href="#/sideview/{{menuEntry.boMetaId}}/new"
    >
        <span class="menu-entry"><img ng-src="{{::menuEntry.links.resourceicon.href}}" style="width:16px; height: 16px;" /> {{::menuEntry.name}}</span>
    </a>
    <a
            ng-if="menuEntry.entries === undefined && menuEntry.processMetaId && !menuEntry.createNew" class="dropdown-toggle" data-toggle="dropdown"
            href="#/sideview/{{menuEntry.boMetaId}}/process/{{menuEntry.processMetaId}}"
    >
        <span class="menu-entry"><img ng-src="{{::menuEntry.links.resourceicon.href}}" style="width:16px; height: 16px;" /> {{::menuEntry.name}}</span>
    </a>
    <a
            ng-if="menuEntry.entries === undefined && menuEntry.processMetaId && menuEntry.createNew" class="dropdown-toggle" data-toggle="dropdown"
            href="#/sideview/{{menuEntry.boMetaId}}/process/{{menuEntry.processMetaId}}/new"
    >
        <span class="menu-entry"><img ng-src="{{::menuEntry.links.resourceicon.href}}" style="width:16px; height: 16px;" /> {{::menuEntry.name}}</span>
    </a>
    <ul class="dropdown-menu" ng-if="menuEntry.entries.length > 0">
        <menu-item entries="menuEntry.entries" level="$ctrl.level + 1"/>
    </ul>
</li>
