<div
	#sidebar
	id="sidebar"
	[ngStyle]="{width: sideviewmenuPreference?.content.sideviewMenuWidth + 'px'}"

	mwlResizable
	[enableGhostResize]="true"
	(resizing)="onResize($event)"
	(resizeEnd)="onResizeEnd($event)"
>
	<div mwlResizeHandle class="resize-handle"
		[resizeEdges]="{bottom: false, right: true, top: false, left: false}"></div>
	<div id="sidebar-filter">
	</div>

		<nuc-card-layout
			*ngIf="sidebarLayoutType === 'card'; else tableLayout"
			[sideviewmenuPreference]="sideviewmenuPreference"
			(loadMoreData)="moredata($event)"
		    [sidebar]="this"
		>
		</nuc-card-layout>
	<ng-template #tableLayout>
	<div
		#listContainer
		id="sidebar-list-container"
		infinite-scroll
		[scrollWindow]="false"
		[infiniteScrollDistance]="4"
		[infiniteScrollThrottle]="100"
		(scrolled)="onScroll()"

		(mousemove)="columnResizeMousemove($event)"
		(mouseup)="sideviewmenuMouseup($event)"
	>
		<table
			class="sideview-list-resizable table-hover"
			resizable-columns
			*ngIf="sideviewmenuPreference"
		>
			<tr class="disable-text-selection">
				<th column-name="status">
				</th>
				<th
					(mousedown)="columnResizeMousedown(column, $event); sort(column);"
					*ngFor="let column of selectedColumns"
					class="resizable-th dragable-column"
					[ngClass]="column.resizingInProgress ? 'resizing' : ''"
					[attr.column-name]="column.boAttrId"
					[ngStyle]="{'min-width' : column.width + 'px'}"
				>
					<span
						[ngClass]="column.sort?.enabled ? 'sortable-header' : 'header'">
						{{column.name}}
					</span>
					<span
						*ngIf="column.sort"
						class="sort-icon fa"
						[ngClass]="column.sort.direction == 'asc' ? 'fa-chevron-up' : column.sort.direction == 'desc' ? 'fa-chevron-down' : ''"
					>{{column.sort.prio}}</span>
				</th>
			</tr>
			<tr
				*ngFor="let eo of getEntityObjects()"
				(click)="selectEo(eo)"
				[ngClass]="tdClass(eo)"
				class="sideview-list-entry"
				[ngStyle]="{'background-color': eo.getRowColor()}"
			>
				<td class="icon-column">
					<img class="sideview-list-icon" *ngIf="eo.getLinks().stateIcon"
						src="{{eo.getLinks().stateIcon.href}}">
				</td>
				<td
					*ngFor="let column of selectedColumns"
					class="dragable-column"
					[ngClass]="column?.resizingInProgress ? 'resizing' : ''"
					[ngStyle]="{'max-width' : column.width + 'px'}"
				>
					<div
						class="cell-content ellipsis"
						[innerHtml]="displayValue(eo, column.boAttrId)"
					></div>
				</td>
			</tr>
		</table>
	</div>
	</ng-template>

	<nuc-statusbar
		[meta]="getMeta()"
		[sideviewmenuPreference]="sideviewmenuPreference"
		*ngIf="sideviewmenuPreference"
		[(sideviewMenuWidth)]="sideviewmenuPreference.content.sideviewMenuWidth"
		(sideviewMenuWidthChange)="sidebarWidthChanged()"
		[totalEOCount]="getTotalCount()"
	    [sidebar]="this"
	>
	</nuc-statusbar>

</div>
