<div id="dashboard-tasks" ng-controller="TaskController as vm">
    
    <div ng-init="vm.setWidgetConfig(widget)"></div>
        
    <div ng-repeat="task in vm.tasks" class="task-group">
        <ul>
            <li ng-repeat="bo in task.bos" class="task-item">
                <a href="#/sideview/{{task.boMetaId}}/{{bo.boId}}" ng-click="vm.closeModal()">
                    <div class="bo-title">
                        <img 
                            ng-src="{{bo.links.stateIcon.href}}" 
                            style="height:16px; width:16px;"
                            ng-if="bo.links.stateIcon.href" 
                            />
                        {{bo.title}}
                    </div>
                </a>
                <div class="bo-info">{{bo.info}}</div>
            </li>
        </ul>
    </div>
</div>