
$statusbar-background-color: #EEE;

:host {
	height: 22px;
	overflow: hidden;
	background-color: $statusbar-background-color;
	position: relative;
	border-right: 1px solid #e3e3e3;
}

a {
	cursor: pointer;
}

.sideview-statusbar {
	display: flex;
}

.sideview-statusbar-buttons {
	flex: 1;
	margin-left: 5px;
	margin-top: 4px;
	height: 17px;
}
.sideview-statusbar-buttons span {
	font-size: 0.875rem;
}

.sideview-statusbar-content {
	font-size: 0.75rem;
	color: rgba(0, 0, 0, 0.43);
	white-space: nowrap;
	margin-left: auto;
	padding-top: 4px;
	padding-left: 10px;
	margin-right: 5px;
}

#sideviewmenu-btn-collapse span,
#sideviewmenu-btn-expand span {
	font-size: 0.75rem;
}

.icon-btn span, #export-bo-list {
	color: #337ab7;
	text-decoration: none;
}
