<div id="list-export-modal">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title">{{'webclient.sideview.listexport.title' | i18n}}</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div>{{'webclient.sideview.listexport.format.title' | i18n}}</div>
			<div>
				<div>
					<div>
						<input type="radio"
						       name="export-format"
						       [(ngModel)]="format"
						       (change)="pageOrientationLandscape = false; exportLink = undefined;"
						       value="pdf" id="listexport-format-pdf">
						<label for="listexport-format-pdf">{{'webclient.sideview.listexport.format.pdf' | i18n}}</label>
					</div>
					<fieldset class="panel" [disabled]="format != 'pdf'">
						<legend class="legendpanel">
							{{'webclient.sideview.listexport.format.pdf.preferences' | i18n}}
						</legend>
						<div class="orientation">
							<div>
								<input type="radio"
								       name="page-orientation"
								       [checked]="!pageOrientationLandscape"
								       (change)="pageOrientationLandscape = false; exportLink = undefined;"
								       value=false id="listexport-pageOrientation-portrait">
								<label for="listexport-pageOrientation-portrait">
									{{'webclient.sideview.listexport.format.pdf.pageOrientationPortrait' | i18n}}
								</label>
							</div>
							<div>
								<input type="radio"
								       name="page-orientation"
								       [checked]="pageOrientationLandscape"
								       (change)="pageOrientationLandscape = true; exportLink = undefined;"
								       value=true id="listexport-pageOrientation-landscape">
								<label for="listexport-pageOrientation-landscape">
									{{'webclient.sideview.listexport.format.pdf.pageOrientationLandscape' | i18n}}
								</label>
							</div>
						</div>

						<div>
							<input type="checkbox"
							       [(ngModel)]="isColumnScaled"
							       (change)="exportLink = undefined;"
							       id="listexport-isColumnScaled">
							<label for="listexport-isColumnScaled">
								{{'webclient.sideview.listexport.format.pdf.isColumnScaled' | i18n}}
							</label>
						</div>
					</fieldset>
				</div>

				<div>
					<input type="radio"
					       name="export-format"
					       [(ngModel)]="format"
					       (change)="exportLink = undefined;"
					       value="csv"
					       id="listexport-format-csv">
					<label for="listexport-format-csv">
						{{'webclient.sideview.listexport.format.csv' | i18n}}
					</label>
				</div>

				<div>
					<input type="radio"
					       name="export-format"
					       [(ngModel)]="format"
					       (change)="exportLink = undefined;"
					       value="xlsx"
					       id="listexport-format-xlsx">
					<label for="listexport-format-xlsx">
						{{'webclient.sideview.listexport.format.xlsx' | i18n}}
					</label>
				</div>

				<div>
					<input type="radio"
					       name="export-format"
					       [(ngModel)]="format"
					       (change)="exportLink = undefined;"
					       value="xls"
					       id="listexport-format-xls">
					<label for="listexport-format-xls">
						{{'webclient.sideview.listexport.format.xls' | i18n}}
					</label>
				</div>
			</div>

			<button id="execute-listexport-button" class="btn btn-primary" [disabled]="!!(!format || exportLink)"
			        (click)="executeListExport()">{{'webclient.sideview.listexport.execute' | i18n}}
			</button>
			<!--
			<div *ngIf="exportLink">
				<a href="{{exportLink}}" id="e2e-test-export-link">Download</a>
			</div>
			-->
		</div>
	</div>
</div>
