
#list-export-modal .modal-body {
	padding-top: 0px;
}

#list-export-modal fieldset.panel {
	border: 1px solid lightgray;
	margin-left: 20px;
	padding: 5px;
	display: inline;
	font-size: 0.813em;
}

#list-export-modal fieldset.panel > div.orientation > div {
	float: left;
}

#list-export-modal fieldset.panel > div.orientation label {
	margin-right: 10px;
}

#list-export-modal fieldset.panel[disabled] {
	opacity: 0.5;
}

#list-export-modal #execute-listexport-button {
	margin-top: 8px;
}

legend.legendpanel {
	color: #6e788b;
	font-weight: bold;
	font-size: 0.813em;
	border: none;
	width: auto;
	padding-left: 2px;
	padding-right: 3px;
	margin: 0;
	margin-left: 6px;
}

.panel {
	border-radius: 4px;
}
