<h4>{{::'webclient.businesstests.overview' | i18n}}</h4>
<table id="overview" class="table">
	<tr>
		<th>{{::'webclient.businesstests.overview.tests' | i18n}}</th>
		<th>{{::'webclient.businesstests.overview.state' | i18n}}</th>
		<th>{{::'webclient.businesstests.overview.testsGreen' | i18n}}</th>
		<th>{{::'webclient.businesstests.overview.testsYellow' | i18n}}</th>
		<th>{{::'webclient.businesstests.overview.testsRed' | i18n}}</th>
		<th>{{::'webclient.businesstests.overview.duration' | i18n}}</th>
	</tr>
	<tr>
		<td id="overview_testsTotal">{{$parent.ctrl.overallResult.testsTotal}}</td>
		<td id="overview_state" ng-switch on="$parent.ctrl.overallResult.state">
			<span style="color: green; font-weight: bold" ng-switch-when="GREEN">OK</span>
			<span style="color: orange; font-weight: bold" ng-switch-when="YELLOW">WARNING</span>
			<span style="color: red; font-weight: bold" ng-switch-when="RED">ERROR</span>
		</td>
		<td id="overview_testsGreen">{{$parent.ctrl.overallResult.testsGreen}}</td>
		<td id="overview_testsYellow">{{$parent.ctrl.overallResult.testsYellow}}</td>
		<td id="overview_testsRed">{{$parent.ctrl.overallResult.testsRed}}</td>
		<td id="overview_duration">{{$parent.ctrl.overallResult.duration}} ms</td>
	</tr>
</table>