<div id="preferences" class="row">
	<div class="col-md-8">
		<div id="grid-container" class="card scrollable">
			<div class="card-header">
				{{'webclient.preferences' | i18n}}
			</div>
			<div class="card-block">
				<ag-grid-angular
					#agGrid
					class="ag-fresh"
					[gridOptions]="gridOptions"
					(gridReady)="gridReady($event)"

					nucGrid
				>
				</ag-grid-angular>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div id="accordion" role="tablist" aria-multiselectable="true" *ngIf="selectedPreferenceItem">
			<div class="card card-default">
				<div class="card-header">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseDelete" aria-expanded="true" aria-controls="collapseOne">
						{{'webclient.preferences.deletePreferences' | i18n}}
					</a>
				</div>
				<div id="collapseDelete" class="collapse in show" role="tabpanel">
					<div class="card-block">
						<button class="btn btn-primary btn-danger btn-sm"
						        (click)="deleteSelectedPreferences()">
							{{'webclient.preferences.button.deleteSelectedPreferences' | i18n}}
						</button>
					</div>
				</div>
			</div>
			<div class="card card-default" *ngIf="selectedPreferenceItem.layoutName && selection=='single'">
				<div class="card-header">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseLayout" aria-expanded="true" aria-controls="collapseOne">
						{{'webclient.preferences.layout' | i18n}}
					</a>
				</div>
				<div id="collapseLayout" class="collapse in show" role="tabpanel">
					<div class="card-block">
						<div class="layoutAssignmentText">
							{{layoutAssignmentText()}}
						</div>
						<button id="reset-layout-assignment"
								class="btn btn-primary btn-sm"
						        (click)="resetLayoutAssignment()"
								title="{{layoutAssignmentButtonText()}}"
							>
							{{'webclient.preferences.layoutAssignmentButton' | i18n}}
						</button>
					</div>
				</div>
			</div>
			<div class="card card-default" *ngIf="isSharingAllowed">
				<div class="card-header">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						{{'webclient.preferences.userRoles' | i18n}}
					</a>
				</div>
				<div id="collapseOne" class="collapse in show" role="tabpanel">
					<div class="card-block" *ngIf="selection=='single'">
						<ul class="list-group">
							<li class="list-group-item user-role" *ngFor="let userRole of selectedUserUserRoles">
								<div class="form-check">
									<label class="form-check-label">
										<input
											id="{{userRole.userRoleId}}"
											type="checkbox"
											class="form-check-input"
											[(ngModel)]="userRole.shared"
											(change)="shareOrUnshareSelectedPreferenceItem(userRole)"
										/>
										{{userRole.name}}
									</label>
								</div>
							</li>
						</ul>
					</div>
					<div class="card-block" *ngIf="selection=='multiple'">
						<ul class="list-group">
							<li class="list-group-item user-role" *ngFor="let userRole of multiselectUserRoles">
								<div class="form-check">
									<label class="form-check-label">
										<input
											id="assign_{{userRole.userRoleId}}"
											type="checkbox"
											class="form-check-input"
											[(ngModel)]="userRole.shared"
										/>
										{{userRole.name}}
									</label>
								</div>
							</li>
						</ul>

						<div>
							<button class="btn btn-primary btn-danger btn-sm"
							        (click)="assignUserRolesForSelectedPreferences()">
								{{'webclient.preferences.assignUserRolesForSelectedPreferences' | i18n}}
							</button>
						</div>

					</div>
				</div>
			</div>
			<div class="card card-default scrollable" *ngIf="isDevMode && selectedPreferenceItem">
				<div class="card-header">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true"
					   aria-controls="collapseTwo">
						{{'webclient.preferences.content' | i18n}}
					</a>
				</div>
				<div id="collapseTwo" class="collapse" role="tabpanel">
					<div class="card-block">
						<pre id="selected-preference-json"
						     [innerHtml]="selectedPreferenceItem.content | prettyjson:3"
						></pre>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
