:host, :host .form-control {
	font-size: 0.75rem;
}

#text-search-container, #search-template-buttons, .searchtemplate-item {
	float: left;
}

#searchtemplate {
	float: left;
	width: 100%;
}

#searchtemplate #searchtemplate-attributechooser, .searchtemplate-item {
	float: left;
}

#searchtemplate #text-search-container {
	float: left;
	margin-left: 12px;
	margin-right: -4px;
	margin-bottom: 4px;
	padding-right: 12px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: none;
}

#searchtemplate #text-search-input {
	border: none;
	margin-top: 5px;
	width: 188px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

#searchtemplate #opensearch-button, #searchtemplate .attribute-button {
	float: left;
	margin-left: 4px;
	border-radius: 0px;
	cursor: pointer;
}

#searchtemplate #opensearch-button #search-caret {
	display: inline-block;
	width: 0px;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	position: relative;
}

#searchtemplate #opensearch-button,
#searchtemplate #opensearch-button:active,
#searchtemplate .attribute-button,
#searchtemplate .attribute-button:active {
	font-size: 1em;
	border: 1px solid #eee;
	padding-bottom: 0px;
	height: 31px;
}

#searchtemplate #opensearch-button:hover, #searchtemplate #opensearch-button.isopen {
	color: #009BFF;
}

#searchtemplate .attribute-button:hover, #searchtemplate .attribute-button.popoveropen {
	border: 1px solid lightgray;

	background-image: -webkit-linear-gradient(bottom, #eee, #ddd);
}

#searchtemplate .attribute-button input {
	opacity: 0;
}

#searchtemplate .attribute-button:hover input, #searchtemplate .attribute-button.popoveropen input {
	opacity: 1;
}

#searchtemplate .attribute-button.invalid {
	padding-right: 10px;
}

#searchtemplate .btn:focus {
	outline: none;
}

#searchtemplate .popover.bottom > .arrow {
	display: none;
}

#searchtemplate .searchfilter-popover {
	position: absolute;
	top: 81px;
	left: 4px;
	z-index: 1000;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	background-color: #EEEEEE;
}

#searchtemplate .searchfilter-popover-content {
	padding: 10px;
	font-size: 11px;
}

#searchtemplate .searchfilter-popover-content button {
	margin-top: 10px;
}

#searchtemplate .panel-heading {
	padding: 5px 15px;
}

#searchtemplate .attribute-button {
	color: rgba(0, 0, 0, 0.43);
	border-bottom: 1px solid transparent;
	padding-right: 0px;
	padding-top: 5px;
}

#searchtemplate .attribute-button.activated {
	color: black;
	border-bottom: 1px solid #009BFF;
}

#searchtemplate #searchfilter-attributelist-popover {
	width: 250px;
	margin-top: -1px;
	border-top: none;
}

#searchtemplate #searchfilter-attributelist-popover #searchfilter-attributes {
	margin-top: 5px;
	overflow: auto;
}

#searchtemplate .searchfilter-attribute-popover .panel {
	margin-top: -2px;
	border-top: none;
}

#searchtemplate .searchfilter-attribute-popover .panel-default {
	margin-bottom: 0px;
}

#searchtemplate .searchfilter-attribute-popover .panel-heading {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

#searchtemplate .searchfilter-attribute-popover .panel-heading div {
	float: left;
}

#searchtemplate .searchfilter-attribute-popover .panel-heading input {
	float: right;
	margin-left: 10px;
}

#searchtemplate .searchfilter-attribute-popover input:disabled,
#sideview-attributelist-popover input:disabled {
	opacity: 0.7;
	background-color: white;
}

#searchtemplate #searchfilter-attributelist-popover.panel, .searchfilter-popover .panel,
#sideview-attributelist-popover.panel {
	border-radius: 0px;
}

#searchtemplate .clear-searchfilter,
#sideview-attributelist-popover .clear-searchfilter {
	top: 2px;
	right: 2px;
}

#searchtemplate .fade {
	background-color: white;
	opacity: 1;
	animation: fadein 1s;
	-webkit-animation: fadein 1s; /* Safari and Chrome */
	/*-moz-animation: fadein 1s;*//* Firefox */
	/*-o-animation: fadein 1s;*//* Opera */
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadein { /* Firefox */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein { /* Safari and Chrome */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes fadein { /* Opera */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

searchtemplate .lov {
	float: left;
	margin-bottom: 10px
}

searchtemplate .lov search-template-reference-target {
	float: left;
	margin-right: 4px;
	padding-top: 4px;
}

searchtemplate .lov nc-select {
	float: left;
}
