<div id="searchtemplate">
	<div id="text-search-container">
		<form class="form-inline search-input">

			<input
				id="text-search-input"
				placeholder="{{'webclient.text.searchfilter' | i18n}}"
				[(ngModel)]="textSearch"
				[ngModelOptions]="{standalone: true}"
				(ngModelChange)="doTextSearch()"
				class="form-control"
				[disabled]="isDisabled()"
			>
			<span
				class="fa fa-remove clear-searchfilter"
				*ngIf="textSearch"
				(click)="textSearch = ''; doTextSearch();">
	        </span>

		</form>
	</div>

	<!-- configure attribute -->
	<div id="search-template-buttons" *ngIf="getSelectedSearchtemplatePreference()">

		<div
			*ngFor="let attribute of getSelectedSearchtemplatePreference()?.content?.columns"
			class="searchtemplate-item"
			nucClickOutside (clickOutside)="attribute.searchPopoverOpen = false"
		>
			<div *ngIf="attribute.selected">

				<div
					class="searchfilter-popover searchfilter-attribute-popover"
					[ngClass]="{ 'fade': !attribute.searchPopoverOpen }"
					id="searchfilter-{{attribute.boAttrId}}">
					<div
						*ngIf="attribute.searchPopoverOpen"
						class="panel panel-default prevent-popover-close"
					>
						<div class="searchfilter-popover-content panel-body">

							<div [ngSwitch]="getSearchComponent(attribute)">

								<div *ngSwitchCase="'boolean'">
									<input
										type="radio"
										id="value-yes"
										value="true"
										[(ngModel)]="attribute.value"
										(ngModelChange)="inputSearchValue(attribute)"
										[disabled]="isDisabled()"
									>
									<label for="value-yes">ja</label>
									<input
										type="radio"
										id="value-no"
										value="false"
										[(ngModel)]="attribute.value"
										(ngModelChange)="inputSearchValue(attribute)"
										[disabled]="isDisabled()"
									>
									<label for="value-no">nein</label>
								</div>

								<div *ngSwitchCase="'datepicker'">
									<form class="form-inline">
										<div class="form-group">
											<div class="input-group">

											<input
												class="form-control"
												placeholder="{{datePattern}}"
												name="dp"
												[(ngModel)]="attribute.datepickerValue"
												[ngModelOptions]="{standalone: true}"
												(ngModelChange)="inputSearchValue(attribute)"
												[disabled]="isDisabled()"
												ngbDatepicker
												#d="ngbDatepicker"
											>
											<div class="input-group-addon" (click)="d.toggle()" >
												<span class="fa fa-calendar"></span>
											</div>

											</div>
										</div>
									</form>
								</div>

								<div *ngSwitchCase="'lov'" class="lov search-input">
									<p-autoComplete
										[(ngModel)]="attribute.value"
										(onSelect)="inputSearchValue(attribute)"
										[suggestions]="lovValues"
										(completeMethod)="loadSearchLovDropDownOptions($event.query, attribute)"
										[dropdown]="true"
										(onDropdownClick)="loadSearchLovDropDownOptions('', attribute)"
										field="name"
									>
									</p-autoComplete>
								</div>

								<div *ngSwitchDefault>
									<input
										id="searchfilter-value"
										[(ngModel)]="attribute.value"
										(ngModelChange)="inputSearchValue(attribute)"
										*ngIf="!getOperatorDefinition(attribute)?.isUnary"
										type="{{attribute.inputType == 'NUMBER' ? 'number' : 'text'}}"
										[disabled]="isDisabled()"
									/>
								</div>
								<br/>

								<div *ngIf="attribute.inputType !== 'BOOLEAN'">
									<div *ngFor="let operatorDef of getOperatorDefinitions(attribute.inputType)">
									<span
										*ngIf="showOperator(attribute, operatorDef)">
										<input
											type="radio"
											name="{{operatorDef.label}}"
											[(ngModel)]="attribute.operator"
											(ngModelChange)="inputSearchValue(attribute)"
											id="operator-{{operatorDef.operator}}"
											[checked]="attribute.operator==operatorDef.operator"
											[value]="operatorDef.operator"
											[disabled]="isDisabled()"
										/>
										<label for="operator-{{operatorDef.operator}}">{{operatorDef.label}}</label>
									</span>
									</div>
								</div>

							</div>

						</div>
					</div>
				</div>
				<span
					id="button-{{attribute.boAttrId}}"
					class="attribute-button btn btn-default"
					[ngClass]="{invalid: !attribute.isValid, activated: attribute.isValid && attribute.enableSearch, popoveropen: attribute.searchPopoverOpen}"
				>
					<span
						*ngIf="!attribute.isValid"
						(click)="togglePopover(attribute);"
					>
						<span class="ellipsis">
							{{attribute.name}}
						</span>
					</span>
					<span *ngIf="attribute.isValid">
						<span class="ellipsis"
						      title="{{attribute.name}} {{getOperatorLabel(attribute)}} {{attribute.formattedValue}}"
						      (click)="togglePopover(attribute);"
						>
							{{attribute.name}}
							{{getOperatorLabel(attribute)}}
							{{attribute.formattedValue}}
						</span>
						<span>
							<input
								type="checkbox"
								[(ngModel)]="attribute.enableSearch"
								(ngModelChange)="doSearch(true);"
								class="enable-search"
								title="{{'webclient.searchtemplate.enable.search' | i18n}}"/>
						</span>
					</span>
				</span>
			</div>
		</div>
	</div>
</div>
