
<div class='{{::field.input}}' ng-dblclick="actioncallback()">
	<input
		id='field-{{::field.name}}'
		name="innerFormItem"
		class='layoutraster {{::field.input}}'
		ng-model="model"
		ng-disabled='readonly'
		ng-required='::field.required'
		ng-change='changecallback()'
		id='field-{{::field.name}}'
		type="text"
		tabindex="{{::field.tabindex}}"
	/>
	<span class="{{::field.input}}-overlay">
		<a class="open-reference" ng-click="actioncallback()" title="{{::'webclient.button.open' | i18n}}">
			<span class="glyphicon glyphicon-{{::glyph}}"></span>
		</a>
	</span>
</div>

