<div id="chart-modal">

    <span class="close" data-dismiss="modal" ng-click="closeModal()"><span aria-hidden="true">×</span><span class="sr-only ng-binding">{{::'webclient.button.close' | i18n}}</span></span>

    <ul id="chart-selection" class="nav nav-tabs" >
        <li ng-repeat="chartPreferenceItem in chartPreferences | orderBy: 'content.chartIndex'" 
            ng-class="{active: $index == selectedChartPreferenceItemIndex(), dirty: chartPreferenceItem.isDirty}" 
            ng-click="selectChartPreference(chartPreferenceItem)" 
            id="chart-selection-{{chartPreferenceItem.prefId}}"
            class="chart-selection-item" 
            >
            <a>{{chartPreferenceItem.content.name.de}}</a>
        </li>
        <li ng-if="authentication.allowedActions.ConfigureCharts" ng-click="newChart();" id="new-chart" title="{{::'webclient.charts.newChart' | i18n}}">
            <a>+</a> 
        </li>
    </ul>
        
        
        
    <div class="row" id="toolbar">
        <div class="col-md-10">
            <form id="chart-searchfilter" class="form-inline" ng-if="searchTemplate">
                <span ng-repeat="searchTemplateItem in searchTemplate">
                    <label for="field-searchfilter-{{$index}}">{{searchTemplateItem.label}}</label>
                    <div class="form-group">
                        <ng-switch on="searchTemplateItem.inputType">
                        <div
                            ng-switch-when='dropdown'
                            class='lov' 
                            >
                            <ui-select 
                                    ng-model="searchTemplateItem.value"
                                    tagging
                                    theme="bootstrap"
                                    reset-search-input="false"
                                    ng-required='searchTemplateItem.mandatory'
                                    >
                                <ui-select-match class="ui-select-match" placeholder="" id='field-searchfilter-{{$index}}' >{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices class="ui-select-choices"repeat="item in searchTemplateItem.dropdownValuesFiltered"
                        				refresh="updateDropdown($index, $select.search)"
                                        refresh-delay="0"
                                        refresh-on-active="true"
                                        >
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>                        
                        
                        <input
                            ng-switch-when='string' 
                            id="field-searchfilter-{{$index}}" 
                            ng-model="searchTemplateItem.value" 
                            type="text" 
                            class="form-control" 
                            ng-required="searchTemplateItem.mandatory"
                        >
                        <input
                            ng-switch-when='datepicker' 
                            ng-init="datepickerOpenStatus=false" 
                            id="field-searchfilter-{{$index}}"
                            type="text"
                            ng-model="searchTemplateItem.value" 
                            class="date"
                            datepicker-popup="{{dateFormat}}"
                            date-type="string"
                            is-open="datepickerOpenStatus"
                            datepicker-options="datePickerOptions" 
                            close-text="{{::'webclient.button.close' | i18n}}" 
                            clear-text="{{::'webclient.button.clear' | i18n}}" 
                            current-text="{{::'webclient.button.today' | i18n}}" 
                            ng-click="datepickerOpenStatus=true;"
                            ng-required="searchTemplateItem.mandatory"
                        >
                        </input>
                    </div>
                </span>
                <button id="ok-button" class="btn btn-default" ng-click="search();">Ok</button>
            </form>
        </div>
        <div class="col-md-2">
            <div id="chart-buttons">        
                <span id="save-chart-button" ng-click="saveChart();" class="btn btn-primary" ng-if="showoptionpanel && selectedChartPreferenceItem.isDirty && selectedChartPreferenceItem.content.name.de">
                    <span title="{{::'webclient.button.save' | i18n}}" class="glyphicon glyphicon-save"></span>
                </span>
                <span id="save-chart-button" ng-click="exportChartDataAsCsv();" class="btn btn-primary">
                    <span title="{{::'webclient.button.export.csv' | i18n}}" class="glyphicon glyphicon-export"></span>
                </span>
                <span ng-click="deleteChart();" class="btn btn-danger" ng-if="showoptionpanel">
                    <span title="{{::'webclient.button.delete' | i18n}}" class="glyphicon glyphicon-trash"></span>
                </span>
                <span ng-if="selectedChartPreferenceItem && authentication.allowedActions.ConfigureCharts" class="showchartoptions btn btn-default" ng-class="{activated: showoptionpanel}" ng-click="setShowoptionpanel(!showoptionpanel);">
                    <i class="fa fa-cog" title="{{showoptionpanel ? 'webclient.charts.options.hide' : 'webclient.charts.options.show' | i18n}}"></i>
                </span>
            </div>
        </div>
    </div>
    
    <div class="chart-container">
        <div class="row">
            <div class="col-md-{{showoptionpanel ? 8 : 12}} chart-column">
                <div ng-if="errorMessage" class="warning">
                    {{errorMessage}}
                </div>
                <span ng-if="selectedChartPreferenceItem.content && !errorMessage">
                    <span ng-if='selectedChartPreferenceItem.content.chart.type != "pieChart"'>
                        <nvd3 options='selectedChartPreferenceItem.content' data='chartData' api='nvd3.api'></nvd3>
                    </span>
                    <span ng-if='selectedChartPreferenceItem.content.chart.type == "pieChart"'>
                        <nvd3 options='selectedChartPreferenceItem.content' data='chartData[0].values' api='api'></nvd3>
                    </span>
                </span>
            </div>
            <div class="col-md-4 optionpanel-column" ng-show="showoptionpanel">
                
                <ul class="nav nav-tabs" ng-init="optionpanel = 'main'">
                    <li ng-class="{active: optionpanel == 'main'}" ng-click="optionpanel = 'main'">
                        <a id="chart-options-tab-main">{{::'webclient.charts.optionpanel.options' | i18n}}</a> 
                    </li>
                    <li ng-class="{active: optionpanel == 'extended'}" ng-click="optionpanel = 'extended'">
                        <a id="chart-options-tab-extended">{{::'webclient.charts.optionpanel.extended' | i18n}}</a> 
                    </li>
                </ul>

                <div ng-show="optionpanel == 'main'" class="optionpanel">
                    <input id="chart-label" type="text" required="true" ng-model="selectedChartPreferenceItem.content.name.de" title="{{::'webclient.charts.chartTitle' | i18n}}" />
                    <div class="optionpanel-charttype">
                        
                        <div ng-repeat='availableChartType in availableChartTypes'
                            ng-click='selectedChartPreferenceItem.content.chart.type = availableChartType' 
                            ng-class="{active: selectedChartPreferenceItem.content.chart.type == '{{availableChartType}}' }" 
                            class='chart-type-selector'
                            id='{{availableChartType}}' 
                            style="background-image: url('app/charts/images/{{availableChartType}}.png');"
                            title="{{::'webclient.charts.optionpanel.options.chartType.' + availableChartType  | i18n}}"
                            >
                        </div> 
                    </div>
                </div>

                <div ng-show="optionpanel == 'extended'" class="optionpanel">
                    <textarea 
                        wrap="off"
                        id="chartDataString"
                        ng-model="chartDataString"
                        style="font-family: monospace; font-size: smaller; width:100%; height:300px;"
                    ></textarea>
                    
                    <textarea
                        wrap="off"
                        id="chartOptionsString"
                        ng-model="chartOptionsString"
                        style="font-family: monospace; font-size: smaller; width:100%; height:300px;"
                    ></textarea>
                    <div ng-if="!chartOptionsStringValid" class="warning">{{::'webclient.charts.warning.chartOptionsStringNotValid' | i18n}}</div>
                </div>
                
            </div>
        </div>
    </div>
    
</div>
