<span *ngFor="let state of currentAndNextStates">

	<nuc-current-state
		*ngIf="state.currentState"
		[state]="state"
	></nuc-current-state>

	<nuc-next-state
		*ngIf="!state.currentState"
		[state]="state"
		(changeState)="changeState($event)"
	></nuc-next-state>

</span>
