:host {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.tab-content {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.tab-panel {
	flex: 1;
	border: 1px solid lightgray;
}

.nav-tabs {
	border-bottom-width: 0px;
}
