<ul class="nav nav-tabs" role="tablist">
	<li class="nav-item"
	    *ngFor="let tab of getTabs(); let i = index"
	>
		<a [ngClass]="isSelected(i) ? 'nav-link active' : 'nav-link'"
		   [href]="'#tab-' + getTabID(tab)"
		   [title]="tab.title"
		   role="tab"
		   data-toggle="tab"
		   aria-expanded="false"
		   (click)="selectTab(i)"
		>
			{{tab.title}}
		</a>
	</li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-panel tab-container-panel" role="tabpanel"
	     *ngFor="let tab of getTabs(); let i = index"
	     [ngClass]="isSelected(i) ? 'tab-pane fade in active show' : 'tab-pane fade in'"
	     [id]="'tab-' + getTabID(tab)"
	     aria-expanded="false"
	>
		<nuc-web-component
			*ngIf="isSelected(i)"
			[eo]="eo"
			[component]="tab.content"
		></nuc-web-component>
	</div>
</div>
