<div id="dashboard-menu" ng-controller="DashboardMenuController as vm">

    <div ng-init="vm.setWidgetConfig(widget)"></div>

    <div ng-repeat="menu in vm.menuItems | orderBy:'path'" class="menu-group" >
        <div ng-click="vm.toggleMenuItem(menu);" class="menu-item" ng-class="{'menu-hidden': menu.hidden}" >
            <div class="menu-path">{{menu.path}}</div>
        </div>
        <ul>
            <li ng-repeat="entry in menu.entries | orderBy:'name'" ng-hide="menu.hidden" class="menu-item">
                <img ng-src="{{entry.links.resourceicon.href}}" style="height:16px; width:16px;"/>
                <a ng-if="!entry.createNew && !entry.processMetaId" href="#/sideview/{{entry.boMetaId}}" ng-click="vm.closeModal()">{{entry.name}}</a>
                <a ng-if="entry.createNew && !entry.processMetaId" href="#/sideview/{{entry.boMetaId}}/new" ng-click="vm.closeModal()">{{entry.name}}</a>
                <a ng-if="!entry.createNew && entry.processMetaId" href="#/sideview/{{entry.boMetaId}}/process/{{entry.processMetaId}}" ng-click="vm.closeModal()">{{entry.name}}</a>
                <a ng-if="entry.createNew && entry.processMetaId" href="#/sideview/{{entry.boMetaId}}/process/{{entry.processMetaId}}/new" ng-click="vm.closeModal()">{{entry.name}}</a>
            </li>
        </ul>
    </div>
</div>
