:host {
	display: block;
	width: 100%;
	height: 100%;
}

@import "../../../../layout/abstract-lov/lov-overlay.scss";

.lov-overlay {
	top: 0.4em;
	right: 5px;
}

.lov-overlay {
	z-index: -1;
}

:host:hover .lov-overlay {
	z-index: 0;
	animation: showtooltip 1s linear alternate;
}

@keyframes showtooltip {
	from { z-index: -1; }
	to { z-index: 0; }
}

.lov-overlay:hover .fa {
	font-weight: bolder;
}
