{{value}}
<div class="lov-overlay">
	<nuc-search-reference-target
		*ngIf="isEditable"
		[eo]="subEO"
		[attributeMeta]="attributeMeta"
	></nuc-search-reference-target>

	<nuc-edit-reference-target
		[eo]="subEO"
		[attributeMeta]="attributeMeta"
		[attribute]="attribute"
	></nuc-edit-reference-target>
	<nuc-add-reference-target
		*ngIf="isEditable"
		[eo]="subEO"
	    [attributeMeta]="attributeMeta"
	></nuc-add-reference-target>
</div>
