<div class="fileupload-container disabled"
     *ngIf="!isEnabled()"
     [id]="getId()"
     [attr.name]="getNameForHtml()"
     disabled
     [ngStyle]="{'background': isImage && getImageUrl() ? 'url(' + getImageUrl() + ') no-repeat': 'none'}"
     [ngClass]="{'image': isImage}"
     (click)="clickOnFile()"
>
	<div
		*ngIf="fileName"
		class="document-filename ellipsis"
	>
		<img src="{{fileIconUrl}}">
		<span>{{fileName}}</span>
	</div>
</div>
<div class="fileupload-container"
     *ngIf="isEnabled()"
     [id]="getId()"
     [attr.name]="getNameForHtml()"
     ngFileDrop
     [options]="options"
     (onUpload)="handleUpload($event)"
     [ngClass]="{
        'file-over': hasDropZoneOver,
        'uploaded': isUploaded,
        'image': isImage
        }"
     (onFileOver)="fileOver($event)"
     [ngStyle]="{'background': isImage && getImageUrl() ? 'url(' + getImageUrl() + ') no-repeat': 'none'}"
     (click)="clickOnFile()"
>
	<div
		*ngIf="fileName"
		class="document-filename ellipsis"
		title="{{fileName}}"
	>
		<img src="{{fileIconUrl}}">
		<span *ngIf="!isImage">
			{{fileName}}
		</span>
	</div>
	<div *ngIf="!documentIsSelected" class="ellipsis">
		<label class="upload-file-select">
			<input type="file"
			       class="hidden"
			       ngFileSelect
			       [options]="options"
			       (onUpload)="handleUpload($event)"
			>
			<span
				*ngIf='showUploadLabel'
				class="upload-file-select-text"
				title="{{'webclient.fileupload.upload.selectOrDropFile' | i18n}}"
			>
				{{'webclient.fileupload.upload.selectOrDropFile' | i18n}}
			</span>
		</label>
	</div>
</div>
<span *ngIf="hasDocument()" class="icons">
	<a
		class="download-file"
		(click)="openDocument()"
		title="{{'webclient.button.download' | i18n}}"
	>
		<span class="fa fa-download"></span>
	</a>
	<a
		*ngIf="isEnabled()"
		class="reset-document"
		(click)="removeDocument()"
		title="{{'webclient.button.removeDocument' | i18n}}"
	>
		<span class="fa fa-trash"></span>
	</a>
</span>
