@import "../../../styles";

.fileupload-container {
	height: 100%;
	background-size: contain !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-width: 1px;
	border-style: dashed;
	border-color: rgba(0, 0, 0, .15);
	border-radius: .2rem;
	display: flex;
	padding-left: 3px;
}

.fileupload-container.file-over {
	border-color: green;
	background: lightgreen;
}

.fileupload-container.disabled {
	background: $form-input-disabled-background-color;
}

.fileupload-container[disabled] {
	border-style: solid;
}

.hidden {
	display: none;
}

label {
	display: inline;
}

.fileupload-container .document-filename span, .upload-file-select-text, a {
	cursor: pointer;
}

.document-filename {
	flex: 1;
	padding-top: 0.2em;
}

.document-filename span {
	position: relative;
}

.upload-file-select-text {
	color: #bdbdbd;
}

.icons {
	position: absolute;
	top: 3px;
	right: 3px;
	padding-top: 0.2em;
	padding-right: 0.2em;
	display: none;
}

:host:hover .icons {
	display: inherit;
}

.fa-trash {
	color: red;
}

.image {
	cursor: pointer;
}

.upload-file-select {
	height: 100%;
	display: inline-block;
}
