:host {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	empty-cells: hide;
}

tr {
	border-collapse: collapse;
}

/*
The first row is only used to set column widths.
Setting the height to 0px does not work in Firefox.
*/
tr:first-child {
	height: 0.01px;
}

td {
	padding: 0px;
	white-space: nowrap;
	/*border: 1px solid red;*/
	/*border: 1px dashed lightgray;*/
	vertical-align: top;
	border-collapse: collapse;
}
